[2015-09-18 21:23] #2580 closed

[2015-09-18 21:25] chetan51 commented on #2467
Fix was reverted.

[2015-09-18 22:32] rhyolight commented on #2428
First implementation can be found at https://github.com/numenta/nupic/pull/2429.

[2015-09-18 22:33] rhyolight commented on #2494
First implementation can be found at https://github.com/numenta/nupic/issues/2490.

[2015-09-19 08:31] viveklife2003 opened #2586 "Can we run nupic module in pycharm or with any other python IDE. Is there any specific steps to do that?"

[2015-09-19 14:51] rhyolight commented on #2586
Yes it is possible, but setting up different IDEs is the developer's responsibility. I hope you understand that we cannot provide detailed instructions on setting up every IDE.

However, [this search result](http://numenta.org/search/?q=pycharm) across all our mailing lists and issue trackers might help you. This is definitely something you could ask to the nupic-hackers mailing list.

Also, if yo

[2015-09-19 14:51] #2586 closed

[2015-09-21 14:08] felippemr commented on #2543
Thank you @rhyolight, I followed your instructions but the error persists:

[code]

[2015-09-21 17:26] #2467 closed

[2015-09-22 00:36] scottpurdy commented on #2538
Proposal for the C++ interface (actually an abstract class since interfaces in C++ can't have any method definitions, only purely virtual functions):

https://github.com/scottpurdy/nupic.core/blob/capnp-interface/src/nupic/proto/Serializable.hpp

[2015-09-22 00:39] scottpurdy commented on #2537
Is there objection to closing this in favor of the learn-as-function-parameter approach? That simplifies things like serialization and is probably less error prone.

[2015-09-22 00:53] cogmission commented on #2537
:+1:  I know I'm not a reviewer, but I agree with Scott. Moving toward extraction of state is a good thing I believe.

[2015-09-22 00:58] #2358 closed

[2015-09-22 03:11] #2572 closed

[2015-09-22 08:44] rcrowder commented on #2565
@chetan51 Closed the associated PR, to re-fork and make a fresh one. Will ping you soon when this is cleaned and ready for review again.

[2015-09-22 11:37] rcrowder commented on #2565
Cleaner PR can be found here https://github.com/numenta/nupic/pull/2589

[2015-09-22 15:02] rhyolight commented on #2543
@felippemr Just yesterday, we [released NuPIC 0.3.2](https://github.com/numenta/nupic/releases/tag/0.3.2). Please re-run the instructions to uninstall and re-install NuPIC again? Sorry for all the trouble.

[2015-09-22 15:28] felippemr commented on #2543
I tried, but:

[code]

[2015-09-22 15:37] oxtopus opened #2590 "nupic source tarball not suitable for installation"
See below, in which the required xml files are not present in the .tar.gz file published to pypi.  This causes problems if nupic is installed from source tarball.

[code]

[2015-09-22 16:17] rhyolight commented on #2543
Here is [another report of this error](http://lists.numenta.org/pipermail/nupic_lists.numenta.org/2015-September/011741.html) on OS X.

[2015-09-22 16:25] rhyolight commented on #2537
:+1: But we need someone to create a new issue to capture that before closing this one.

[2015-09-22 16:32] #2590 closed

[2015-09-22 17:23] rhyolight commented on #2543
We think this is a `nupic.core` issue. Closing this in favor of https://github.com/numenta/nupic.core/issues/619.

[2015-09-22 17:23] #2543 closed

[2015-09-23 06:08] JonnoFTW opened #2592 "exp_generator/experimentDescriptionSchema.json incorrectly refers to StreamDef.json in wrong folder"
The file:
https://github.com/numenta/nupic/blob/master/src/nupic/swarming/exp_generator/experimentDescriptionSchema.json#L276
incorrectly refers to a file that no longer exists (it appears this was changed after a change in file naming convention re: #971 ). It should refer to:
https://github.com/numenta/nupic/blob/master/src/nupic/frameworks/opf/jsonschema/stream_def.json

Edit: additionally, the

[2015-09-23 07:12] #2565 closed

[2015-09-23 15:17] subutai opened #2593 "Remove greedy re-estimation of distribution"
in Anomaly Likelihood. Turns out this trick can hurt when you have anomalies early on. It does not seem to help in any situation.  Tested and verified with NAB.

[2015-09-23 16:20] oxtopus opened #2595 "nupic.bindings source release not suitable for installation"
In a fresh environment without numpy installed, if you install a python project with `pip` that specifies `nupic.bindings` as a dependency, it will download the source release of `nupic.bindings` and then fail.  For example, when I try to install `nupic` in Ubuntu 14.04, I get the following excerpt:

[code]

The problem can be replicated by downloading the tarball directly and running `setup.py`:

[2015-09-23 16:44] rhyolight opened #2596 "stream definition schema reference is wrong in experiment generator"
https://github.com/numenta/nupic/blob/master/src/nupic/swarming/exp_generator/experimentDescriptionSchema.json#L276

[2015-09-23 17:32] rhyolight commented on #2570
@felippemr I think we fixed this yesterday by simply updating an incorrect README instruction: https://github.com/numenta/nupic/commit/63b15386f0a6f9c5ebac07388dbfa9be7b4b6c20.

The latest README for binary installation on Ubuntu should now work for you.

[2015-09-23 19:45] #2596 closed

[2015-09-23 19:51] oxtopus commented on #2595
Meant to create this in numenta/nupic.core

[2015-09-23 19:51] #2595 closed

[2015-09-23 19:55] rhyolight opened #2598 "README installation requirements should list "C++ compiler""
As reported in https://github.com/numenta/nupic.core/issues/619#issuecomment-142710533. This is necessary for Cap'n Proto installation.

[2015-09-23 19:57] rhyolight opened #2599 "Add video installation guides to README"
Hey @numenta/nupic-committers, do you think the README is an appropriate place to put links to video installation guides like this:

[![Installing NuPIC on Ubuntu Video Thumbnail](http://img.youtube.com/vi/1fIpgXHXAZA/hqdefault.jpg)](http://www.youtube.com/watch?v=1fIpgXHXAZA)

[2015-09-23 20:08] rhyolight commented on #2598
@numenta/nupic-reviewers OK?

[2015-09-23 20:10] rhyolight commented on #2599
I haven't done the OS X video yet, waiting on a machine.

[2015-09-23 20:10] oxtopus commented on #2598
:+1:

[2015-09-23 20:21] subutai commented on #2569
@rhyolight I don't think it really needs algorithm knowledge but it does require someone who is experienced with Python and very careful. This will likely cause backward incompatibilities and may be tricky to implement. So, it's definitely not for a beginner.

[2015-09-23 21:26] #2598 closed

[2015-09-23 22:42] #2593 closed

[2015-09-24 11:38] breznak commented on #2543
@rhyolight the binary install from wheel for nupic.core and pip for nupic works for me now. :+1:

[2015-09-24 11:57] breznak commented on #2538
So putting this on hold for now (?)

[2015-09-24 15:17] breznak commented on #2537
@scottpurdy @cogmission Ok, can we then just change the meaning of this issue to reflect your ideas?:

[code]

[2015-09-24 18:26] cogmission commented on #2537
@breznak I think the most recent conclusion is to not use this interface? That would mean that we wouldn't need this issue if we're all agreed to this (not me, but the reviewers). @scottpurdy Is this correct?

[2015-09-24 20:26] rhyolight commented on #2543
@breznak that's a relief, thanks.

[2015-09-24 21:01] rhyolight opened #2603 "pip / easy_install does not always recognize operating system"
When running either `pip install nupic` or `easy_install nupic`, sometimes the OS of the user is not identified properly, and even though there is a `nupic.bindings` binary available that fits the OS, an error like this is returned:

    nupic.bindings-0.2.1-cp27-none-macosx_10_9_intel.whl is not a supported wheel on this platform.

You can see this here: https://github.com/numenta/nupic.core/issu

[2015-09-24 21:06] oxtopus opened #2604 "Dockerfile out of date"
nupic Dockerfile doesn't build due to lack of support for binary distribution of nupic.bindings.

When I build locally in docker, I get the following failure:

[code]

[2015-09-24 21:11] rhyolight commented on #2604
Can we just add `pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic.core/releases/nupic.bindings/nupic.bindings-0.2.1-cp27-none-linux_x86_64.whl
` to the Dockerfile?

[2015-09-24 21:38] oxtopus commented on #2604
More or less.  Need to extract the version number out of requirements.txt in order to know which file to download.  Stand by.

[2015-09-24 21:43] scottpurdy commented on #2537
Yes that is what I was thinking.

[2015-09-24 21:57] breznak commented on #2537
Ok, let's close it then.

[2015-09-24 22:19] #2604 closed

[2015-09-25 16:56] #2537 closed

[2015-09-25 18:11] rhyolight opened #2606 "Regression tests are broken"
[And have been for about a month.](https://travis-ci.org/numenta/nupic.regression/builds)

[2015-09-25 18:12] rhyolight commented on #2606
cc @subutai & @BoltzmannBrain

[2015-09-25 19:52] rhyolight opened #2607 "Installing NuPIC will install NumPy again even though nupic.bindings also installed it"
See [6m 23s into this installation video](https://youtu.be/1fIpgXHXAZA?t=6m23s). When installed from binary, numpy is installed twice.

[2015-09-25 19:52] rhyolight commented on #2607
@oxtopus Any idea why this might be?

[2015-09-25 20:45] oxtopus commented on #2607
Yes!

The numpy requirement in nupic.bindings, as defined at https://github.com/numenta/nupic.core/blob/master/bindings/py/requirements.txt#L5 specifies anything >= 1.9.2.  As of 9/21/2015, the latest version on pypi is 1.9.3 (https://pypi.python.org/pypi/numpy/1.9.3), so when you install nupic.bindings, it installs 1.9.3.  Meanwhile, nupic has a strict requirement at https://github.com/numenta/nu

[2015-09-25 20:57] cogmission commented on #2537
Did we do this, anyone?

[2015-09-25 21:09] scottpurdy commented on #2537
@cogmission - I don't know what the task would be.

[2015-09-25 21:22] cogmission commented on #2537
@scottpurdy  For the compute() interface to include an "isLearn" parameter? I'm not sure - I think @rhyolight mentioned this (above)?

[2015-09-26 00:10] #2607 closed

[2015-09-26 01:44] rhyolight commented on #2607
@numenta/nupic-contributors This bug was actually preventing me from compiling on Ubuntu. This is good reason to explicitly declare dependency versions.

[2015-09-28 05:35] go-bears commented on #2548
Hello subtai,

I"m a newbie contributor and would like to try tackling this bug. I would like more information about what you would like fixed. I can fix the "temporal pooler", but what phrase would replace it?

Also, I don't quite understand fix required to address the comment: "This issue is to port the file over to use the newer and easier to understand TemporalMemory and FastTemporalMemory". I

[2015-09-28 06:05] go-bears commented on #2387
Hello, sorry for the referencing the wrong commit. I"m a newbie learning how to contribute properly. For this bug  Is the fix you're looking for
from "Indices of segments with   " to "Indices of segments with active synapses" ?
Thank you for your time and guidance in advance.

[2015-09-28 17:32] scottpurdy commented on #2537
You can't enforce one parameter to a function but not the rest of the function interface.

[2015-09-28 17:43] cogmission commented on #2537
Is there a way the interfaces could all share common parameters (including "isLearn")? That would simplify things like the network architecture. Perhaps by wrapping the inputs in an InferenceInput or something that can contain the slight variances in compute() method parameters? Just an idea...

[2015-09-28 17:46] rhyolight commented on #2592
Related to: https://github.com/numenta/nupic/issues/2596.

This is up for grabs for anyone.

[2015-09-28 18:43] scottpurdy opened #2614 "Add nupic.vision as an optional component to install"
https://pythonhosted.org/setuptools/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies

[2015-09-28 19:01] subutai commented on #2548
@go-bears That's great! I hope this will help you in your understanding of HTM sequence memory. I should be a little more specific about the changes and will make the edits in the main issue description.

[2015-09-28 21:47] #2265 closed

[2015-09-28 21:47] #2592 closed

[2015-09-29 00:46] #1863 closed

[2015-09-29 15:13] #1862 closed

[2015-09-29 15:13] rhyolight commented on #1862
All subtasks complete.

[2015-09-29 18:58] arhik commented on #2548
@subutai

I dont want to mess with temporalMemory code yet. So i modified the code to print the cell states for now with in the example code. Once i get used to contributions formalities i will work on it too.

Karthik.

[2015-09-29 19:31] go-bears commented on #2369
is this issue closed? The github link above brings up a 404 error.

[2015-09-29 19:34] breznak commented on #2369
links die over time :( it's just the recent move to "src/", see
https://github.com/numenta/nupic/blob/master/src/nupic/regions/SPRegion.py#L163

[2015-09-29 19:43] go-bears commented on #2369
Thanks for the redirect! I can do the fix. delete all empty constraints between lines 163-295? or go through the entire file?

[2015-09-29 22:26] gamahead commented on #1813
I've been struggling with this issue for a few days now between two different instances of OS X, and was able to circumvent it on both systems by removing system python and linking to the homebrew python.

[code]

[2015-09-29 22:48] breznak opened #2616 "Py and C++ classes use same init params"
EDIT: This issue is to enforce that py and C++ use the same init params. Doing otherwise is against the principle that those 2 implementations are identical. This is fixing (unfortunately not, but cornering) a real problem where SDR representations differ in SP in Py/C++ implementations.

- [ ] blocked by: https://github.com/numenta/nupic.core/issues/628

[2015-09-29 23:02] rhyolight commented on #1813
thank you, @gamahead. another way to work around this is to [compile from source code](https://github.com/numenta/nupic/wiki/Installing-and-Building-NuPIC#compiling).

[2015-09-30 04:23] rhyolight opened #2619 "Move model selection utilities from HTM Engine into NuPIC"
As described by an [internal JIRA task](https://jira.numenta.com/browse/ENG-73):

Presently, unicorn's backend relies on `getScalarMetricWithTimeOfDayParams()` from htmengine, which would be better moved into NuPIC.

[code]

The plan it to move the `algorithms.modelSelection*` logic and data files somewhere into nupic, where they may be shared by others:

1. move `htmengine/algorithms/modelSelecti

[2015-09-30 04:32] breznak commented on #1352
@rhyolight I'm trying to unblock this with #2616 , unfortunately it does not seem to solve the problem. Could you review this issue and help to get some traction? I find it very odd to work with (c++) SP when we know the produced SDRs are not the same.

[2015-09-30 07:19] go-bears commented on #2369
Hmm, this fix failed one Travis test. what can i do to fix the bug to pass the CI test?

tests/unit/nupic/algorithms/nab_detector_test.py:122: NABTest.testModelCreator FAILEDCoverage.py warning: No data was collected.

[2015-09-30 14:25] rhyolight commented on #2369
@go-bears Can you create a pull request so we can debug there? Otherwise it is hard to tell what all your changes are.

[2015-09-30 22:01] #2619 closed

[2015-09-30 22:18] vitaly-krugl opened #2621 "package_data dict passed to `setup()` in nupic's setup.py may be superfluous"
The  `package_data` dict passed to `setup()` in nupic's setup.py may be superfluous. In PR #2617, my code is loading a .json file from "nupic/frameworks/opf/common_models/anomaly_params_random_encoder". This json file is covered by the rule `recursive-include src/nupic *.capnp *.json *.tpl *.txt *.xml` in nupic's MANIFEST.in, but not covered by any rule in `package_data`. Despite this omission fro

[2015-09-30 22:18] go-bears commented on #2369
Here's the link to the side-by-side comparison. I think I opened the pull request properly, but I'm copying the link just in case.
https://github.com/go-bears/nupic/commit/469d5aa9858fce203bbec852b8eccc5c71c696b1

[2015-09-30 22:23] vitaly-krugl commented on #1736
@rhyolight, was it possibly missing from MANIFEST.in? We shouldn't have to add `__init__.py` files in data directories. Also see #2621

[2015-09-30 22:29] oxtopus commented on #1736
On the subject of MANIFEST.in and superfluous package_data, according to https://docs.python.org/3.4/distutils/sourcedist.html#specifying-the-files-to-distribute:

I interpret that to mean that if you use MANIFEST.in (which we do), then it doesn't matter what is in `package_data`.  The files need to be added in MANIFEST.in.  In which case, we can remove `package_data` from setup.py.

[2015-09-30 22:36] vitaly-krugl commented on #2621
@oxtopus had this to say about it in #1736:

[2015-10-01 09:55] breznak commented on #2569
can the first step be moving all stuff to `nupic/algorithms` and later some parts can be moved elsewhere?

[2015-10-01 10:28] hopper333 opened #2623 "pip install on Mac 10.9.5 fails on capnp source build"
tried to install NuPIC from pip

was going OK until it decided that capnp was not installed (it is though, in Macports)  and tried to build from source:

crown:nupic-0.2.6 mwh$ pip install nupic
Collecting nupic
  Using cached nupic-0.3.3-py2-none-any.whl
Requirement already satisfied (use --upgrade to upgrade): pytest-cov==1.6 in /opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/pyt

[2015-10-01 13:25] breznak opened #2624 "Create dummy HelloWorld unit-test to easily bootstrap new tests"
... a good idea or useless? @rhyolight

[2015-10-03 03:12] subutai commented on #2569
We could but I think it would be easiest to do in one step.

[2015-10-03 17:26] #1753 closed

[2015-10-03 17:27] #2391 closed

[2015-10-04 11:58] frank-tancf opened #2626 "gcc error when set up nupic.core"
Sorry guys. I got something I didn't know how to solve.

When I doing the last step of setting up nupic.core ,which is
    python setup.py develop --nupic-core-dir=${HOME}/local --prefix=${HOME}/local

I got error message below,

c++ -pthread -shared -Wl,-O1 -Wl,-Bsymbolic-functions -Wl,-Bsymbolic-functions -Wl,-z,relro -fno-strict-aliasing -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -D_FORT

[2015-10-04 12:14] frank-tancf commented on #2626
And my Gcc version is:

Using built-in specs.
COLLECT_GCC=c++
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/4.8/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 4.8.4-2ubuntu1~14.04' --with-bugurl=file:///usr/share/doc/gcc-4.8/README.Bugs --enable-languages=c,c++,java,go,d,fortran,objc,obj-c++ --prefix=/usr --program-suffix=-4.8 --enable-share

[2015-10-05 15:27] rhyolight commented on #1352
@subutai If, as @breznak says, the SDRs produced by our python implementation and our c++ implementation are truly producing different SDRs, would you consider that a serious problem that we need to investigate immediately? cc @numenta/nupic-committers

[2015-10-05 15:47] cogmission commented on #1352
Don't worry... (but investigate) it is probably due to the Random Number
Generation - Even though the basic algorithm (Mersenne Twister) is the
same, all the operations on the RNG don't yield the same results... Been
there, disgusted by that... :-)

On Mon, Oct 5, 2015 at 10:27 AM, Matthew Taylor <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Corti

[2015-10-05 16:22] rhyolight commented on #1736
I find it all immensely confusing. :confused:

[2015-10-05 17:25] subutai commented on #1352
Yes, this would be good to investigate. We do have extensive tests on this and in those tests the two implementations are identical. I do know that they can start to depart for long running jobs due to precision differences in Python/C++ math libraries.

I can't judge the priority unless we know the exact situation. Is there a simple test script that can reproduce the differences? If I understand

[2015-10-05 20:07] rhyolight commented on #2623
@hopper333 The https://capnproto.org/capnproto-c++-0.5.1.2.tar.gz link works for me. I'm not sure why the download didn't work.

I am not familiar with Macports, so I have no idea where it put Capnp when it installed it, but pycapnp is not finding it.

One solution would be to get and install capnp yourself:

[code]

[2015-10-05 20:08] rhyolight commented on #2624
Sounds like a good idea to me.

[2015-10-05 20:20] rhyolight commented on #2626
Duplicates https://github.com/numenta/nupic.core/issues/632.

[2015-10-05 20:20] #2626 closed

[2015-10-05 22:05] #2548 closed

[2015-10-05 22:37] scottpurdy commented on #1340
The metric is what the swarm attempts to optimize. Since a metric is necessary to decide which parameters are best, it isn't possible to swarm over the metric (if you somehow set it up it would just pick whichever metric returned the smallest number).

Ultimately the metric you use should match your application use case. So if the value of the results is linear with the absolute error then AAE wou

[2015-10-06 06:30] breznak commented on #1340
Well, it is possible, but true that it's tricky. It would be a meta-heuristic that selects the heuristic used for param. optimization. I actually think the process would be quite straightforward - `select a heuristic that gives the biggest number (error)` as this has the most sensitive "info gain" on that problem.
What would be nice is that it would completely hide the metric selection problem and

[2015-10-06 09:07] breznak opened #2627 "SpatialPooler: cleanup inhibition"
Small simplifications to SP inhibitions I came along during other PR work

[2015-10-06 09:59] breznak opened #2629 "Spatial pooler: remove tieBreaker functionality for overlapping columns"
`tieBreaker` is an array of random noise, used to "break" ties between columns with the same overlap when we need to sort them for inhibition/boosting.

As @scottpurdy suggested in https://github.com/numenta/nupic.core/pull/629#discussion_r41069153 the array should be removed and replaced with a function that will break individual ties.

Benefit: columns win ties randomly, noone gets a preference.

[2015-10-06 11:27] JonnoFTW commented on #1712
Any progress on this so far?

[2015-10-06 11:50] breznak opened #2630 "remove duplicit Numpy dependency, already in nupic.bindings"
`numpy` is a core dependency of nupic, but it's already included in `nupic.bindings` and therefor should not be defined in nupic again.

The problems with this were reported by @rhyolight when installation went twice through installing numpy, as different versions were required for core(bindings) and nupic.

The removal speeds up time for installation and could avoid some tricky problems when diff

[2015-10-06 12:47] breznak opened #2632 "State-full Anomaly class - avoid 2 column state fields at T, T-1"
currently `Anomaly.compute()` uses 2 main params: `activeColumns` and `predictedColumns`;
there may be some confusion about those variables, but basically `predictedColumns` = output of the TP at time T-1, and `activeColumns` = input to the TP at time T. These 2 values are compared and an anomaly score is produced.

Enhancement would be to carry one of the states in the class, and require only an

[2015-10-06 12:47] breznak commented on #2632
CC @scottpurdy I think this really makes sense for the Anomaly class..

[2015-10-06 13:15] cogmission commented on #2632
:+1: That would be consistent with what the TemporalMemory does at least...
Though you know I'm against state in the algorithms in general. But I agree
with the interface change... If anybody cares...

On Tue, Oct 6, 2015 at 7:47 AM, breznak <notifications@github.com> wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <htt

[2015-10-06 14:26] breznak commented on #2632
Thanks for the heads up @cogmission ! Actually this one could be done state-less, if the book keeping is done only in the method, like:

[code]

But I'm not sure if it's any nicer, and would have problems with serialization.

[2015-10-06 14:39] breznak opened #2634 "SP boosting disturbance test"
Testcase when boosting causes significant difference in TP state, resulting in wrong predictions or false anomalies. See the referenced issues for more context.

[2015-10-06 16:39] rhyolight commented on #1712
Nothing yet.

[2015-10-06 16:41] rhyolight commented on #2630
See: https://github.com/numenta/nupic/issues/2607

This was actually because nupic.bindings and nupic required different versions of numpy (one was `==1.9.2` and the other was `>=1.9.2`, so because the `>=` requirement was fulfilled first and the latest release was 1.9.3, it got installed. Then during the nupic build, 1.9.2 was installed.

After fixing both requirements to have the same explicit d

[2015-10-06 16:43] rhyolight commented on #2630
Now that I think about it... we might be able to just remove the numpy requirement from nupic completely, if it comes along with the nupic.bindings binary file, or gets installed as a dependency of nupic.bindings during a local compilation.

Thoughts @scottpurdy @oxtopus ? Maybe someone should create a PR that removes numpy from nupic and see what happens in the builds.

[2015-10-06 16:44] rhyolight commented on #2630
Maybe I should pay attention! https://github.com/numenta/nupic/issues/2631

[2015-10-06 16:46] rhyolight commented on #2632
Global state is still state. I would much rather this be instance state than global state.

[2015-10-06 16:51] cogmission commented on #2632
The idea is not to get rid of state (that's impossible) - but to remove it
from the Algorithms

On Tue, Oct 6, 2015 at 11:46 AM, Matthew Taylor <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/numenta/htm.java>

d.ray@cortical.io
http://cortical.io

[2015-10-06 18:19] oxtopus commented on #2630
There are multiple schools of thought, and I don't think there's consensus on the right one.

Personally, I don't think we should duplicate requirements in requirements.txt, if one is explicitly satisfied in an earlier-in-the-chain dependency.  However, others like seeing explicit dependencies in the requirements at every level.

One extreme view might be that if you require functionality of a dep

[2015-10-06 19:20] scottpurdy commented on #2630
I think it is much simpler to ignore your dependencies dependencies and just declare everything you need.

[2015-10-06 22:11] vitaly-krugl opened #2637 "Cells4::saveToFile can fail without generating an exception"
Here is a real possibility of something that can result in an incomplete R2-xtra file:

[code]

When outStream goes out of scope, its destructor calls `close()`, but doesn't check for close error. `close()` doesn't raise. So, if flushing of the buffer failed in the scope of the destructor (e.g., out of disk space), then there would be no exception, and the failure would not be detected, and the fi

[2015-10-06 22:29] rhyolight commented on #2637
@vitaly-krugl This is a `nupic.core` bug, right?

[2015-10-06 22:51] vitaly-krugl commented on #2637
Moved to https://github.com/numenta/nupic.core/issues/643

CC @rhyolight

[2015-10-06 22:51] #2637 closed

[2015-10-06 23:36] rhyolight commented on #2637
@vitaly-krugl Thanks.

[2015-10-07 01:39] scottpurdy commented on #2632
Predicted columns are not the same as the active columns at the next step. The typical raw anomaly score is the fraction of active columns that were not predicted (from the previous step). But we still have two new inputs to the class every step.

[2015-10-07 05:04] breznak commented on #2630
Seems there's more people for keeping dependencies as is, closing this too.

[2015-10-07 05:04] #2630 closed

[2015-10-07 05:11] breznak opened #2639 "SP: review a commented out inhibition test"
at https://github.com/numenta/nupic/blob/master/tests/unit/nupic/research/spatial_pooler_unit_test.py#L1318

[2015-10-07 05:50] scottpurdy commented on #2629
@subutai @chetan51 - Do you guys see anything wrong with removing the tieBreaker array in favor of generating random tie breaker values when needed? It seems to me that we could not add any noise and just sort, letting the result of the sort be the tie breaker.

The only reason I see to keep it as is is if we need the column preference (which column wins out over which other columns in a tie break

[2015-10-07 05:54] scottpurdy commented on #1340
That obviously wouldn't work. Take a bad metric and multiple it by a large number and it will always win.

[2015-10-07 05:56] JonnoFTW opened #2640 "Saving a model created within a multiprocessing.Process and saved on the main process will fail"
I'm running a numerous models, each created inside it's own process from a [`multiprocessing.Pool`](https://docs.python.org/2/library/multiprocessing.html#multiprocessing.pool.multiprocessing.Pool). Afterwards, if I want to save this model on the main process, I get the following error:
[code]
Where the value of `out_dir` is `/scratch/Dropbox/PhD/htm_models_adelaide/engine/model_store/3103`

My mu

[2015-10-07 05:59] breznak commented on #1340
True that, shutting the idea.. Thanks.

[2015-10-07 05:59] #1340 closed

[2015-10-07 06:06] subutai commented on #2629
The main issue is that the tie breaking should be consistent. That way a given input will always generate the same SDR (assuming no learning in between). This is why we use a random but fixed tie breaker array.

[2015-10-07 06:15] breznak commented on #2629
shouldn't sorting (even the same values) be also deterministic? But then
the array seems safer

[2015-10-07 06:18] breznak commented on #2632
Thanks, I've totally missed that! Then this issue makes no sense, unfortunately. I've just remembered why I've tried to get a hold of the TP/TM instance in the Anomaly...

I'll just make sure there're convenient `getActive/PredictedColumns()` methods in TP/TM and close this

[2015-10-07 06:37] breznak opened #2641 "Forced limited precision for (float) variables"
Goal: numeric stability between c++/py/java/... implementations.

Q: should we do something like a "cropped floating data type"? And round all permanences to a certain precision? See https://github.com/breznak/nupic.core/commit/ee5bfafaf52c6bdd0c37012c5fcb78c1ba9c23a0

Includes TP/TM/SP,..

[2015-10-07 06:38] breznak commented on #2641
CC @scottpurdy

[2015-10-07 15:42] rhyolight commented on #2640
@scottpurdy @oxtopus @jcasner I believe this is an important bug to address, especially because @JonnoFTW is working on an HTM Challenge submission.

Can we divert engineering resources to investigate this?

[2015-10-07 16:12] subutai commented on #2629
Yeah, we could do that. The random array spreads out the winners a bit more but probably has identical behavior since it is a fixed random array.

[2015-10-07 16:26] breznak commented on #2629
more but probably has identical behavior since it is a fixed random array.

Question is if it's worth the work.

Or we could replace the `tieBreaker` array from time to time, with a fixed
rng it's deterministic + has the benefit of modified "biased columns" (if
that's significant at all)

[2015-10-07 17:02] oxtopus commented on #2640
I don't think it's a bug, per se.  It's an issue w/ serialization and shared memory in python multiprocesing pools.  Consider this example:

[code]

The output for which is:

[code]

The _objects_ returned by `Pool.map()` are not the same, actual instances created in the `foo()` function.  I don't know what guarantees, if any, we offer about the state of objects between processes, which would requ

[2015-10-07 17:23] rhyolight commented on #2640
@oxtopus said:

@JonnoFTW Is there a way you can ensure you only save models in the process that created it?

@oxtopus said:

So basically, this is just a property of how multiprocessing works in python. I'll remove the bug label, but I'll keep the issue open in hopes we can work with @JonnoFTW to find a workaround.

[2015-10-07 17:29] subutai commented on #2629
I don't think it's worth the work. We would need to update both PY and C++ implementations. I doubt it will significantly improve performance or accuracy in any way.

[2015-10-07 17:45] breznak commented on #2629
Marking a P4, or close if you feel like that.

[2015-10-07 17:49] #2627 closed

[2015-10-07 17:50] scottpurdy commented on #2629
@subutai - It would be nice to lose the serialized state. We could deterministically determine the random seeds, store them in memory for speed purposes, but regenerate them whenever we reload the model. That keeps same behavior and speed but without the extra serialized state. Thoughts on that?

[2015-10-07 18:07] subutai commented on #2629
@scottpurdy Sure, that would be fine. I hadn't considered the cost of serialization, so that seems like a win.

[2015-10-07 18:32] ppuskari opened #2642 "Ubuntu 14.04 LTS build fail after commit 623 on September 26, 2015"
Success compile and build of the full NuPic system  core and nupic  with the 623 commit on September 26, 2015

Update to any > commit version up to present and the build will fail with a a failure to locate the capnproto install path during the cmake step after building requirements

Compilation and installation success with build 623 commit
Compilation failure during cmake process using any commi

[2015-10-07 18:46] breznak commented on #2642
So this is a nupic.core issue, and not nupic, right?
If so, did you double check the readme? the cmake part is `../..` now, not
`../../src` ; or that was the catch for me! :)

[2015-10-07 19:10] ppuskari commented on #2642
Yes technically this would be nupic.core  correct.

The line used was this
cmake $NUPIC_CORE/src -DCMAKE_INSTALL_PREFIX=../release

So pointing directly at the /src location

$NUPIC_CORE was properly defined and the src folder present and normal privs/ownership

If I reset to current git state it will fail, but if I go back and reset git to the 623 state it works fine.  This holds true on this bui

[2015-10-07 19:16] breznak commented on #2642
Looks like I said, you don't follow the recent readme:

cmake $NUPIC_CORE -DCMAKE_INSTALL_PREFIX=../release

This change is confusing :)

[2015-10-07 19:29] cogmission commented on #2629
Why does it matter if the RNG sequence repeats? It only executes random
choosing behavior, it doesn't really determine much...? Why bother
serializing it? Isn't that taking determinism too far? Who cares if you
pick the same learning cell at any particular point in the sequence? Things
like that are deterministic at a higher level where picking cell 1 or cell
2 will result in the same distal dendr

[2015-10-07 19:46] ppuskari commented on #2642
Okay looks like that is certainly the case.   It's working as designed now.     Totally missed the non Src reference.

We can close this bug

Sent from my iPhone

[2015-10-07 21:20] #2642 closed

[2015-10-07 23:40] scottpurdy commented on #2640
@rhyolight - capnp effort will provide an option but no eta still due to resources

[2015-10-08 00:30] breznak opened #2645 "Way to increase(/decrease) forgetting/synaptic decay at different distances"
Improve the way we can hint forgetting of sequences. Or setting contextual closeness.

The current means to do so are:

* **maxSequenceLength**
will restart the sequence learning once the length is reached (~1000)
* **globalDecay**
synapses disintegrate/leak with time. (off, 0)
* **pamLen**
pay-attention-mode. End of last seq. is connected to the start of the new (correct?) (def. ~3)
* **manual re

[2015-10-08 02:05] JonnoFTW commented on #2640
I'm aware of the limitations of `cPickle` wrt to multiprocessing in python.
I reorganised the code so now models are created and saved on the main process (but still run them in a child process) and now I get the exception when saving:

[code]

[2015-10-08 02:10] oxtopus commented on #2640
Models can't be shared across process boundaries in that sense for the same reason as before.  The models will need to be created, inferences executed, and saved in the same process.

[2015-10-08 02:37] JonnoFTW commented on #2640
Even if the creating/inferring/saving all happen in a child process I get the same exception.

[2015-10-08 03:29] oxtopus commented on #2640
I'm attempting to replicate the failure mode by modifying one of the hotgym examples to use process pools at https://github.com/numenta/nupic/compare/numenta:master...oxtopus:issue-2640-pooled-models

Here's the output on my system, in which it starts in the main process (PID 2671), then creates, runs, and saves some models in PIDs 2678 and 2679, and returns back to the main process (PID 2671):

[

[2015-10-08 06:21] JonnoFTW commented on #2640
Okay I figured it out, pymongo was returning unicode objects for strings, this was used as the name of the encoder. The serialisation library didn't like this and threw the error (I probably should have paid more attention). All I had to do was make the intersection names into a string and it all worked, saving/inferring from a child process.

[2015-10-08 06:21] #2640 closed

[2015-10-08 12:16] breznak commented on #2634
This is an example what adversary effect the boosting disturbances have:

(iteration, anomaly score) on constant(!) fn, using SP only.
[code]

[2015-10-08 12:16] breznak commented on #823
This is an example what adversary effect the boosting disturbances have:

(iteration, anomaly score) on constant(!) fn, using SP only.
[code]

[2015-10-08 12:59] breznak opened #2646 "SpatialPooler boosting: is called each run, not on dutyCycle only"
As I understand it, boosting should happen only at certain times (dutyCycle), this does not happen!

* `dutyCycle` book-keeping has to happen each iteration, smooth update of `boostFactors` (=boost columns) likely too.
* but boost to columns synapses (`bumpUpWeakColumns()`) should happen only on the update round.

Doing so does not affect accuracy, improves performance, and imho is "more correct"

[2015-10-08 13:05] breznak commented on #2646
Here is a view for better review:
https://github.com/breznak/nupic/compare/boosting...breznak:boosting_bumpUpWeak_fix?expand=1

[2015-10-08 13:48] breznak commented on #823
Thoughts when approaching the implementation ...

    boost the output of the columns selected for boosting with a nice curve (0.1 0.3 0.75 1.0 1.0 0.75   0.3 0.1) (column's output*(1+curve_coef)) over time.

Ok, I'm started to dislike this strategy, as I'd like to be able to set `maximum allowed disturbance caused by boosting` (as % of columns). It is impossible with this approach.

[2015-10-08 13:52] breznak commented on #823
Ideally, I'd like to solve it in SP only, not in TP+anomaly; but that's a way too..

[2015-10-08 14:00] breznak commented on #823
(I think it's safe to ignore them from the computation as those cols were unused before anyway)

This leads to an interesting idea: create a `bitmask filter` that is applied atop the SP's output. This could serve to fix the ties (like current solution, CC @scottpurdy ), inverse effects of `updateBoostFactors()`; but still cannot cope with `bumpUpWeakColumns()`

[2015-10-08 14:06] breznak commented on #823
Therefor as a winner to me looks

say we want to boost 20 columns. boost them the normal way, but stretch it over 20 iterations of the CLA - boosting 1 at a time. This will avoid anomaly.
(? could it make boosting ineffective in other cases? because it'd take longer time)

So separate the boost update into smaller groups, would need a `boostedSettlePeriod` number of steps to settle, then another g

[2015-10-08 14:09] breznak opened #2648 "HTM attention module"
Interesting thought of HTM, where SP's active columns get `boosted` from `anomalous` input, therefore creating a "short-term attention memory"

@subutai @cogmission

[2015-10-08 14:10] breznak commented on #823
Btw, this lead me to https://github.com/numenta/nupic/issues/2648

[2015-10-08 14:21] oxtopus opened #2649 "model.save() explicitly requires <type 'str'>"
See #2640 in which a user was inadvertently passing `<type 'unicode'>`, resulting in an error in the underlying c++ bindings.  NuPIC should check for type, and raise a more descriptive exception beforehand.

[2015-10-08 14:31] cogmission commented on #2648
Doesn't boosting affect affinity for all previously seen patterns that are just beneath the connected threshold - globally without regard for; or biasing toward any particular pattern? Just wondering how the could act as an attention "focusing" mechanism?

[2015-10-08 14:43] breznak commented on #2648
are just beneath the connected threshold - globally without regard for; or
biasing toward any particular pattern? Just wondering how the could act as
an attention "focusing" mechanism?

Yes, that is `boosting` as the mechanism, but I've meant to boost (like a
word) the synaptic input (or maybe slightly increase sensitivity even
globally) for situations when "something unexpected happens". That lea

[2015-10-08 16:19] #2649 closed

[2015-10-08 16:52] scottpurdy commented on #2641
Is there any clean way to do this in Python?

[2015-10-08 17:05] breznak commented on #2641
`round5_()` is easy to implement, but then it has to be applied to all
values. Or strictly use setters() and put it there..

[2015-10-08 17:05] rhyolight commented on #2642
Sorry about that, I updated the installation videos with a note in YouTube.

[2015-10-08 17:26] poshlf opened #2651 "pip install nupic ERROR "No distributions at all found for nupic.bindings==0.2.1 (from nupic)""
Hello,
currently I'm trying to install nupic on a Debian machine (virtual machine - the version of the os is "debian-8.2.0-amd64").

After having installed `pip` I launched the install command `pip install nupic` obtaining the error shown in the attached pic.

I took vision of old issue topics and of the failure log. However still I'm not able to resolve the problem.

![debain_nupic_install_error]

[2015-10-08 17:29] rhyolight commented on #2645
Sounds interesting... @scottpurdy ?

[2015-10-08 17:30] rhyolight commented on #2646
@scottpurdy @subutai

[2015-10-08 17:41] rhyolight commented on #2651
On a Debian machine, you cannot install simply with `pip install nupic`. Please see: https://github.com/numenta/nupic#install-linux

You may need to compile from scratch on Debian, I have not tried out the binary for Linux there. It was build on Ubuntu.

[2015-10-08 17:44] rhyolight commented on #2651
This may help you:

[![Installing](http://img.youtube.com/vi/1fIpgXHXAZA/0.jpg)](http://www.youtube.com/watch?v=1fIpgXHXAZA)

[![Compiling](http://img.youtube.com/vi/BrnPQJKpcWo/0.jpg)](http://www.youtube.com/watch?v=BrnPQJKpcWo)

[2015-10-08 17:48] poshlf commented on #2651
First of all thank you very much for the reply. Second, I watched the video about installing nupic on Ubuntu. In order to compile nupic directly on debian I have to follow the guide (https://github.com/numenta/nupic/wiki/Installing-and-Building-NuPIC - Installation from Source Code) and watch the second video?

[2015-10-08 17:50] rhyolight commented on #2651
Correct, but it probably won't work exactly correct for Debian. I've been
asked to create a video for compilation / installation on a Debian system,
but I haven't had the time yet.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Thu, Oct 8, 2015 at 10:48 AM, poshlf <notifications@github.com> wrote:

[2015-10-08 17:51] rhyolight opened #2653 "Move to latest nupic.core version"

[2015-10-08 17:52] scottpurdy commented on #2641
I think we will have to take it on a case-by-case basis. We have been moving towards a C++ data structure that will handle most of the "permanences" cases. Reusing that in Python will help mitigate the number of locations we have to worry about. Other places we will have to apply rounding or other techniques depending on the way the value is used.

[2015-10-08 17:55] poshlf commented on #2651
I see. Could you please provide me an alternative linux OS (without graphical interface) which nupic can work correctly? I need to use nupic on a OS that is not equipped with GUI (I do not think ubuntu can be installed without GUI).

[2015-10-08 17:56] scottpurdy commented on #2645
Sounds interesting. Feel free to experiment. For us to consider it in NuPIC you will need to show that it has some real benefit without break existing applications. And that it is biologically plausible. Working on getting a more descriptive set of requirements for algorithmic changes published by Jeff/Subutai.

[2015-10-08 18:06] scottpurdy commented on #823
Before we change the implementation in NuPIC you should show that your proposal improves some real world applications. Since you are specifically concerned about the impact on anomaly detection then you could make the change and try running the modified algorithms on NAB. You should try running it with several different seeds since the results vary somewhat based on the random seed.

[2015-10-08 19:04] #2653 closed

[2015-10-08 21:06] rhyolight commented on #2651
Thanks for the report!

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Thu, Oct 8, 2015 at 1:38 PM, poshlf <notifications@github.com> wrote:

[2015-10-08 21:17] breznak commented on #823
proposal improves some real world applications

Ok, I'll merge the relevant test and the new boosting implementation; and
keep it out of tree for now.

Is a sine wave good enough example? I can show ECG data, but for real world
noisy data I can't prove it's boosting-only disturbances. But we can see
if/how it helps though.

[2015-10-08 21:44] scottpurdy commented on #823
I suggest running it on NAB.

[2015-10-08 21:45] poshlf commented on #2651
Hello again,
I managed to install ubuntu (os version is "Ubuntu 15.04 "Vivid Vervet" minimal - https://help.ubuntu.com/community/Installation/MinimalCD). Even after executing with success the previously steps shown in the installation video on ubuntu, after launching the command 'pip install nupic --user' I'm facing the error 'No distributions at all found for nupic.bindings==0.2.2 (from nupic)' (

[2015-10-08 21:56] breznak commented on #2651
Readme is your friend! https://github.com/numenta/nupic

It mentions for linux you can't install nupic.bindings from pip directly,
but just have to use another command

[2015-10-08 22:00] poshlf commented on #2651
As wrote in the read me and shown in the video I executed first `pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic.core/releases/nupic.bindings/nupic.bindings-0.2.2-cp27-none-linux_x86_64.whl` and then `pip install nupic`

[2015-10-08 22:10] rhyolight commented on #2651
@poshlf What is the console output when you run `pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic.core/releases/nupic.bindings/nupic.bindings-0.2.2-cp27-none-linux_x86_64.whl`?

[2015-10-08 23:21] poshlf commented on #2651
Now I understand what was the problem. For all the attempts I always followed the video that shown the usage of `nupic.bindings-0.2.1` rather than `nupic.bindings-0.2.2`.. I finally managed to install nupic. Thank you.

However, trying to test it (after of course after exporting the nupic variable and after installing the required  `python-pytest` and `python-pytest-xdist`) I get only errors after

[2015-10-09 00:02] rhyolight commented on #2651
If you want to run tests, you'll need to install more python packages. I
suggest you watch the other video on compiling NuPIC, which contains those
instructions.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Thu, Oct 8, 2015 at 4:21 PM, poshlf <notifications@github.com> wrote:

[2015-10-09 00:30] #2651 closed

[2015-10-09 11:07] breznak opened #2657 "Update readme install instructions for Linux & package nupic.bindings-latest"
The readme instructions for Linux (not OSX because that does `pip install nupic` only) have to be updated each time the `nupic.bindings` version is bumped. I suggest packaging 2 packages on each bindings release:
* the versioned one (as so far)
* "latest" (I've seen it's a common to use pip version `999` to indicate the latest release), this is a convenience placeholder
* "upstream"  (`666` versio

[2015-10-09 11:07] breznak commented on #2657
@rhyolight

[2015-10-09 17:15] breznak opened #2658 "Visualize, plot OPF experiment results"
I'd like to visualize the results `.csv` from running OPF experiment.
It should be relatively easy, but perhaps some of you have already written a nice utility for that?
NAB, @rhyolight ?

------------------------------
WORKING branch:
https://github.com/breznak/nupic/tree/plot_results

TODO:
- [x] move or copy the script from [NAB](https://github.com/numenta/NAB/blob/master/nab_visualizer.html) t

[2015-10-09 17:27] rhyolight commented on #2658
All my tools have been in matplotlib, which makes me want to die. But this could be updated to do even more generic plotting? https://github.com/numenta/nupic/blob/master/examples/opf/clients/hotgym/anomaly/one_gym/nupic_anomaly_output.py

[2015-10-09 17:28] poshlf opened #2659 "ImportError: No module named nupic.swarming - One Hot Gym Prediction Tutorial"
Hello,
finally I managed to install and test correctly nupic on Mac OS X 10.11.

Following the video tutorial One Hot Gym Prediction Tutorial, when I try for the first time to execute `swarm.py` I encounter one single error `ImportError: No module named nupic.swarming`.

After reading the issue topic "Problem on running swarm.py (#1503)" I think is good to notify that I had needed to export again

[2015-10-09 17:31] rhyolight commented on #2659
You installed from binary using `pip install nupic`, right? That error makes it seem to me like your installation did not go well. Please try this:

    python -c 'import pkg_resources;n=pkg_resources.get_distribution("nupic");b=pkg_resources.get_distribution("nupic.bindings");print n.project_name, n.version;print b.project_name, b.version'

And paste what it returns.

[2015-10-09 17:33] poshlf commented on #2659
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/pkg_resources.py", line 350, in get_distribution
    if isinstance(dist,Requirement): dist = get_provider(dist)
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/pkg_resources.py", line 229, in get_provider

[2015-10-09 17:36] rhyolight commented on #2659
There must've been a problem installing. Can you go to [gitter](https://gitter.im/numenta/public?utm_source=share-link&utm_medium=link&utm_campaign=share-link) so we can debug this?

[2015-10-09 17:40] poshlf commented on #2659
Yes just a second. However, I managed to install and run the test without errors and I even successfully executed the example that you have executed in the installation video.

[2015-10-09 17:42] rhyolight commented on #2659
I have a feeling those only worked because maybe you were in the source
code and python imported the actual source instead of from binary. This
could be a simple issue with your python path and where nupic got
installed.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Fri, Oct 9, 2015 at 10:40 AM, poshlf <notifications@github.com> wrote:

[2015-10-09 17:44] poshlf commented on #2659
Pyton was pre-installed. What I have installed was python pip as sudo. As regard nupic I installed it in the user folder not in te system.

[2015-10-09 18:35] rhyolight opened #2660 "Fix references to old "hello_tp.py" script"

[2015-10-09 18:36] rhyolight commented on #2606
Depends on #2660.

[2015-10-09 18:44] #2659 closed

[2015-10-09 18:45] breznak commented on #2658
Thanks, I'll check your script soon.

Meanwhile I've tested the `in browser` plotting on NAB and it looks awesome :+1: Maybe we could bring in over to nupic and just edit it to parse OPF result files ?

NAB has also a plotter using https://plot.ly/ which I haven't tested yet (need to set up an API key)

[2015-10-09 18:49] rhyolight commented on #2659
I'm not sure exactly what the problem was, but it did not seem like nupic was properly installed on @poshlf 's system. We went through the installation process again and it seemed to work this time. @poshlf is currently working on getting mysql installed properly.

[2015-10-09 18:54] rhyolight commented on #2606
Waiting on merge of https://github.com/numenta/nupic/pull/2661.

[2015-10-09 19:36] #2660 closed

[2015-10-09 20:22] rhyolight commented on #2606
I am not going to close this until it is completely fixed.

Although [I got this to pass](https://travis-ci.org/numenta/nupic.regression/builds/84571048), there is still a problem with the regression testing pipeline, because the tests start too soon, and should be triggered after the nupic "merge-to-master" build has completed. Instead, it currently runs as soon as the merge completes, but the bu

[2015-10-09 21:08] rhyolight commented on #2606
I think this might have fixed it: https://github.com/numenta/nupic.tools/commit/279cb0bff0a375aca102aceafc9229e1a48b027a.

But I'm gonna wait to close this out and see if it works in production.

[2015-10-09 21:13] rhyolight commented on #2606
Once https://travis-ci.org/numenta/nupic/builds/84586823 completes (not before!), a new regression build should start...

[2015-10-09 21:22] breznak commented on #2658
CC @subutai @BoltzmannBrain
@dundalek Hey! It's me, Mark :wink: Can you suggest a nice (and simple) JS lib for visualizing CSV graph data?

[2015-10-09 21:28] rhyolight commented on #2658
I'm a big fan of http://dygraphs.com/. That's what River View uses.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Fri, Oct 9, 2015 at 2:22 PM, breznak <notifications@github.com> wrote:

[2015-10-09 21:35] BoltzmannBrain commented on #2658
@breznak plotly has some great functionality for creating visually-appealing graphs, and for free. We use it in NAB [here](https://github.com/numenta/NAB/blob/master/scripts/plot.py). [Here's an example](https://plot.ly/~alavin/3137/anomaly-detections-for-twitter-data-from-goog/) from that script, where the green and red diamonds mark TP and FP detections, respectively, and the red dots are the tr

[2015-10-09 21:48] rhyolight commented on #2606
Looks like a bug in the tooling server. Standby.

[2015-10-09 22:46] breznak commented on #2658
@rhyolight @BoltzmannBrain Yes, I've edited the issue with both. DyGraphs are used in 1 approach. The plot.ly graph looks really pretty, but the fact it publishes all the data you plot (unless you pay) is a blocker for some of our purposes - ei. we can't publish the data.

[2015-10-09 22:55] #2606 closed

[2015-10-09 22:57] rhyolight commented on #2658
So what secret supervillain project are you working on?

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Fri, Oct 9, 2015 at 3:46 PM, breznak <notifications@github.com> wrote:

[2015-10-09 23:02] breznak commented on #2658
Nah, Skynet and stuff. :wink: And some medical records..

[2015-10-11 06:06] wuxianliang opened #2665 "Failure to update to 0.3.5 in OSX"
When I update nupic to 0.3.5
[code]
an error occurs
[code]

[2015-10-11 16:46] rhyolight commented on #2665
Try this:

    pip uninstall nupic -y
    pip uninstall nupic.bindings -y

Run those two commands a few times, then try reinstalling from scratch:

    pip install nupic --user

Are you sure that your previous installation was working properly? I suspect this may be a symptom of #2603.

[2015-10-11 22:54] wuxianliang commented on #2665
I have installed 0.3.3 correctly, but after that I installed anaconda for numba, during that installing, anaconda installed a new python. Maybe that causes problem.
Now when I uninstall 0.3.3, it is reported that I did not install nupic, but the files are there. Wired. I will try to remove the files,

[2015-10-11 23:01] wuxianliang commented on #2665
Thank you for response. When I finish installing, I would close this issue.

[2015-10-12 14:58] wuxianliang commented on #2665
I just uninstall anaconda, then everything works fine.

[2015-10-12 14:58] #2665 closed

[2015-10-12 15:14] rhyolight commented on #2665
Ok, thank you for the update. I haven't figured out exactly how NuPIC plays with Anaconda yet. We are using Anaconda on CentOS boxes in our internal builds and it works fine, but python on OS X is a mess all around.

[2015-10-12 15:42] rhyolight commented on #2657
Actually, they don't. They need to be updated whenever there is a NuPIC release, because that is when the binary instructions are affected. Installing from binary only gets you the latest NuPIC version on pypi, which is tied to some nupic.bindings version, which may not necessarily be the latest one. We do not want to update the bindings version in the README because it may not be compatible with

[2015-10-12 15:42] #2657 closed

[2015-10-12 15:47] rhyolight opened #2666 "SWIG errors when synced to latest nupic.core"
See https://github.com/numenta/nupic/pull/2663 for references to the changes that broke nupic/nupic.core integration, and the failing builds.

[2015-10-12 17:46] scottpurdy opened #2667 "Fix bug in retry decorator and add tests"
Code here:
https://github.com/numenta/nupic/blob/master/src/nupic/support/decorators.py

See PR for numenta-apps fix to similar code here:
https://github.com/numenta/numenta-apps/pull/399

See PR for the similar tests in numenta-apps code here:
https://github.com/numenta/numenta-apps/pull/382 (it's work-in-progress; wait for it to be completed/merged before borrowing the test code)

@saganbolliger

[2015-10-12 18:51] jcasner commented on #1813
@rhyolight This issue is back for me after upgrading to OS X 10.11 (El Capitan), even with the workaround described earlier.  Now, in `nupic.core/bindings/py/setup.py` my `commonLinkFlags` looks like:

[code]

This allows me to run `import nupic.bindings.math`.  Great - looks like life is good again.  However, I'm getting some very bizarre behavior.  If I try to import the `ModelFactory` I get the

[2015-10-12 19:39] breznak commented on #2657
fair enough.

[2015-10-13 14:36] breznak commented on #2658
I've updated my initial steps in the working branch https://github.com/breznak/nupic/tree/plot_results
I'm looking for a `JS/DyGraph` wizard who would be so kind in helping me with this issue :sos: as I think it'll be helpful to have for the upcoming HTM Challenge. ( @rhyolight @jefffohl ?)

[2015-10-13 14:51] jefffohl commented on #2658
I haven't tinkered with DyGraph before, but it sounds like the kind of thing that is up my alley. I might be able to clear out some time later this week to take a look.

[2015-10-13 15:01] breznak commented on #2658
Jeff, that would be awesome!
I'll prepare today some example data so it's in a runable form. Thanks a
bunch

[2015-10-13 15:17] jefffohl commented on #2658
@breznak - will this be used in your HTM Challenge submission? Or is it simply an enhancement to NuPIC that everyone can use? If the former, I probably shouldn't help out, unfortunately, because I am on the HTM Challenge judging panel, and it would create a conflict of interest.

@rhyolight - thoughts here?

[2015-10-13 15:38] rhyolight commented on #2658
@jefffohl If you are doing work that contributes to the NuPIC codebase, that is fine. Just don't help out by contributing to anyone's private project repos.

[2015-10-13 15:41] jefffohl commented on #2658
OK - thanks @rhyolight

[2015-10-13 18:55] breznak commented on #2658
Challenge submission? Or is it simply an enhancement to NuPIC that everyone
can use? If the former, I probably shouldn't help out, unfortunately,
because I am on the HTM Challenge judging panel, and it would create a
conflict of interest.

@jefffohl No worries, I haven't joined a Challenge project yet. This is
intended for general Nupic enhancement, but I'd love to make it asap before
the challeng

[2015-10-13 18:57] jefffohl commented on #2658
@breznak - OK, sounds great. Just trying to be careful about my responsibilities.

[2015-10-13 22:49] scottpurdy opened #2672 "Replace retry decorator getLoggerCallback with logger parameter"
https://github.com/numenta/nupic/blob/f06bed0931aa3879fcd18da91e2526df8d314476/src/nupic/support/decorators.py#L148

This code allows the user to pass a callback function that returns a logger. This was due to an issue with loggers being created before we initialize logging but this issue has been fixed so we should change this parameter to take an actual logger instance.

The numenta-apps retry d

[2015-10-14 08:53] breznak opened #2673 "Use MovingAverage instead of a custom method in SP/Boosting dutyCycles helper"
https://github.com/numenta/nupic/pull/2620#discussion_r41924541

- [ ] adapt MovingAverage to accept vectors as input
- [ ] replace in SP/Boosting, see https://github.com/numenta/nupic/pull/2620#discussion_r41924541

[2015-10-14 10:17] breznak opened #2674 "Avoid need to write dumb getters/setters - a decorator, direct access,..?"
So..I got tired of writing simple getters/setters in obvious cases, like:
[code]
Of course it has to be done for more complex cases with some computation, checks, etc.

Read here: https://stackoverflow.com/questions/6618002/python-property-versus-getters-and-setters
It seems the "pythonic way" would be to differentiate variables by underscore in name, w/o underscore means "public" and is a part of

[2015-10-14 11:16] breznak commented on #2658
I've updated the TODO steps and ordered them sequentially

[2015-10-14 11:33] RDaneelOlivav opened #2675 "Swarm directly over SDRs"
Does someone know if there is a way of swarming over data in SDR format? Or it has to be one of the swarming types accepted?
Is there a way of inputing to the swarm directly these SDR?

[2015-10-14 11:41] breznak commented on #2675
Can you explain better what you're trying to do?

[2015-10-14 13:10] RDaneelOlivav commented on #2675
Well, I'm trying to analise FFT data from two channels of audio, which is an array of floats basically. Because swarming doesnt allow as input lists ( I've tried it and it doesnt support it ) . I encoded that data to have it in SDR so that we have its properties and I can use it in temporal pooling and so on. But To swarm over that data, I have to convert arrays such as [0,1,0,1,0,0] into a type a

[2015-10-14 13:47] breznak commented on #2675
A couple of approaches you could try...

On Wed, Oct 14, 2015 at 3:10 PM, RDaneelOlivav <notifications@github.com>
wrote:

Can you work with the arrays of floats? Make a MultiEncoder (a group of
encoders, insude of it
AdaptiveScalar/Scalar/RandomDistributedScalar-Encoders) and work with that?

Are you sure you've created the SDR correctly? (Does it have all the
properties is in HTM theory?)

Do yo

[2015-10-14 16:27] subutai commented on #2658
No one is really maintaining this right now. It does look it doesn't plot the results files correctly anymore. It would be nice if someone could fix that.  The UI is rather cumbersome too. It does work fine for examining the raw data files.

[2015-10-14 20:07] scottpurdy commented on #2674
I don't think we should use a decorator that adds methods. I am fine with public attributes / member variables where they make sense, both in Python and C++.

[2015-10-14 20:31] rcrowder opened #2676 "MySQL setup and Swarming"
I'm trying to follow the Wiki to run swarming tests (https://github.com/numenta/nupic/wiki/Running-Swarms). This is on a clone of master that has been setup, but I missed install of MySQL so I've just installed that. Not sure if I have to run setup.py again?

MySQL didn't accept a blank root password during installation, so I added a simple one. Running ```$NUPIC/examples/swarm/test_db.py``` fails

[2015-10-14 20:38] rcrowder commented on #2676
It looks like the nupic-default.xml must be copied to the nupic-site.xml and placed in the same location. setup.py re-run, and then the test_db.py successfully picks up this passwd and connects to MySQL :+1:

[2015-10-14 23:35] chetan51 opened #2678 "Implement C++ capnp struct to pycapnp conversion"
Complementary issue for https://github.com/numenta/nupic.core/issues/545.

[2015-10-15 17:00] RDaneelOlivav commented on #2675
encoders, insude of it
AdaptiveScalar/Scalar/RandomDistributedScalar-Encoders) and work with that?

I used multiencoder for the encoding actually ;). Thats how I get all this ecnoded ;).

properties is in HTM theory?)

I hope so, do you have a link to any property definition that is basic? I've read the basics for HTM
but if you have material from which to base upon that you reccomend, the better

[2015-10-15 17:20] RDaneelOlivav commented on #2675
And another question: Swarming with string conversions of the SDR encoding isnt a great solution isn't it?
Eg: [1,0,1,0,0] -->"10100"
Will it work?

[2015-10-16 16:40] rhyolight commented on #2675
No, I would not do that. There would be an extremely large number of category strings. Strings should be used only if there are a limited number of categories.

@oxtopus This issue might be informative to your hypersearch work.

[2015-10-16 17:50] enricgui opened #2680 "Always same energy_consumption and predicted value"
I am developing an application which is using at this stage same model_params and input data as hot_gym tutorial, but working from a database source instead of files.

The problem is that I am always getting the same value for prediction as passed as consumption energy.

I already checked out that I am providing proper datetime and float values. Model is created, saved and loaded again apparently

[2015-10-16 17:54] rhyolight commented on #2680
It would help if your code was available for me to review.

This will happen generally when NuPIC doesn't have enough data to make a decent prediction. How many rows of data are you sending in?

Can you show a sample of your data? Or better yet the code where you are feeding in new rows to the model? (I assume you are using the OPF if you are following along with hotgym.)

[2015-10-16 18:01] enricgui commented on #2680
just added output and partial code.

[2015-10-16 18:05] enricgui commented on #2680
Extended code for your consideration.

def unitprocessorrunning(row):
    id = row["id"]
    status = row["status"]
    L1 = row["L1"]
    L2 = row["L2"]
    L3 = row["L3"]
    L4 = row["L4"]
    L5 = row["L5"]
    L6 = row["L6"]
    currentime = row["currenttime"]
    livetime = row["livetime"]
    params = row["params"]
    dump = row["dump"]
    mode = row["mode"]
    model = createModel(getMod

[2015-10-16 18:11] jefffohl commented on #2658
Working on this now. First, I am evaluating some different plotting libraries. Let me know if anyone is tied to DyGraphs.

[2015-10-16 18:15] rhyolight commented on #2680
Please also paste your model_params?

[2015-10-16 18:41] enricgui commented on #2680
MODEL_PARAMS = \
{ 'aggregationInfo': { 'days': 0,
                       'fields': [],
                       'hours': 0,
                       'microseconds': 0,
                       'milliseconds': 0,
                       'minutes': 0,
                       'months': 0,
                       'seconds': 0,
                       'weeks': 0,
                       'years': 0},
  'model': '

[2015-10-16 18:43] rhyolight commented on #2680
Something strange is going on. In your model params, you have `'inferenceType': 'TemporalMultiStep'`. But in your code, you are extracting an anomaly score: `anomalyScore = result.inferences["anomalyScore"]`. This should not be available if your model is `TemporalMultiStep`. I'm not sure what is going on here.

Can you just push your whole codebase up onto github or just zip it up so I can test it

[2015-10-16 19:03] #2678 closed

[2015-10-16 19:57] RDaneelOlivav commented on #2675
But if they were lets say, huge floats wouldnt it be the same? The thing here is that the size of the data is very big and in someway it has to be fed here. And anyway I'm seeing that swarming over this data wont give me high level concepts and predictions such as entonation.
And this takes me to AudioStream, how to you do it to be able to predict a certain speech patern or another? @rhyolight We

[2015-10-16 21:54] scottpurdy commented on #1158
No longer needed in nupic

[2015-10-16 21:54] #1158 closed

[2015-10-16 21:55] scottpurdy commented on #1875
No longer needed in nupic

[2015-10-16 21:55] #1875 closed

[2015-10-16 21:55] scottpurdy commented on #1893
No longer needed in nupic

[2015-10-16 21:55] #1893 closed

[2015-10-16 21:55] scottpurdy commented on #2135
No longer needed in nupic

[2015-10-16 21:55] #2135 closed

[2015-10-16 21:56] scottpurdy opened #2681 "Remove SWIG from nupic entirely"
There shouldn't be SWIG files in nupic anymore but there are. They need to be removed.

[2015-10-16 23:14] jefffohl commented on #2658
@rhyolight - when you were choosing a data visualization tool for River View, did you take a look at [D3.js](http://d3js.org/)?

I am kind of leaning towards D3.js because it is more of a low-level framework, and therefore is more flexible. It occurs to me that, although we are solving a specific problem here, we are likely to want to continue to build various ways to visualize various things - th

[2015-10-17 12:46] breznak commented on #1875
Are you restoring the relevant issues in nupic.core?

[2015-10-17 14:09] breznak commented on #2658
@jefffohl no strong opinions, as he who writes the code decides :wink: And both frameworks look really pretty to my amateur eye. But I don't see what else than OPF result graphs would we want to visualize in nupic? Remember there is the NuStudio to show you graphical representations of HTM and its parts..

[2015-10-17 15:00] rhyolight commented on #2658
I have using D3 directly in the past and it is an excellent library.

Sent from my MegaPhone

[2015-10-17 15:12] enricgui commented on #2680
Hi Matt,

I replicated successfully the issue on anomaly version of hot_gym, using DB as the source which is not the problem.
Later I introduced the model load and save functions inside the data processing loop (in my application I need to do it this way since I am running different models just 1 data row for several models and loop again, so I need to save and load).

Then the issue shows up. It

[2015-10-17 15:33] enricgui commented on #2680
problem is not in directory copying calls, since I removed them and work with same saving directory and keeps on the issue situation.

It doesn't work if you load and save inside data processing loop.

[2015-10-17 15:52] enricgui commented on #2680
Solved.

Instead of using model.load() method a tried ModelFactory.LoadFromCheckpoint() and works perfectly!!!

Thanks for your time.

[2015-10-17 16:26] #2680 closed

[2015-10-17 17:35] rhyolight commented on #2680
Great!

[2015-10-19 17:44] scottpurdy commented on #1875
I haven't.

[2015-10-19 17:44] rhyolight commented on #2675
@RDaneelOlivav I re-read this thread today, and I have some further input.

A big part of what swarming helps do is figure out the optimal way to encode input data into SDRs in the first place. The only benefit you would get from having a swarming process that accepts raw SDRs is that you would be able to help identify the best global algorithm parameters for the spatial pooler and temporal pooler

[2015-10-19 17:44] #2675 closed

[2015-10-19 21:25] #2681 closed

[2015-10-20 11:26] cogmission opened #2684 "NuPIC Needs Integration Test Illustrating Correct Output To Use"
There needs to be an example developers can refer to which illustrates how interaction with the algorithms is accomplished.

This issue author is proof of that need.

Being the most official porter of NuPIC code, and therefore the most object test for correct interpretation of NuPIC, the fact that I had no reference and mistakenly used the incorrect output when utilizing and implementing the inter

[2015-10-20 12:42] breznak commented on #2684
:+1: I've burned my fingers when getting some TP output and passing it manually to Anomaly!

* this could be an example as well, instead of a i-test.
* I'd like to point out to https://github.com/numenta/nupic/issues/2536 which got kindof stalled, this would be one of the usecases.

[2015-10-20 13:05] cogmission commented on #2684
@breznak I agree, however I think that mentioning that here may be distracting. It's probably better to mention this Issue from #2536 rather than have a discussion of that here. This issue should remain pure so that it doesn't get coopted by off-topic conversation (as I have been guilty of doing too!)

[2015-10-20 22:27] BoltzmannBrain opened #2686 "Scalar encoder error typo"
The error line [here](https://github.com/numenta/nupic/blob/master/src/nupic/encoders/scalar.py#L298) should read "... greater than 21...", not "... greater than 2..."

[2015-10-21 01:03] breznak opened #2687 "New SP boosting tests"

[2015-10-21 14:27] codedhard opened #2688 "CLAClassifier bugreport"
https://github.com/numenta/nupic/blob/master/examples/network/hierarchy_network_demo.py
'implementation': 'py'

Writing output to: hierarchy-demo-output.csv
Traceback (most recent call last):
  File "hierarchy_network_demo.py", line 372, in <module>
    runDemo()
  File "hierarchy_network_demo.py", line 366, in runDemo
    runNetwork(network, numRecords, writer)
  File "hierarchy_network_demo.py",

[2015-10-21 16:17] breznak commented on #2658
@jefffohl I'll probably start looking into this too, can you please share if you had some progress? And if/why do you see D3.js better than DyGraph?

[2015-10-21 16:51] jefffohl commented on #2658
@breznak - sorry about my slow progress - I have to squeeze this work in with my day job :).

I was considering D3.js only because it is more of a framework, so that might serve us better in the future, if we intend to do more. But, for now, it seems that DyGraph will probably be the easiest to work with, so that seems the best bet at the moment. If we want to get more fancy later, we can.

I have

[2015-10-21 16:54] #2667 closed

[2015-10-21 22:19] breznak commented on #2658
Thanks Jeff, no worries. I just wanted to use your experience to know which
framework I should start learning about..so dygraph it is for now.
I will be learning my ways around, and if I started doing some real work,
I'll sync with you here so we don't duplicate.

PS: can I help something with NAB? But I think we don't need it here..(?)

[2015-10-21 22:25] jefffohl commented on #2658
@breznak - ok. I am going to keep at it, so let me know if you start to work on any of the issues on your checklist.

Regarding NAB - I just wanted to see how NAB fit into OPF - so not intending to use it, just wanted to understand better where you are coming from in terms of what your needs are.

[2015-10-22 12:12] RDaneelOlivav opened #2689 "How To save and load Spatial Pools and TP?"
Hi,

I though these clases could be saved in pickles but it seems the dont.
How can I store the spatial pools and tps trained and retrieve them latter?

[2015-10-22 16:12] rhyolight commented on #2689
@chetan51 ?

[2015-10-22 16:13] rhyolight commented on #2689
@RDaneelOlivav I assume you are working through Network API and not the OPF. I haven't saved individual components, only through the OPF's `CLAModel` class, which has a function to save the whole network.

[2015-10-22 18:25] ppuskari opened #2692 "Ubuntu 14.04 LTS How to get new bindings in nupic.core to compile?"
As before 623 works like a charm (older bindings for nupic.core)  a few of the git commits later worked but now I keep getting the -1 errors referring to a Bad value while linking  libkj.a(io.o)

Compiled with and without the CC=clang CXX=clang++ with similar results

Pull back to 623 and everything is fine

With 4.8.x gcc and g++
c++ -pthread -shared -Wl,-O1 -Wl,-Bsymbolic-functions -Wl,-Bsymboli

[2015-10-22 19:04] ppuskari commented on #2692
export CC=`which gcc`
export CXX=`which g++`

Tried this and same response...  No dice

[2015-10-22 19:15] chetan51 commented on #2689
Hi @RDaneelOlivav,

You can use the `write` and `read` methods of `TemporalMemory` and `SpatialPooler` in python to save and load the state.

[2015-10-22 19:36] rhyolight commented on #2692
@ppuskari building off head of master in nupic/nupic.core is a little tricky right now because of some recent changes. @scottpurdy is working on getting the repos synced again. Right now I think it is your best bet to stay on the older version.

[2015-10-22 19:37] rhyolight commented on #2692
@ppuskari One thing you can do is look into NuPIC's `.nupic_modules` file and pull the SHA out for nupic.core, then go into nupic.core and checkout that sha. Then try building from there?

[2015-10-22 19:49] ppuskari commented on #2692
Thanks @rhyolight  Will give that a shot.

Also just wanted add that I did go through and validate that the libkj.a io.o file definitely appears to be a statically linked file if the check mechanism is correct used below.  I wonder then how to force those to get compiled as shared maybe?

cd ~/nupic.core/build/release/lib
mkdir test
cp libkj.a test
cd test
ar -x libkj.a
readelf --relocs io.o | egr

[2015-10-22 20:34] SaganBolliger opened #2693 "Add logging unit tests to retry decorator"
@vitaly-krugl suggested to add unit tests for the logger functionality in the retry decorator in https://github.com/numenta/nupic/pull/2677#issuecomment-148484395.

[2015-10-22 20:37] RDaneelOlivav commented on #2689
Are there methods save and load in the TP ? Where exactly?

[2015-10-22 20:44] chetan51 commented on #2689
@RDaneelOlivav TP has been obsoleted by `TemporalMemory`; please use that instead.

[2015-10-22 23:24] jefffohl commented on #2658
@breznak I am making some progress - I might have something to share tomorrow.

[2015-10-23 20:34] jefffohl commented on #2658
HI @breznak. I have put together something. Right now, it is an interface that shows two panes: data and results. For each, there is a select menu that allows the user to select which CSV file they want to plot.

Is this what you are imagining, or are you thinking that the data should be merged into one graph?

I can make a pull request if you want to see the work in progress.

[2015-10-23 20:37] jefffohl commented on #2658
Here is a screen shot for reference: ![screen shot 2015-10-23 at 1 35 23 pm](https://cloud.githubusercontent.com/assets/641147/10704361/2756ce2c-798b-11e5-975d-4173d9f24c5c.png)

[2015-10-23 21:57] breznak commented on #2658
Hi @jefffohl , it looks really nice! :+1: :smile: Please make a PR, or tell me your branch, I'd love to test it out.

[2015-10-23 21:58] cogmission commented on #2658
Agreed, it DOES look nice!

On Fri, Oct 23, 2015 at 4:57 PM, breznak <notifications@github.com> wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/numenta/htm.java>

d.ray@cortical.io
http://cortical.io

[2015-10-23 22:11] jefffohl commented on #2658
Here you go: https://github.com/breznak/nupic/pull/9

[2015-10-23 22:17] breznak commented on #2658
A couple of questions/ideas to discuss:
- about the "separate data", what do you think? With the nice check-box options for what to plot, I see little importance in having `data/results` in separate windows.
- the checkbox functionality for labels is really awesome! Is it hard-coded, or works for any CSV?
- now it accepts the [NAB data format](https://github.com/breznak/nupic/blob/plot_results/scr

[2015-10-23 23:00] jefffohl commented on #2658
* I can code it up to merge the data and results data sets. The only question I have is, how to make sure we are loading the proper files? Will the paths to the data and the results always have reliable relative paths? Or, should we let the user choose a data file (based on a manifest file as we have now), then a results file, then merge them together after they have been selected?
* the checkboxe

[2015-10-23 23:13] breznak commented on #2658
btw @jefffohl I've added some UI questions (designated by "UI") to the issue description, esp. fixing the anomalyScore scale would be nice. Now back to replying to your comment...

[2015-10-23 23:31] breznak commented on #2658
The file lists are used in NAB which relies on the structure of the data, so I think it's safe to assume the paths will be correct. Actually NAB has an alternate plotting through `plot.ly` so I would not worry about that functionality too much.

...if we focus on NuPIC/OPF, there are no separate data/results file lists. The results are in a single file (and raw data are included under the field `a

[2015-10-23 23:35] breznak commented on #2658
:guitar: :+1:

[2015-10-23 23:54] breznak commented on #2658
yes, but..

Plotting only numbers is OK, the data-type line (2nd) would not work that easily, as for the example [OPF file here](https://raw.githubusercontent.com/breznak/nupic/plot_results/scripts/visualization/opf_results/DefaultTask.TemporalAnomaly.predictionLog.csv) the `anomalyScore` is type string:
1. this is a NuPIC bug and we should ignore it and require it fixed ( @rhyolight ? I think tha

[2015-10-23 23:57] breznak commented on #2658
Cool thanks, I've noticed the zoom-out problem. Btw, do you think it would be possible to do some "smooth zoom-out" (the way zoom-in works)? With a mouse-wheel, a scroll-bar, ...?

[2015-10-24 00:07] breznak commented on #2658
This exists only in NAB so far *). Annotations is a TXT file with a vector, where `1` means a human-annotated anomaly = nice to plot with a "stem". Maybe another "Choose annotations file:" file input field would work fine here? A nice to have but definitely not needed right now.

*) @rhyolight would it be any problem/benefit getting an `anomalyAnnotation` field to OPF? Useful here and then NAB cou

[2015-10-24 00:26] breznak commented on #2658
@jefffohl please let me know if there's anything I can help, with a non-JS stuff.

[2015-10-24 00:28] jefffohl commented on #2658
* In determining how to let the user choose what OPF file to use, all of those sound like good suggestions. It depends mostly on how users typically use the OPF, and about this I am somewhat ignorant. The most universally easy solution would be to launch a file browser from the web UI. We could also allow users to put in a path manually, which could be a publicly accessible URL. So, maybe there wo

[2015-10-24 00:29] jefffohl commented on #2658
Will do. Thanks!

[2015-10-24 00:41] breznak commented on #2658
I think a typical use case is a user running a single OPF experiment and wants to see the results.
So a `a file browser from the web UI.` sounds like the way to go to me.
Alternatively later we could add behavior like Gmail attachements, "Add a file" file-chooser and then checkboxes for which files to plot.

[2015-10-24 00:53] breznak commented on #2658
Agree, simple & works.
- `anomalyScore`, `multiStepBestPredictions.actual` are always present and a float.
- `multiStepBestPredictions.1` is always present but `None` at the 1st row.
- `multiStepBestPredictions.N` - optional, can be more (3,5,10), but not very typical. None till N+1-th row.

I still like your approach to plotting all numeric fields (as input data will be plotted if it is in a suit

[2015-10-24 00:59] breznak commented on #2658
(btw, just to make myself clear, I think the zoom-in with mouse selection is perfectly viable, just missing a zoom out step).

I just found a mention of https://code.google.com/p/dygraphs/issues/detail?id=366 in Issue 58 some calls could exist (?)

[2015-10-24 01:03] breznak commented on #2658
100% agreed. Personally I'd try to push NAB to switch to using OPF, personally I don't see why not to.

[2015-10-24 02:42] snketdesai commented on #1586
is there any update for this issue? I am facing the same error.

[2015-10-24 23:05] BoltzmannBrain commented on #2658
@breznak could you please elaborate on what you mean by pushing NAB to use OPF?

[2015-10-26 15:11] breznak commented on #2658
@BoltzmannBrain bad wording, sorry. I had an issue in NAB whether it could use OPF for its format (extended with a annotations column), so this code could be shared (eg the results plotting is fixed here)

[2015-10-26 16:20] rcrowder opened #2694 "Invalid lines ending in three CSV files"
Three CSV files have invalid line endings. The Git automatic newline handling option is set correctly in NuPIC. But the CSV files end up with bad line endings that concatenations all the lines in the file. Even though Github website can interpret and show the files properly.
Research shows that those files may have been saved from Excel for MacOS that may only have used a CR, rather than usual LF,

[2015-10-26 17:06] rcrowder opened #2696 "Add Windows cmd line support alongside bash"

[2015-10-26 17:24] rhyolight commented on #2686
Easy way to become a contributor here.

[2015-10-26 17:29] rhyolight commented on #2688
@codedhard So when you change back to `'implementation': 'cpp'` it works fine?

Why do you want to use the python implementation (just curious)?

[2015-10-26 17:33] rhyolight commented on #2689
@chetan51 We really need a tutorial on how to create a Network with TM. It is not obvious how to do this. The short answer is to update https://github.com/numenta/nupic/blob/master/examples/network/hierarchy_network_demo.py#L74 to use `tm_py` instead of `cpp` (I think). @BoltzmannBrain isn't that what we talked about this morning?

[2015-10-26 17:37] rhyolight commented on #2658
Guys, this issues is just for plotting experiment results after they've been run, right? There is no initiative to visualize live predictions / anomalies coming out of NuPIC, is there?

[2015-10-26 17:41] jefffohl commented on #2658
Right now, the little web app I am working on just reads files that have already been created by the OPF. But, I was imagining that the next step would be to visualize streaming live data.

[2015-10-26 17:46] rhyolight commented on #2658
That's a good thing to think about, but it will require a server to post data to. The live data coming out of NuPIC will be from a python runtime, so it will need to be posted somewhere for display. Just something to think about.

[2015-10-26 17:47] breznak commented on #2658
data.

Same. I was planning this for later. Actually if the plotting is reasonably
fast, you could just reread the file every second, to get a semi-live data
plot.

[2015-10-26 17:51] breznak commented on #2658
In some other issue I was thinking about network I/O region (maybe somebody
already implemented that? I remember some networking code(?)) The OPF model
could just add a network-out region and the plotter would bind to a known
address.... could work like that? (but not there yet)

[2015-10-26 17:56] rcrowder opened #2699 "NTA_CONF_PATH assumes colon splits directory paths"
Change to use os.pathsep instead of a colon. Windows uses a semi-colon, for example.

[2015-10-26 18:09] #2686 closed

[2015-10-26 18:25] rhyolight opened #2701 "Allow spParams, tpParams, and clParams to be specified in swarm description JSON"
Without this, there is no way to specify that the new Temporal Memory algorithm should be used in swarming, so all programmatic swarms using the JSON file as a starting point will be run using the old TP algorithm.

To be clear, I want to be [able to do this](https://gist.github.com/rhyolight/8d54a664b3e30fa7aab1#file-swarm_desc-json-L58-L60), and see that the [generated `permutations.py` file](ht

[2015-10-26 18:25] chetan51 commented on #2701
:+1:

[2015-10-26 18:55] rhyolight opened #2702 "Update OPF examples to use temporal memory"
Depends on #2701 for any examples doing swarming, like hot gym.

[2015-10-26 20:37] codedhard commented on #2688
@rhyolight No does not work with `'implementation': 'cpp'` the result is "Killed" and nothing more.

Just for debugging purpose because the other implementation was not giving any "errors" other then "Killed".

[2015-10-27 00:59] jefffohl commented on #2658
I created a new PR. Notes here: https://github.com/breznak/nupic/pull/10

Is it better to include the notes here, or with the PR?

[2015-10-27 12:09] breznak commented on #2658
@jefffohl This is a HUGE progress, KUDOs! :+1: :100: This is everything what I've originally imagined for the visualizer.

I've merged your work, updated the check-points and tested, all works well here.

I would be more for the dynamic approach with plotting all numeric fields, as we don't know what the user might be interested in (for example, I found quite interesting plotting all the metrics a

[2015-10-27 12:22] breznak commented on #2658
@jefffohl I've added some usability comments to the "Bugs" section, what do you think about them?

[2015-10-27 13:37] jefffohl commented on #2658
Thanks @breznak. I will take a crack at the bugs today. As you are more familiar with the OPF than I am, can you give me a list of what fields will always be found in an OPF file, as well as fields that may or may not be found there? I would like to auto-detect the file type, to try and determine if it is an OPF file, and if it is a valid OPF file.

[2015-10-27 13:39] jefffohl commented on #2658
@breznak - also, what fields besides anomalyScore do we imagine a user would like to scale proportionally to the data range?

[2015-10-27 16:14] breznak commented on #2658
@jefffohl this is little tricky. An OPF file will have columns by the `Model` used, if you take "anomaly detection" as the intended use-case for the visualizations, the model has to be `TemporalAnomaly` (which inherits from `TemporalMultiStep`) and always has an `anomalyScore` field. (+ the field(s) from TemporalMultiStep).

A `TemporalMultiStep` will always have the `multiStepBestPredictions.actu

[2015-10-27 16:16] breznak commented on #2658
Btw, I've found a working example for the finer zoom in/out
http://dygraphs.com/gallery/#g/interaction ("Custom interaction" block)
but I'm still unable to transfer it here :/

[2015-10-27 17:07] jefffohl commented on #2658
Thanks @breznak.

I do want to make the app as flexible as possible, and therefore would like to enable it to consume whatever data is passed its way, with the only constraint being that there must be a `timestamp` field.

I like your idea for normalizing fields. The "fields" UI might start getting a bit crowded at this point, so we would probably want to allow the user to toggle this portion of t

[2015-10-27 17:50] rhyolight commented on #2688
@codedhard Can you provide more info?

- operating system
- NuPIC installation method (pip install or local compile?)
- exact command you are running and the exact console output.

Thanks.

[2015-10-27 19:02] jefffohl commented on #2658
@breznak do you have any ideas about how to render field names that are very long, such as this?
`multiStepBestPredictions:multiStep:errorMetric='aae':steps=5:window=1000:field=consumption`

Can you think of a more concise label that still has meaning for the user? If we can come up with some kind of logic, I can convert them.

[2015-10-27 20:12] #2672 closed

[2015-10-27 20:26] #2699 closed

[2015-10-27 20:55] rhyolight commented on #2658
@breznak @jefffohl I would like to test this out. How do I do it?

[2015-10-27 21:21] jefffohl commented on #2658
@rhyolight
* Pull this branch
* `cd nupic/scripts/visualization`
* `python -m SimpleHTTPServer 8080`
* Use browser to view: `http://localhost:8080`

[2015-10-27 21:23] jefffohl commented on #2658
Oops - forgot this is on the main branch. Here is @breznak's branch: https://github.com/breznak/nupic/tree/plot_results

[2015-10-27 21:26] jefffohl commented on #2658
PS - you will want to test with an OPF output file, like the one found at nupic/scripts/visualization/opf_results/

[2015-10-27 23:19] breznak commented on #2658
Great, @jefffohl ! I hoped you'd say that :) Then I hope this project has a lot of potential users - NAB, RiverView, all the Nupic examples with custom plot implementations, ...

That's true. You'd want to set the scaling up once and then continue browsing the graph. We could also already preselect some values (reference=bestPredictions.actual; scale=anomalyScore; ..if these fields are found. But

[2015-10-28 00:30] vitaly-krugl opened #2706 "run_opf_benchmarks_test.py should be run in regression tests"
This is referring to `nupic/tests/regression/run_opf_benchmarks_test.py` that is presently not showing up in https://travis-ci.org/numenta/nupic.regression/builds

1. Get this test passing again
2. Move it to nupic.regression, so that it will automatically get picked up by Travis CI for nupic.regression

[2015-10-28 00:32] vitaly-krugl commented on #2706
CC @rhyolight, @scottpurdy, @SaganBolliger

[2015-10-28 20:40] #2676 closed

[2015-10-28 23:17] SaganBolliger opened #2708 "spatial_pooler.py's _getNeighborsND can be optimized"
Profiling has shown that the list comprehension used to calculate neighbors in [_getNeighborsND](https://github.com/numenta/nupic/blob/master/src/nupic/research/spatial_pooler.py#L1613-L1614) is a major performance bottleneck in code that uses that method. These lines can be optimized through numpy vectorization.

[2015-10-28 23:39] #2708 closed

[2015-10-29 00:41] chetan51 opened #2710 "Add remaining parameters to TestNode serialization"
Counterpart to https://github.com/numenta/nupic.core/issues/673.

[2015-10-29 16:54] jefffohl commented on #2658
@breznak - a new pull request for review. I made a lot of changes:

* The options panel to the right of the graph now shows the following:
 - Visibility toggle
 - Current highlighted value
 - Field name
 - Checkbox for normalizing data
 - Radio buttons for selecting the data field to which other fields can be normalized
* The normalization options can be hidden away to save space
* Added scrolling

[2015-10-29 16:58] jefffohl commented on #2658
A screen shot of what it should look like now: ![screen shot 2015-10-29 at 9 56 07 am](https://cloud.githubusercontent.com/assets/641147/10825725/8d88e148-7e23-11e5-9875-43e5479d1929.png)

[2015-10-29 17:08] jefffohl commented on #2658
I will be looking into the issue of DyGraph not working in Firefox.

[2015-10-29 17:56] #2696 closed

[2015-10-29 18:04] rhyolight commented on #2658
Maybe it's not the right time for feedback... but I really like having a
smaller, synced graph to display the anomaly score and likelihood, if there
is one.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Thu, Oct 29, 2015 at 10:08 AM, Jeff Fohl <notifications@github.com>
wrote:

[2015-10-29 18:29] #2357 closed

[2015-10-29 18:53] jefffohl commented on #2658
@rhyolight - do you mean a smaller graph below the main graph? Can't the same be achieved with what we have now, where the user can turn on and off whichever fields they wish to view? Perhaps you can expand on your idea a bit more?

[2015-10-29 19:02] rhyolight commented on #2658
I should play with it first before you do anything. Will do that now.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Thu, Oct 29, 2015 at 11:53 AM, Jeff Fohl <notifications@github.com>
wrote:

[2015-10-29 20:09] jefffohl commented on #2658
@breznak I added a fix for the Firefox issue to the current outstanding PR.

[2015-10-29 20:11] BoltzmannBrain opened #2712 "KNNClassifier distance calculations"
The [`rawOverlap` distance metric](https://github.com/numenta/nupic/blob/master/src/nupic/algorithms/KNNClassifier.py#L791-797) in the KNNClassifier does not calculate distance as specified [in the docstring](https://github.com/numenta/nupic/blob/master/src/nupic/algorithms/KNNClassifier.py#L102-104). Rather, it calculates a percent overlap of the input.

[2015-10-29 21:34] rhyolight commented on #2658
I am looking into how to use the [`BasicPredictionMetricsLogger `](https://github.com/numenta/nupic/blob/master/src/nupic/frameworks/opf/opfbasicenvironment.py#L168-168) with an OPF model outside the [`experiment_runner`](https://github.com/numenta/nupic/blob/master/src/nupic/frameworks/opf/experiment_runner.py) framework. I would ideally like to be able to plot the results of any model I create w

[2015-10-29 21:44] jefffohl commented on #2658
@rhyolight - Not being an expert with the OPF, can you explain to me what your comment implies? It looks like the BasicPredictionMetricsLogger outputs JSON. Are you saying that you would like the app to be able to consume any data format (and possible automatically figure out the format type)?

[2015-10-29 21:55] rhyolight commented on #2658
No, am just trying to figure out how to get the data file you are plotting out of the OPF. I don't use the OPF experiment framework for anything (which is what created that file), I always just create a model and run it.

[2015-10-29 21:58] SaganBolliger opened #2714 "Optimization for _initPermanence"
In profiling the NLP code I noticed that [_initPermanence](https://github.com/numenta/nupic/blob/master/src/nupic/research/spatial_pooler.py#L1148) takes 212s out of the 540s of execution time for the whole program. Further, calls to `getReal64()` from `_initPermanence` and methods it calls take 21s alone. This is unnecessarily slow and can be optimized.

 `spatial_pooler.py` uses a python loop wi

[2015-10-30 19:28] oxtopus commented on #1101
:-1: setuptools doesn't have an "uninstall" option.  There's `pip uninstall`, and a myriad of ways to remove the files manually, but no native setuptools-based "uninstall".

[2015-10-30 19:42] #1101 closed

[2015-10-30 22:36] lscheinkman opened #2716 "Docker build failed"
The last nupic image available from [docker hub](https://hub.docker.com/r/numenta/nupic/builds/) is 3 months old and when I try to build a new image using:
[code]

I get the following error:

[code]
CC: @oxtopus

[2015-10-30 22:40] rhyolight commented on #2716
The dockerfile is probably going to need to install capnp from source. @allanino / @oxtopus Anyone want to fix this?

[2015-10-30 22:40] rhyolight commented on #2716
In other news, I need an indicator when the docker build fails...

[2015-10-31 04:04] #2716 closed

[2015-10-31 07:53] cogmission opened #2719 "CLAClassifier compute() parameter documentation needs changing."
The parameter documentation describes the nature of the inputs to the compute method. The current description for ```patternNZ``` should be added to, to specify that when input is from a **temporal_memory.py**, it should be the indexes of **active cells**, not just say **active indexes**.
This author payed a somewhat high price for the lack of disambiguation.

Please see this line: https://github.

[2015-11-02 17:05] #2694 closed

[2015-11-02 18:28] rhyolight opened #2720 "Docker build failure notifications"
Build failures on [docker hub](https://hub.docker.com/r/numenta/nupic/builds/) should cause some kind of failure notification to be sent.

At least, an email should be sent to nupic-hackers, but ideally, this would trigger a webhook. I'm not sure what Docker Hub's capacity is for this.

[2015-11-02 18:29] rhyolight opened #2721 "Docker build needs to install via compile from source instructions"
Currently it uses a mix of binary for nupic.bindings and source from nupic.

[2015-11-02 18:31] rhyolight opened #2722 "Update NuPIC release process to include Docker Hub tag"
On every release of NuPIC, there should be a corresponding tag to the Docker Hub, which will give others a way to install from previous version numbers in Docker.

Ideally, tags should be created for previous releases as well, if possible.

/cc @allanino

[2015-11-02 18:31] rhyolight commented on #2721
/cc @allanino

[2015-11-02 18:31] rhyolight commented on #2720
/cc @allanino

[2015-11-02 19:31] SaganBolliger commented on #2271
Another issue: removeCategory() seems to be broken. Raises `AttributeError: 'KNNClassifier' object has no attribute '_categoryRecencyList'`

[2015-11-02 19:56] #2721 closed

[2015-11-02 20:40] SaganBolliger commented on #2271
There also seems to be an issue with infer having a side effect when using partitionId. In particular, this unit test fails:

[code]

[2015-11-03 00:08] iorobertob commented on #2563
Just found this thread, I happened to have the same error, I substituted 'localhost' for '127.0.01' and the test_db script worked fine, now I will just have to run the swarm and see if it also solves the problem for that case.

[2015-11-03 00:17] rhyolight commented on #2563
Thanks, @iorobertob! Please let us know... @viveklife2003 does that help you?

[2015-11-03 01:58] viveklife2003 commented on #2563
Yes it is working for me. Thanks .

Sent from my iPhone

[2015-11-03 11:01] RDaneelOlivav opened #2727 "How to use CLA Classifiers"
Hi,

I'm having problems useing Temporal Poler because I though that with them I could know which sequence the data is in.
Example: if I have a structure made up of two levels, each one with a SP and TP, with the output of Level 1 being the input of level 2, if I feed the sequence ABCD ( sequence 1 ) and BCAD ( sequence 2 ) how does ot work?. I mean the first level will convert each letter into SD

[2015-11-03 14:02] allanino commented on #2720
Hi @rhyolight!

I've done some research and Docker Hub only provides webhooks on successful builds. Check this [forum discussion](https://forums.docker.com/t/docker-hub-webhook-on-build-failure/1166).

On the other hand, we can set to receive an email on build failures [here](https://hub.docker.com/account/notifications/). We can activate it in Numenta account setting any target email you would li

[2015-11-03 14:02] allanino commented on #2721
Thanks for the heads-up @rhyolight!

[2015-11-03 14:07] allanino commented on #2722
I don't think Docker Hub has a simple way of doing this.We can set triggers on predefined tags, but it can't automatically build when a new tag is pushed (as far as I know).

That's one of the reasons I started to use [quay.io](quay.io). They provide an easy way to create tagged containers whenever a new tag is pushed. You can check [this project](https://quay.io/repository/cloudwalk/fleet-browser

[2015-11-03 16:10] breznak commented on #2658
@rhyolight just write the outputs to a CSV file and you are good (?)

[2015-11-03 19:52] SaganBolliger opened #2728 "Better behavior for _initPermanence"
An issue brought up in discussion with @scottpurdy is that in [_initPermanence](https://github.com/numenta/nupic/blob/master/src/nupic/research/spatial_pooler.py#L1148) `connectedPct` only produces the correct number of connected synapses on average. In order to have an exact and repeatable number of connected synapses, a better approach would be to initialize an array with the desired number of 1

[2015-11-03 21:33] chetan51 opened #2729 "Allow using FastTemporalMemory through OPF"
By setting `temporalImp='fast_tm_py'` in model params.

[2015-11-03 21:59] rhyolight commented on #2719
@chetan51 ?

[2015-11-03 22:03] chetan51 commented on #2719
:+1:

[2015-11-03 22:19] rhyolight commented on #2719
I meant are you interested in implementing this change?

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Tue, Nov 3, 2015 at 2:03 PM, Chetan Surpur <notifications@github.com>
wrote:

[2015-11-03 22:21] rhyolight commented on #2658
@breznak I don't see how I can do this in the OPF API.

[2015-11-03 22:21] rhyolight commented on #2722
Thanks for the info, @allanino

[2015-11-03 22:22] breznak commented on #2658
Merged Jeff's latest PR and updated the issue description, the check-list is getting slimmer :wink:
What do you think Jeff, are there any issues that should be ironed out, or can we head for a public PR to nupic soon? :fireworks:

[2015-11-03 22:23] rhyolight commented on #2720
Thanks, that's helpful. I have signed up to get notifications on failure, at least.

[2015-11-03 22:29] breznak commented on #2658
@rhyolight we're working towards reasonably generic CSV support (I'll have some testcase and new (sub)issues soonish), so basically anything with a `timestamp` field would work. The "main" focus on OPF files assumes the files produced by `scripts/run_opf_experiment` so you could look there how to write is a similar format (?) Otherwise it might be better to discuss under some specific code you're

[2015-11-03 22:34] subutai commented on #2728
I think this is fine to fix but low priority (unless we have a specific failure we are trying to fix).

[2015-11-03 22:36] chetan51 commented on #2719
Ah. Sure, will do.

[2015-11-03 22:45] SaganBolliger opened #2730 "Understand partitionId and implement, remove, or document appropriately"
This is a sub-issue addressing the point "Understand partitionId and implement, remove, or document appropriately" from #2271. Specifically, several methods in the [KNNClassifier](src/nupic/algorithms/KNNClassifier.py) have a parameter partitionId, which is undocumented. This parameter needs to either be documented or removed.

[2015-11-03 22:46] chetan51 commented on #2719
Hmm, so the thing is that the classifier doesn't care what the nature of the inputs are. It can be from TM active cells, predicted cells, or even SP active columns. So it doesn't make sense to specify "active cells" in the CLA Classifier documentation.

@cogmission Can you think of a better place to specify this?

[2015-11-03 22:53] jefffohl commented on #2658
@breznak I think this looks good, in terms of a big improvement over what is there now. We will need to write some tests before we can submit a PR, I believe, and this is something that we will need to work with @rhyolight on. I am not sure if there are any Javascript testing frameworks used inside of NuPIC, and whether or not we want to introduce them. Also, if we are going to do more work on thi

[2015-11-03 22:58] #2712 closed

[2015-11-03 23:24] cogmission commented on #2719
You missed the "when" in the request. It makes  since to say, "...when the input is from the temporal memory then it is the active cells ."

[2015-11-03 23:27] chetan51 commented on #2719
Even then, it doesn't have to be. It could be the correctly predicted (and currently active) cells from the TM. The classifier doesn't care, so the documentation shouldn't be in the classifier. It should be somewhere that hooks up the TM to the classifier for a typical network configuration; I'm just not sure where that is.

[2015-11-03 23:33] cogmission commented on #2719
It doesn't matter if the Classifier cares or not. The documentation is for developers. ;-) I've seen perfect documentation that mentions the "interactions" of a class with another class. It is a pragmatic reality that of the inputs a Classifier could possibly receive, one of them is a TemporalMemory - and since the site of "misuse" will be upon submission of items to the Classifier, it makes since

[2015-11-03 23:36] rhyolight commented on #2658
generic CSV is perfect for me.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Tue, Nov 3, 2015 at 2:53 PM, Jeff Fohl <notifications@github.com> wrote:

[2015-11-03 23:50] jefffohl commented on #2658
@breznak one thing that I mentioned, but which bears repeating, is that currently, the script will strip out the second and third rows of the CSV. So, if the file is not similar to the OPF output, the first two lines of data will be missing.

[2015-11-03 23:53] breznak commented on #2658
@jefffohl ..I'm just writing a comment about related functionality, and I think dropping the first 2 lines is perfectly OK, as NuPIC is not trained there anyway. I'll put it in a readme, or a small
-----------------------
*) notice on the page?

[2015-11-03 23:54] jefffohl commented on #2658
@breznak - sounds fine for now - I just wanted to make sure you were aware.

[2015-11-04 00:25] breznak commented on #2658
Merged a small example data cleanup - moved to `./examples/{OPF,NAB,CSV}` path.

@rhyolight ...right on time! :hourglass:

@jefffohl I'd like to discuss my user-experience on the latest iteration, esp. focusing at the "generic CSV":

- The "range select" (sub graph at the bottom) works perfectly! However it replaced the "mouse-select a region to zoom", do you think it's possible to combine both of

[2015-11-04 00:42] chetan51 commented on #2710
Decided to just remove TestNode from nupic in favor of the one in nupic.core instead.

[2015-11-04 01:06] jefffohl commented on #2658
@breznak point by point:

* The range-select is incompatible with the mouse-zoom feature. It is either one or the other (unless we want to see if we can make a change to DyGraphs - which I don't want to try right now). Personally, I prefer the mouse-zoom feature.
* For dealing with CSV files that might have a different name than "timestamp", for now, I suggest we leave it, requiring the user to ha

[2015-11-04 01:11] jefffohl commented on #2658
@breznak - I figured out what was going wrong with your test file. The script is assuming that all timestamps are in string format, and it is choking when it encounters a number. It seems to me that it will be difficult to allow timestamps to be in any format the user wishes. Ideally, it would have to be in the ISO 8601 format, but we could define some limited list of valid formats, and warn the u

[2015-11-04 02:21] breznak commented on #2658
Hi @jefffohl !

* for "understanding the graph data", I would prefer the mouse-zoom too, sorry to be a pain..
* `timestamp` column - let's just enforce it then.
* about DyGraphs & Date:
Sorry if I'm ignorant, but does it really have to be a date format for 1 column? I found http://dygraphs.com/data.html#array and it seems logical it's a matrix with numeric columns.
Could we do in `generateFieldMap

[2015-11-04 08:54] cogmission commented on #2719
Significance of code isolation... :-P

![unknown](https://cloud.githubusercontent.com/assets/2340086/10933598/3d4d67dc-829f-11e5-83a2-cc4ce76b2324.jpeg)

[2015-11-04 10:36] breznak commented on #2658
added a few "PR ready code" TODOs, working on a simple code "cleanup"

[2015-11-04 13:34] breznak commented on #2658
@jefffohl please sync with me now if you started working on something, I'm finishing some changes, so that we don't duplicate..

[2015-11-04 14:30] alsmith opened #2732 "Can't run the OHG tutorial."
Try as I might, I haven't been able to even get the hot gym tutorial going, and I'm out of ideas with how to fix it as the error message that comes back is not particularly informative... any clues would be much apprecated!

Steps to repro:

[code]

The database connection works out fine...

[code]

[2015-11-04 14:31] cogmission commented on #2719
I think we can't get around the fact that the CLAClassifier is a "tenant" in the construction of an HTM Network - that's its main purpose. In the Java world, Class documentation often has example usage idioms documented - I think this could be considered normal/expected practice and is a pragmatic yielding to the necessity of establishing a convention for algorithm collaboration. I think we should

[2015-11-04 14:53] rcrowder commented on #1101
Agree with oxtopus, pip uninstall is stable.

[2015-11-04 15:11] breznak commented on #2658
... and finished what I've meant in https://github.com/breznak/nupic/pull/13

[2015-11-04 15:13] breznak commented on #2658
Last thing I'd love to see is the "conditional highlighting" (2 TODOs in UI)

[2015-11-04 16:09] jefffohl commented on #2658
@breznak I was mistaken that DyGraphs requires a Date object. It will accept a number or a Date object when the data is submitted as an array. We want to use an array, because that is easier to work with, from what is output from Papa Parse.

So, if the timestamp is of type Number, we can just pass that along without needing to create a Date object.

Note that the reason we are creating our Date o

[2015-11-04 16:18] breznak commented on #2658
Thanks @jefffohl !
Btw, have you reviewed breznak#13 and agree with it? If it doesn't collide with any of your unmerged code, I'd like to merge it to avoid future conflicts.

[2015-11-04 16:29] jefffohl commented on #2658
@breznak I haven't written anything since you created `plot_results_refactor`, so you can merge it if you like. There are some changes I would like to make if you don't mind, which I will make after you merge. For example, it occurs to me that we could make yet another change to how we handle the timestamp field:

* If the value is of type `number` we just pass it through directly - no need to con

[2015-11-04 16:34] breznak commented on #2658
Thanks, merged. And :+1: on all of your suggestions for `timestamp`

[2015-11-04 17:21] breznak commented on #2658
My unsuccessful try on zoom in/out https://github.com/breznak/nupic/pull/14

[2015-11-04 17:24] jefffohl commented on #2658
@breznak I noticed that you removed "timestamp" from the `excludes` array used in the `generateFieldMap`function. We need to add this back in, or else we end up with 2 instances of "timestamp" in that array, because we have to unshift that item into the array at the end of the routine. This is because "timestamp" has to be at the beginning of the returned array.

[2015-11-04 17:31] breznak commented on #2658
@jefffohl yes, sorry. It worked and I wasn't aware that it would double the column.
You can just change to
`var EXCLUDE_FIELDS = [TIMESTAMP];` to get it back. Will you do that, or should I?

[2015-11-04 17:33] rhyolight commented on #2732
Just to be confident that NuPIC is installed correctly, can you try to run this example?

    cd $HOME/nupic/examples/opf/clients/hotgym/simple
    python hotgym.py

You should see something like this:

[code]

[2015-11-04 17:36] jefffohl commented on #2658
@breznak - I can do it. Though, it depends on what your intentions are for `EXCLUDE_FIELDS`. If it is to make a list of fields that the user might want to exclude, then it might make more sense to hard-code it into the `generateFieldMap` function.

[2015-11-04 18:15] breznak commented on #2658
@jefffohl I thought that was the meaning. If we hard-code it, will it still be possible to plot the "timestamp" column? (usually it's linear, although there can be jumps so it can be interesting being able to plot it too)

[2015-11-04 18:25] alsmith commented on #2732
That works out fine...

%~/nupic/examples/opf/clients/hotgym/simple> python hotgym.py
INFO:__main__:After 100 records, 1-step altMAPE=36.179900
INFO:__main__:After 200 records, 1-step altMAPE=26.685081
INFO:__main__:After 300 records, 1-step altMAPE=23.875171
INFO:__main__:After 400 records, 1-step altMAPE=22.685887
INFO:__main__:After 500 records, 1-step altMAPE=21.781040
INFO:__main__:After 600

[2015-11-04 20:14] jefffohl commented on #2658
@breznak - In DyGraphs, the x-axis is always the timestamp. So, how would one plot the timestamp against the timestamp?

[2015-11-04 20:18] breznak commented on #2658
..ah, you got me :grinning:

[2015-11-04 20:24] jefffohl commented on #2658
New PR here: https://github.com/breznak/nupic/pull/15

[2015-11-04 20:33] breznak commented on #2658
@jefffohl merged, thank you!

[2015-11-04 20:44] breznak commented on #2658
Another thing I got stuck at https://github.com/breznak/nupic/pull/16 - a work to be able to highlight certain ranges when a field is over a threshold.

[2015-11-04 21:56] breznak commented on #2658
Small but needed doc in https://github.com/breznak/nupic/pull/17

[2015-11-04 23:01] scottpurdy commented on #2719
Are you putting words in my mouth again? :wink: I agree that it is useful to include comments on the primary integrations. In this case the TM and TM region should be explicit about how the different outputs should be used. The CLA Classifier can also be more explicit about what it expects when used with the TM since that is the primary usage.

[2015-11-04 23:12] cogmission commented on #2719
lol! - You think we can get Chetan to "sully" his hands with impure documentation? ;-P

[2015-11-05 00:39] breznak commented on #2658
some graph options in https://github.com/breznak/nupic/pull/19

[2015-11-05 10:03] breznak commented on #2658
@jefffohl in testing the UTC/local time, I've noticed an annoying usability problem:
In the hotgym file, if you zoom to 1 week range, the daily trends are nicely visible, but the x-axis shows only days, so it's hard to get time for an exact point (one has to click it and see a pop-up window). So:

- [ ] UI: On higher zoom-out levels (~1 week) it is not possible to see time (fine-grained) on x-axis

[2015-11-05 10:31] breznak commented on #2658
@jefffohl a couple of another ideas:

- `timestamp` we treat it as a special field as it's used as x-axis, to OPF it's just a normal field (only always present). Can we use `iteration` for x-axis instead and treat timestamp like any other field? (if it parses it will be included, no requirement on exact name/presence, no fallback hacks if parsing fails,... ) The disadvantage (?) would be linear it

[2015-11-05 10:36] breznak commented on #2658
- `choice Input: OPF/CSV/NAB` to solve the "disadvantage" above, we could add a choice of input type (3 radio-choices right of the Render btn ?), that would simplify the code quite a lot:
  - for `OPF`: timestamp always called `timestamp`, is string, used as x-axis(?)
  - generic `CSV`: no requirements
  - `NAB` /optional/ could even start the webApp in an iframe below

[2015-11-05 11:12] passiweinberger commented on #2727
Sounds like a problem for the category prediction function of nupic?

For reference see the example here:
https://github.com/numenta/nupic/tree/master/examples/prediction/category_prediction

[2015-11-05 11:21] RDaneelOlivav opened #2733 "Description of Temporal classification"
Is it not updated the page or has TemporalMemory been discontinued to get sequences over patterns "(Soonish)Future: Temporal Memory"?
Because it seems as if for the moment the only way is to train multipe models for each sequence and then see which one predicts better.

[2015-11-05 11:51] RDaneelOlivav commented on #2727
Hmmm... I've run it but I fail to see where has it assigned a sequence of words to the same sequence. Is each row in the results.csv a diferent sequence?
And what does the number beside it mean?

[2015-11-05 13:18] wishingwei commented on #2651
@poshlf @rhyolight
sorry to bother, but I have run into this problem too, when running the following (as you noted above, mine is nupic.bindings -0.2.2)

pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic.core/releases/nupic.bindings/nupic.bindings-0.2.2-cp27-none-linux_x86_64.whl --user

and got this error info:

Downloading/unpacking nupic.bindings==0.2.2 (from nu

[2015-11-05 15:48] arhik commented on #2727
A informational video on CLA Classifier by Subutai Ahmad will help you
more incase you didn't know and this resource will help you in case you
are ok with math behind it.

As far as i know NuPIC CLA Classifer predicts what likely category
would occur in k steps away from present.  Some extra work should be
done on top of it for sequence prediction. This extra work could turn a
bit complex if the s

[2015-11-05 17:04] RDaneelOlivav commented on #2727
Thanks @arhik and @passiweinberger for the fast responses.
I alreday saw the video that you are telling me but it was only the concepts behind, not the inplementation in NUPIC which I'm more intereseted in.

As for the CLA classifier I haven't used it yet. But I'm a bit confused on what's the difference between "category" and "sequence" . What do you mean by category?

I don't intend to get sequen

[2015-11-05 17:05] breznak commented on #2658
@rhyolight looks like we're getting ready! If you have time, could you give this a shot? (and possibly improve the `visualization/Readme` ?)

[2015-11-05 17:19] rcrowder opened #2735 "Integration tests failing on Windows"
Down to five failing integration tests on the Windows build.

[2015-11-05 18:49] arhik commented on #2727
On Thu, Nov 5, 2015 at 12:05 PM, RDaneelOlivav
<notifications@github.com> wrote:

Thank you for understanding.

Category is kind of encoder we pre-assumed you would use. No
overlapping bits would lead to category. A sequence element for your
case would need category encoder. Similar category encoding in
inevitable for a  higher order sequences (you can just concatenate SDRs
but could lead to explo

[2015-11-05 19:34] rhyolight commented on #2658
@breznak @jefffohl Great work. I really like this. I tried it out and it works great. IMO you should merge with the current feature set, then email nupic-discuss with an explanation of how to use. See if any more feature requests come in.

@breznak Go ahead and create a PR and I'll review. But I'm not sure I'll have time to update the readme but I'll try.

[2015-11-05 19:35] arhik commented on #2727
Just took a took a look at agglomerative hierarchical clustering. I
think its doable. Let me think and comment on it. Now i understood what
you are expecting. Sorry if i was completely irrelevant.
'How to use CLA' subject is irrelevant now if you are okay with our
responses regarding CLA - You can raise new question with subject title
'sequence classification' so that core team will help you from

[2015-11-05 19:36] jefffohl commented on #2658
I can work on the README. Or is that something only the Flag Bearer is supposed to do?

[2015-11-05 19:37] rhyolight commented on #2658
@jefffohl Well there is no need to add to the main repo README. But the one in `scripts/visualization` should be created / updated.

[2015-11-05 19:38] jefffohl commented on #2658
@rhyolight - yes, I was referring to the README in `scripts/visualization`

[2015-11-05 19:49] jefffohl commented on #2658
@breznak do you feel that the current state of breznak/nupic/plot_results is what you would like to see for a first PR? If not, what features do you feel are needed? My understanding is that the outstanding features that in development are:

* Allow user to select timestamp field, or use the iteration step as the timestamp field
* Allow the user to select a threshold for each series. When this thr

[2015-11-05 19:54] jefffohl commented on #2658
@rhyolight - I have some tooling questions too. Should we be adding some unit tests here, and if so, do we have any existing Javascript testing frameworks in place within NuPIC? Also, if we are going to continue to build on this web app, I would like to start implementing some build tools to help with development (such as using `gulp` for build, `SaSS` for compiling CSS, `bower` for managing packa

[2015-11-05 19:56] chetan51 commented on #2719
Alright, I concede :) If there is no clearer place to put this, I'll implement this change. But I agree, we should have integration examples and tests for this.

[2015-11-05 20:57] chetan51 opened #2738 "Propagate maxSegmentsPerCell and maxSynapsesPerSegment settings from OPF model params to Connections"

[2015-11-05 21:08] breznak commented on #2658
Yes @jefffohl , I'm very satisfied with the current state of `plot_results`; it's more than what I've wanted at the beginning.
Are you happy with the current state, OK for a PR?

Those features in development are other enhancements, so not blocking the current state. I'll just reword them in my words:

- improved 'generic CSV support' - timestamp would not be enforced anymore. Allow to toggle betw

[2015-11-05 21:11] rhyolight commented on #2658
You are writing the first JavaScript I'm aware of in NuPIC. If you plan on
continuing, I would be more in favor of breaking out your plotting tool
into its own repository and adding tests there.

The reason is I don't really want to add a new JavaScript runtime to a
Python project just to run tests. I think it would be cleaner to have it in
its own repo, especially because of its generic functiona

[2015-11-05 21:13] breznak commented on #2658
About the build tools - I can't judge how much they are needed, but I wouldn't be for extra dependencies to NuPIC, same for tests. This means something like `nupic.visualizations` repo would be nice(?) The nice thing now is you can fire off a browser and view a nupic results, so the new repo would have to be easily distributable - `pip` (?)

[2015-11-05 21:22] jefffohl commented on #2658
Sounds like we are agreed then. I will update the README, and we can make a PR [EDIT: @breznak already made a PR :)]. For further development, I can create a new repo, with a proper set of build tools, tests, etc.

[2015-11-05 21:39] jefffohl commented on #2658
I am not sure what the best way to distribute this would be, but `pip` seems like a strange fit - isn't that for Python packages only? For front-end apps like this, we would usually use something like Bower. Though,  most of the people in this community are probably not avid users of Bower. Of course, it should be pretty easy for people to just use git to clone the repo.

[2015-11-05 21:50] rhyolight commented on #2651
@wishingwei What version of pip are you using? `pip --version`

[2015-11-05 22:29] SaganBolliger opened #2741 "Partition (sequence) ID support"
Github issue corresponding to https://jira.numenta.com/browse/RES-112

We want to be able to pass the sequence ID info throughout the network; this is useful for debugging purposes. The [partitionID in the KNNClassifier|https://github.com/numenta/nupic/blob/master/src/nupic/algorithms/KNNClassifier.py#L359] is supposed to do this, but it's not clear this works. So the task is to first test to see

[2015-11-06 00:13] #2710 closed

[2015-11-06 00:14] #2719 closed

[2015-11-06 01:16] wishingwei commented on #2651
@rhyolight
pip 1.5.4 from /usr/lib/python2.7/dist-packages (python 2.7)

I use the source code way and have seccussfully installed, in  nupic.core issue #684

[2015-11-06 09:04] RDaneelOlivav commented on #2727
Thanks @arhik . Now you understand right? Yeah I'll post a new issue with the title "sequence classification" to dig in on the mater. I'm working right now on it and I'll post anything I get on it but I encourage anyone to do so also, because its very interesting matter and I hope once I finish my project to upload all of it here to thank this great community ;).

[2015-11-06 09:12] RDaneelOlivav opened #2742 "Sequence classification"
I launch this problem: How can we classify different sequences based on the SP1-->TP1-->SP2-->TP2?
For example, if we have two diferent sequences ( ABC s1 and AAB s2) how can we know that when we input an A, we are in s1 and not in s2, and therefore output from A-->SP1-->TP1-->s1, so that the level 2 in the hierarchy gets as inputs s1 or s2?

What I have now is to try and use Clustering to group u

[2015-11-06 22:51] #2729 closed

[2015-11-06 23:15] SaganBolliger commented on #2714
NOTE: I tried implementing this, but discovered that since this proposal changes the order in which random numbers are generated, it causes the compatibility test with C++ to fail. This would require changing the C++ implementation to match. However, the current C++ implementation is already good performance-wise, and this change would likely slow it down somewhat. After some discussion with @scot

[2015-11-07 11:24] aoman89757 opened #2743 "Python quit unexpectedly."
Hi everyone,

I have installed NUPIC successfully, but when trying to import nupic and quit(), I got a prompt with "Python quit unexpectedly error" and the error information in the terminal just like this:

<img width="934" alt="screen shot 2015-11-07 at 19 18 16" src="https://cloud.githubusercontent.com/assets/11574197/11014910/d7c98998-8584-11e5-83ab-eadf18380fd8.png">

Segmentation fault: 11
fe

[2015-11-07 12:48] rcrowder opened #2744 "Replacing shell commands in NuPIC Python code"
Currently there are 'shell destined commands' constructed into cmdLine strings within NuPIC, particularly within the OPF. For example, ```export``` used to set environment variables, and ```python``` used with subprocess calls. One code example can be seen here - https://github.com/numenta/nupic/blob/master/src/nupic/swarming/permutations_runner.py#L364

A PR is changing this to cope with it on Wi

[2015-11-07 13:05] rcrowder commented on #2743
@aoman89757 Hi, there are a variety of known issues with different Python version on OSX. For example, see this open issue https://github.com/numenta/nupic/issues/1813 The one thing that stands out is the age of the Python you are trying to use ```2.7.3```. I don't have a Mac to test this with, but you will likely need to update to a more recent 2.7 version, and/or building NuPIC from source.

[2015-11-07 15:05] rhyolight commented on #2743
Building from source usually fixes problems like this. See our wiki for a tutorial video on it.

Sent from my MegaPhone

[2015-11-09 20:59] rhyolight commented on #2651
@wishingwei Can you please [file a detailed bug report](https://github.com/numenta/nupic/issues/new?body=%3E%20What%20did%20you%20do%3F%20(steps%20to%20reproduce)%0A%0A%3E%20What%20happened%3F%20(actual%20results)%0A%0A%3E%20What%20should%20have%20happened%3F%20(expected%20results)%0A%0A%3E%20Additional%20Information%20(operating%20system%2C%20python%20version%2C%20NuPIC%20commit%20SHA%2C%20etc.))

[2015-11-09 22:47] SaganBolliger opened #2746 "Unnecessary time complexity in _inhibitColumnsGlobal"
In the Python implementation of Spatial Pooler the method to find the global winners does so by [sorting the entire list of activations](https://github.com/numenta/nupic/blob/master/src/nupic/research/spatial_pooler.py#L1427-L1429), and then taking the top k values. However, this is an inefficient approach. With n as the number of columns, sorting in general is O( n log n ), however it is possible

[2015-11-10 14:13] aoman89757 commented on #2743
@rhyolight In fact, I did install it from source

[2015-11-10 14:15] aoman89757 commented on #2743
@rcrowder Yeah, I relinked a more recent Python version and rebuilt it, that worked!  Thanks :)

[2015-11-10 14:35] rcrowder commented on #2743
@aoman89757 Excellent, glad to see you got it working. Apple made some big changes with 2.7 sub-versions, which can break NuPIC's link to the core C++ bindings.

[2015-11-10 14:35] #2743 closed

[2015-11-10 14:49] aoman89757 commented on #2659
@rhyolight  I got the same problem with this swarm.py file and I have tried what you said to display the nupic version, this was what I got:

fengtaiadeMacBook-Pro:nupic fengtaie$ python
Python 2.7.10 (default, Oct 23 2015, 18:17:08)
[GCC 4.2.1 Compatible Apple LLVM 7.0.0 (clang-700.0.59.5)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

fengtaiadeMacBook-Pro:nup

[2015-11-10 15:07] rcrowder commented on #2659
@aoman89757 All this can get quite confusing on OSX :( Particularly with Apple moving to CLang in a certain 2.7 sub-version. The nupic.bindings and nupic have a certain ordering and linking. With Pip uninstall leaving various files and directories in different places, and it's caching adds other issues. You may have more success with uninstalling nupic and nupic.bindings, then reinstalling both. O

[2015-11-10 17:15] rcrowder commented on #2688
This is a nupic.core issue somewhere within the engine region interface. Same occurs with py and cpp CLA Classifier factory output. Without recreating a C++ version of the hierarchy_network_demo it's tricky to work out in PyCharm what happens in the Core. The simplest way to recreate can be;

Spin up a new Ubuntu 14.02 (LTS) VM. It comes with Python 2.7.6 and GCC 4.8.x

Add Python dependencies
- s

[2015-11-10 18:16] #2746 closed

[2015-11-10 18:27] #2714 closed

[2015-11-10 20:10] rcrowder commented on #2732
I've had this issue with some porting work recently. Will try and remember what solved it for me.

[2015-11-10 20:36] #2738 closed

[2015-11-10 21:36] scottpurdy opened #2750 "Temporarily make capnp optional for Windows"
pycapnp does not currently work on Windows so we should prevent it from being installed for now.

[2015-11-11 00:39] chetan51 opened #2751 "Allow using MonitoredFastTemporalMemory through OPF"
By specifying `temporalImp='monitored_tm_cpp` in model params.

[2015-11-11 14:06] allanino commented on #2722
Good news! Docker Hub just released a [dynamic matching](http://blog.docker.com/2015/11/upgraded-autobuild-docker-hub/) feature which does exactly what we want.

[2015-11-11 15:22] rhyolight commented on #2722
[image: Inline image 1]

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Wed, Nov 11, 2015 at 6:06 AM, Allan Costa <notifications@github.com>
wrote:

[2015-11-11 15:30] rhyolight commented on #2722
![1429037342_success-kid-meme-lg](https://cloud.githubusercontent.com/assets/15566/11094704/06d55604-8846-11e5-9d6e-29730d3db8af.jpg)

[2015-11-12 12:33] rcrowder opened #2753 "Remove or replace system log handlers"
This follows a discussion of system and file logging handlers currently in NuPIC. Comments regarding this can be found here; https://github.com/numenta/nupic/pull/2734/files#r44318793

My preference is to leave them for the moment. With the thought that in the future they may become more useful. At that point further work could be done to find replacement or improve current handling for system and

[2015-11-12 23:26] chetan51 opened #2754 "Make python SP and C++ SP compatible"
Bindings for C++ SP methods have been added in https://github.com/numenta/nupic.core/pull/689. Add unit tests for those new methods and make sure these methods are identical to the python versions.

[2015-11-14 21:40] chisophugis commented on #2651
Running the recommended
[code]

I see the same error as @wishingwei when running the `pip install nupic` command:

[code]

Looking in the log file it mentions, there seems to be this relevant snippet:

[code]

The root cause seems to be that it is not finding the wheel on s3 (even though it installed successfully from the previous command).

[2015-11-14 22:00] chisophugis commented on #2651
A workaround is to install both together in the same pip invocation:

[code]

(I don't think the --allow-all-external is needed; that is just cruft from a previous invocation; for the sake of posterity I'm pasting the exact command that worked for me)

[2015-11-16 17:11] #1785 closed

[2015-11-16 19:12] #2750 closed

[2015-11-16 19:13] #2730 closed

[2015-11-16 21:21] ahaverty commented on #2732
I am also hitting this exact issue with identical output as alsmith's first comment. hotgym.py also works fine for me.

[2015-11-16 21:43] ahaverty commented on #2732
Passed this particular issue, I think @rhyolight is right about an install issue, although I'm not sure why hotgym.py worked for us both?

Steps:
1. Clone the nupic project if you haven't already
`git clone https://github.com/numenta/nupic.git`
2. Export the nupic project location to a $NUPIC var
`export NUPIC=$PWD/nupic`
3. Change to the nupic dir
`cd $NUPIC`
4. Install Nupic as root
`sudo python

[2015-11-16 22:32] rhyolight commented on #2742
Any help @scottpurdy or @chetan51 ?

[2015-11-16 22:39] rhyolight commented on #2733
I'm sorry, I don't understand the question. Temporal Memory is the current best thing to use.

[2015-11-16 22:55] rhyolight commented on #2732
Hm, you should not have to install with sudo, as the --user option is
supposed to install into a non-system location. But you might need to
ensure that location pip installs python packages is discoverable by
python.

There are a lot of python problems on OS X. :/

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Mon, Nov 16, 2015 at 1:43 PM, Alan Haverty <notifications@github.com>
wrote

[2015-11-16 23:02] rhyolight commented on #1230
@scottpurdy Old bug report that was never addressed.

[2015-11-16 23:04] chetan51 commented on #2742
I'm not sure I fully understand the entire post, but I will answer the question at the end of the post:

You can add a CLAClassifier to the network, feeding in the output of the TP region to the classifier. The classifier will give you the probabilities of the next transition in the sequence.

[2015-11-17 00:29] rhyolight commented on #2727
@scottpurdy / @chetan51 / @subutai ?

[2015-11-17 00:43] chetan51 commented on #2727
Conversation moved to https://github.com/numenta/nupic/issues/2742#issuecomment-157202924.

[2015-11-17 00:52] #2727 closed

[2015-11-17 11:57] fergalbyrne opened #2757 "DateEncoder creates spurious anomalies due to sudden shifts (eg at midnight)"
![Example of Spurious Anomalies](http://puu.sh/loHhg/2af0a99560.png)

@JonnoFTW is reporting big anomalies across many of his sensors at midnight every night (see http://puu.sh/loHhg/2af0a99560.png for a plot). There is no anomalous traffic to explain this, and it repeats every night. He is using the standard date encoder, which shifts all its bits at midnight every night. This is causing a dramat

[2015-11-17 15:56] rhyolight commented on #2757
@scottpurdy Please take a look at this and #2758.

[2015-11-17 18:37] fergalbyrne commented on #2757
@rhyolight it might make more sense to pull this out into a subclass if the backwards compatibility is a problem. We can look at the pros and cons using the HTM.java version.

[2015-11-18 06:20] inteliL opened #2759 "No matching distribution found for nupic.bindings==0.2.2 [OS X 10.11]"
Hi, I'm trying to install nupic in Mac OS X 10.11.1

It gives me following errors:

[code]

Can anyone tell me how to fix this?

[2015-11-18 09:55] RDaneelOlivav commented on #2742
Update:
For the moment I've managed to acces the probability transitions of the TP and create conectivity matrix from that to classify the learned patterns into clusters which basicaly are classifying each patterns into a sequence.
Lets say we have the following patterns: A,B,C,D,E,F
And we learn three sequences:
s1) ABCD
s2) EF
s3) AADC
Well for now I've managed to create a system that "more or l

[2015-11-18 12:59] breznak commented on #2658
FTR..the work has moved to its stand-alone community repo here: https://github.com/nupic-community/nupic.visualizations

[2015-11-18 15:10] rcrowder commented on #2735
Re-opening this issue to address fix for remaining failing tests.

[2015-11-18 15:52] rcrowder opened #2761 "Broken AppVeyor yaml script, just before tests run"
Simple fix required to get AppVeyor to continue further and test a nupic install.

[2015-11-18 17:08] rhyolight commented on #2757
@subutai I think it is important to find out why Jonathan was getting these midnight anomalies, yet we have never seen them before in any of our data set analyses.

[2015-11-18 17:20] scottpurdy commented on #2757
I'd expect this data set to be using the **time-of-day** encoding for the timestamp, which should shift the bits throughout the day with no significant change at midnight. Does the statement that it shifts the bits at midnight mean you are using the **day-of-week** encoder instead?

[2015-11-18 17:29] rhyolight commented on #2757
@scottpurdy If @JonnoFTW's code is still up to date, [you can see here](https://github.com/JonnoFTW/htm-models-adelaide/blob/master/engine/index.py#L90-L96) that he is not using a time-of-day encoder, only hour-of-week.

[code]

[2015-11-18 17:45] subutai commented on #2757
I agree with Scott: the time-of-day encoder should be used. There is no dramatic "shifts all its bits at midnight every night" with that encoder - it is a circular encoder. If you use hour-of-week then every day has a different encoding. Midnight Tuesday will be treated differently from midnight Wednesday, etc. It will thus need to see several weeks of data before it can learn that pattern.

I wou

[2015-11-18 17:52] rhyolight commented on #2757
@scottpurdy @subutai Would you suggest that this issue be closed in light of this explanation?

[2015-11-18 17:54] #2658 closed

[2015-11-18 18:09] cogmission commented on #2757
Hi guys please confirm that he wasn't using a time update encoder when he encountered this problem originally, before closing this? These comments only have merit if he was in fact using a day of week encoder instead of a time of day encoder.

[2015-11-18 19:31] fergalbyrne commented on #2757
He's using hourOfWeek on a fork I created by adding a new encoder (a morph of timeOfDay) which smoothly shifts over the week as timeOfDay does. He's eliminated all the midnight anomalies shown at the top of this issue using this small change.
For the record, he originally used timeOfDay and dayOfWeek because they were in the hotgym example. The use of dayOfWeek created the anomalies every midnight

[2015-11-18 19:38] rhyolight commented on #2757
@jonnoftw Can you clear this up by telling us exactly what DateEncoder parameters were used that generated the chart at the top of this issue? Were these anomaly scores generated by the current codebase at https://github.com/JonnoFTW/htm-models-adelaide (master branch)?

[2015-11-18 19:42] cogmission commented on #2757
@rhyolight They can't be. @jonnoftw merged @fergalbyrne's changes into his repo to experiment with the new code. You want to know what he was using _originally_.

[2015-11-18 19:43] rhyolight commented on #2757
@cogmission I want to see the model params that were used to create the model that generated the anomalies in the chart shown above, whatever fork/branch it is.

[2015-11-18 19:44] cogmission commented on #2757
@rhyolight exactly... but not the current ones (I'm saying)

[2015-11-18 19:46] fergalbyrne commented on #2757
@subutai this is a replacement for dayOfWeek not timeOfDay. The problem is that dayOfWeek changes all its bits at midnight. If you are reading 2400 rows per day, you can't learn to predict the one time in 2400 when all the dayOfWeek bits change, and you'll get anomalies when nothing has happened.

[2015-11-18 19:49] cogmission commented on #2757
@subutai What @fergalbyrne is saying (which he still hasn't said), is that @jonnoftw was using **both** TimeOfDay **and** DayOfWeek originally, and now he is using TimeOfDay **and** HourOfWeek. That's correct right @fergalbyrne ?

[2015-11-18 19:56] fergalbyrne commented on #2757
Correct. And his midnight anomalies have now vanished.

[2015-11-18 20:04] subutai commented on #2757
@fergalbyrne thanks for the explanation. The title of this issue was confusing me!

This is not always true (depends on resolution) but I see your point. dayOfWeek doesn't move continuously as you go into the evening and onto the next day. If timeOfDay by itself is insufficient, then something like hourOfWeek could be useful. I don't have a problem adding an hourOfWeek encoder to NuPIC - it's a go

[2015-11-18 20:09] rhyolight commented on #2757
Thanks all. I just wanted to confirm the premise of this issue before moving to the PR.

[2015-11-19 01:09] JonnoFTW commented on #2757
The original params were:
[code]
The updated params with the new results using @fergalbyrne's code were (same sensor encoding as before):
[code]
Here's the new results image:
![screenshot from 2015-11-19 11 16 36](https://cloud.githubusercontent.com/assets/650314/11259466/b24f9442-8eb1-11e5-9361-f498d89626cd.png)

[2015-11-19 08:49] fergalbyrne commented on #2757
Thanks @subutai. I have an idea which will make adding the hourOfDay easier - just replace the dayOfWeek encoder's input with the non-rounded number of days since 00:00 Monday. What's important is that we have a scalar changing smoothly, the hourOfWeek is then redundant, so backwards compatibility is not an issue.

[2015-11-19 08:50] fergalbyrne commented on #2757
The only thing needing changing are tests expecting the old encodings.

[2015-11-19 08:54] cogmission commented on #2757
Does anyone else see a problem with the fact that such a simple addition
cannot be made to NuPIC without impacting downstream code and tests? This
is what unit tests are made for, but making the actual change should not be
this involved?

On Thu, Nov 19, 2015 at 2:50 AM, Fergal Byrne <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http:

[2015-11-19 17:32] rhyolight commented on #2757
@cogmission The required changes [are not extensive](https://github.com/numenta/nupic/pull/2758/files), so I guess not.

[2015-11-19 17:39] fergalbyrne commented on #2757
@rhyolight the fix was already there, just commented out. Had to adjust one test (prediction changed very slightly due to smoother changing input). This renders the hourOfWeek redundant and just performs better. No client code changes.

[2015-11-19 17:40] #2761 closed

[2015-11-19 17:48] scottpurdy commented on #2757
@subutai - Do you think it is ok to change the day-of-week encoder to have the hour-of-week behavior or should the hour-of-week be a new encoder option?

[2015-11-19 17:53] subutai commented on #2757
@fergalbyrne @scottpurdy This sounds like a nice change. Can we just also verify that hot gym prediction accuracy didn't suffer?  Possibly its encoder params need to be adjusted slightly.  Other than that (and one minor comment in the PR) it's :+1: from me.

[2015-11-19 18:03] fergalbyrne commented on #2757
@subutai I get (very slightly) better results than any other config on the hourly csv (using equivalent htm.java) using dayOfWeek (with several bits on) as well as timeOfDay. I can't build locally, so can't check hotgym on NuPIC.
@scottpurdy the dayOfWeek has the same encoding, except it moves one bit at a time instead of jumping a day's worth of bits at midnight. The SP is better able to track th

[2015-11-19 18:24] scottpurdy commented on #2757
@fergalbyrne - Yes I understand that. But prediction and classification problems may benefit from the day of week encoding being the same in the morning and at night. I'm not sure if that is practically something we need to worry about now though.

[2015-11-19 19:01] fergalbyrne commented on #2757
@scottpurdy the original problem was the opposite of that, the input at 11:59 was completely different from that at 00:01. Morning and evening encodings for the same day share half the bits using the default radius, so the case you describe is not problematic.

[2015-11-19 19:07] rcrowder opened #2763 "Coordinate encoder _orderForCoordinate produces different results on Windows to Linux"
In nupic/tests/unit/nupic/encoders/coordinate_test.py -

In the testEncodeSaturateArea test, with side-by-side single step comparison on Ubuntu and Windows, both generate all the same seed's to send into Random. Based on the 25 coordinates when looping through them in encoder.encodeIntoArray I.e. the encoder _hashCoordinate produces the same MD5 hash codes for the 25 coordinates on Windows and Lin

[2015-11-19 23:33] scottpurdy commented on #2763
@chetan51 - Do you ahve some time that you can look into this?

[2015-11-19 23:57] chetan51 commented on #2763
@scottpurdy Sure. What's the best way for me to test on a Windows machine?

[2015-11-19 23:58] scottpurdy commented on #2757
Your conclusion doesn't follow from the premise. It very well could be problematic that half the bits are different. But I'm not sure that is is something that we will actually run into.

[2015-11-20 00:14] scottpurdy commented on #2763
Hmm looking into this a bit more. This is a possible issue:
https://mail.python.org/pipermail/python-list/2015-March/686924.html

So we should add a unit test for `_hashCoordinate`. Additionally, it doesn't look like `Random.getUInt64` is very well tested: https://github.com/numenta/nupic.core/blob/master/src/test/unit/utils/RandomTest.cpp

So we can add some tests there for specific results given

[2015-11-20 00:15] scottpurdy commented on #2763
I am going to take a crack at these tests right now so no need to look at this for the moment @chetan51

[2015-11-20 00:15] chetan51 commented on #2763
Okay sure.

[2015-11-20 01:21] #2735 closed

[2015-11-20 02:23] scottpurdy commented on #2763
@chetan51 - I'm running into some issues running the tests that I think must be from when I upgraded to El Capitan. If you have a chance you could add them. Otherwise I'll do so when I get my environment sorted out.

[2015-11-20 02:45] scottpurdy commented on #2763
Got it sorted out... looking now.

[2015-11-20 11:57] rcrowder commented on #2763
@scottpurdy Thanks for looking further. I ran out of time last night cleaning Windows and Linux to ultimately get C++ Random to spit out debug info. Will continue here today.
On Windows and Linux the hashing works OK in the coordinate encoder (produces matching long integer seed's for Random). But as you've seen can be problematic if hashing text files (regardless of encoding, UTF-8/16 etc.). The

[2015-11-20 16:00] RCinna commented on #2651
I'm working on Ubuntu 15.10. I have the same issue after following the instructions on
The first line command works well :

     Successfully installed nupic.bindings pytest-cov numpy pytest-xdist pytest cov-core execnet py coverage apipkg
     Cleaning up...
This is the <i>pip install nupic</i> which has failed

    Downloading/unpacking nupic.bindings==0.2.2 (from nupic)
    Could not find any d

[2015-11-20 16:37] rhyolight commented on #2651
The "installing" videos try to install from binary files, which sometimes
do not work, so folks have to resort to the "compiling" videos. Those
usually work, but require many more steps.

The nupic.core project is a C++ program with a Python SWiG extension that
also gets built into a python module called "nupic.bindings". And yes,
NuPIC is entirely Python, but depends upon the "nupic.bindings" pac

[2015-11-20 16:53] RDaneelOlivav commented on #2742
Really? In the hotgym there is an example of sequence clasification??! Where? I've had a look at it and can't find where are you obtaining those sequences.

[2015-11-20 20:36] scottpurdy commented on #2763
Random tests seem to uncover an issue:
https://ci.appveyor.com/project/numenta-ci/nupic-core/build/0.3.0.144#L1190

In PR numenta/nupic.core#695

[2015-11-20 22:19] chetan51 commented on #2742
I was just responding to your comment about being able to "output those sequences when we are predicting". I realize now you meant "output the labels of the sequences...", and for that there aren't any examples yet (but we are working on it in research). Perhaps @ywcui1990 or @marionleborgne will have more info on the state of sequence classification.

[2015-11-20 23:44] scottpurdy opened #2765 "Add "python setup.py test" option"
To codify the new convention and py.test as the test runner.

[2015-11-21 00:20] marionleborgne commented on #2742
Hi @RDaneelOlivav :) You might me interested to check out this project about sensor data sequence classification https://github.com/numenta/nupic.research/tree/master/projects/classification. As @chetan51 is saying, this is using the CLAClassifier on top of the TM to output class labels.

This lives in nupic.research so it is still fairly experimental. So let me know if you have comments of questi

[2015-11-21 01:41] davidebaldini opened #2767 "_configtest.c:1:20: fatal error: Python.h: No such file or directory"
Hello,

I successfully compiled nupic-core; I'm failing to compile nupic now.
With the latest `master` as of 20/11/2015:

    python setup.py install --user
yields to
[code]

The same problem happens with nupic release 0.3.5.

### O.S. setup

* Debian 7 64 bit under LXC;
* The `gcc` and `c++` binaries in my `$PATH` link to `gcc` and `g++` version 4.8 (4.9 lamented some incorrect C++11 practice ins

[2015-11-21 08:25] RDaneelOlivav commented on #2742
Thanks @chetan51 and @marionleborgne ;). I've managed alreadey to classify it more or less with Agglomerative clustering but I'll check out what you gave me @marionleborgne ;), because it sure is better than my system. It seems you arent useing the raw SP-TP structure but more the swarm-model structure right?

[2015-11-22 16:38] davidebaldini opened #2768 "Clean docker throws exception on "run_swarm.py""
Hello,

I strictly followed the wiki documentation on how to [run NuPIC within docker] (https://github.com/numenta/nupic/wiki/Running-Swarms#running-a-swarm-with-docker), and the steps listed on the wiki cause NuPIC to throw an error.

The environment is Debian 8, Linux 4.1.1.

### Steps I took:
#### 1) clean install of docker (successful):
[code]

#### 2) run MySQL docker container (successful):

[2015-11-22 23:36] RCinna opened #2769 "nupic.core compilation failed"
I'm working on Ubuntu 15.10.
I have same issue as #2651 following the installation step from binary.
Then I tried to install from source, so I followed the "Compiling NuPic on Ubuntu 14 LTS" video :

    git clone https://github.com/numenta/nupic.core.git
    pip install -r bindings/py/requirements.txt
    cmake $NUPIC_CORE -DCMAKE_INSTALL_PREFIX=../release

Results seems to be okey :

    -- The

[2015-11-23 06:25] jerlich commented on #2759
I have the same error on centos 7
kernel : 3.10.0-229.el7.x86_64
pip 7.1.2 from ~/anaconda/envs/nupic/lib/python2.7/site-packages (python 2.7)
[code]

[2015-11-23 06:26] jerlich commented on #2759
I tried 0.3.0 also:

[code]

[2015-11-23 06:31] jerlich commented on #2759
I saw the instructions on github (https://github.com/numenta/nupic/blob/master/README.md)
that you need to install the nupic.bindings first.  The NuPIC homepage (numenta.org) should mention that in the "quickstart" section.

[2015-11-23 18:11] rcrowder commented on #2763
@scottpurdy This is fixed by the lldiv change, outlined in https://github.com/numenta/nupic.core/pull/695#issuecomment-159011687

[2015-11-23 18:13] rcrowder commented on #2763
And the testEncodeIntoArray Windows failure in the Geospatial Coordinate Encoder test

[2015-11-23 18:54] ywcui1990 commented on #2742
@RDaneelOlivav We are using the raw SP->TM->TP network for the experiment. The HTM temporal memory learns sequences with the SP->TM structure, and then we take a union of the active cells in TM for each sequence and classify that. This is the basic idea, although there are many variants around it. As Marion said this is still fairly experimental.

[2015-11-24 15:34] rcrowder commented on #2763
Fixed by https://github.com/numenta/nupic.core/pull/695

[2015-11-24 15:34] #2763 closed

[2015-11-24 19:50] chetan51 opened #2774 "Remove obsoleted tie breaker data from SP"
After https://github.com/numenta/nupic.core/pull/689 is merged.

[2015-11-24 19:53] chetan51 commented on #2556
Looks like we haven't received any more reports of this issue. Can we close?

[2015-11-27 18:28] kleineLi commented on #2651
Hi! Help me, please!
I have run into this problem too, when running the following (as you noted above, mine is nupic.bindings -0.2.2)

pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic.core/releases/nupic.bindings/nupic.bindings-0.2.2-cp27-none-linux_x86_64.whl --user

![image](https://cloud.githubusercontent.com/assets/10851840/11446815/51d9afd6-955e-11e5-9fac-352

[2015-11-28 12:40] gades commented on #2651
Problem on Ubuntu 15.10
[code]

Problem on OS X
[code]

[2015-11-28 13:03] gades opened #2777 "pip install nupic ERROR "No distributions at all found for nupic.bindings==0.2.2 (from nupic)""
Ubuntu 15.10
[code]

OS X 10.11
[code]

[2015-11-28 13:07] gades commented on #2777
For linux I was fix it:
[code]

[2015-11-29 13:08] gades commented on #2777
[code]

[2015-11-29 13:34] gades commented on #2777
I've downloaded manually https://pypi.python.org/packages/2.7/n/nupic.bindings/nupic.bindings-0.2.2-py2.7-macosx-10.9-intel.egg#md5=f10665bb02d113e6c1f7d742420291ed  and installed it

[2015-11-29 13:34] #2777 closed

[2015-11-30 11:06] rcrowder opened #2778 "Skip unit tests that rely on pycapnp package, when impl is missing"
Certain platforms do not have an implementation of pycapnp. This leads to failures in unit testing that rely on the capnp module import. Mark these tests with skipif that can temporarily overcome this issue.
https://pytest.org/latest/skipping.html

[2015-11-30 17:11] #2757 closed

[2015-11-30 22:01] chetan51 opened #2780 "Implement accessor routines for network"
Implement accessor routines to get regions and their underlying objects by type (sensor, SP, TM, TP, KNN, etc.).

[2015-12-02 00:26] chetan51 opened #2784 "For a particular region, get inputs and outputs of last compute"
For debugging purposes.

[2015-12-02 05:19] #2778 closed

[2015-12-03 19:27] scottpurdy opened #2788 "RDSE serialization test could be incorrect"
It doesn't call encode the same number of times on original and deserialized encoder.

[2015-12-03 19:51] #2788 closed

[2015-12-04 00:16] #2780 closed

[2015-12-04 00:16] #2784 closed

[2015-12-04 17:37] jzlouis opened #2790 "Error buliding pycapnp while installing nupic"
I am installing nupic via pip on 64bit Arch Linux. I get the following error when pip attempts to setup pycapnp.

    src/capnp/schema.c++:602:12: error: converting to 'bool' from 'std::nullptr_t' requires direct-initialization [-fpermissive]
         return nullptr;
                ^
    make: *** [src/capnp/schema.lo] Error 1
    make: *** Waiting for unfinished jobs....
    Traceback (most rece

[2015-12-04 17:42] rhyolight commented on #2790
Why don't you first try running `pip install pycapnp==0.5.7`, then reinstall and see what happens?

[2015-12-04 18:00] jzlouis commented on #2790
I did that. The nupic install removes 0.5.7 in favor of 0.5.5 which is denoted as a dependency.

[2015-12-04 18:05] rhyolight commented on #2790
Ah, I see the dependency in [NuPIC's `setup.py`](https://github.com/numenta/nupic/blob/master/setup.py#L91) now. That seems strange. @scottpurdy @oxtopus why is this dependency in setup instead of `requirements.txt`?

Also @jzlouis if you are building from source, you could possibly just update the version in that file and try again?

[2015-12-04 22:38] jzlouis commented on #2790
Changing the dependency in setup.py and rebuilding from source works. I ran all of the unit tests and those appeared to complete successfully. I will let you know if I encounter any errant behavior using pycapnp 0.5.7.

[2015-12-04 22:46] rhyolight commented on #2790
Thanks! I guess we should think about updating @scottpurdy

Sent from my MegaPhone

[2015-12-04 22:47] oxtopus commented on #2790
@rhyolight pycapnp was removed from requirements.txt in https://github.com/numenta/nupic/commit/4e004530ac93228f3484bb616c6a600dc45ed94c, I believe due to an issue in getting nupic up and running in windows.  Updating nupic to specify 0.5.7 and any other references to previous versions should be done.

[2015-12-04 23:44] rhyolight commented on #2767
@davidebaldini First of all, sorry it has taken so long for a response.

2nd, your problem may be due to NuPIC and NuPIC Core being out of sync with each other, which has been the case for the past several months. To confirm that this is the case checkout the following commit in NuPIC core:

[code]

Then follow the build instructions in the README or watch [this video](https://www.youtube.com/watc

[2015-12-04 23:46] rhyolight commented on #2768
@oxtopus Can you take a look at this?

[2015-12-04 23:49] rhyolight commented on #2769
@RCinna First of all, sorry it has taken so long for a response.

2nd, your problem may be due to NuPIC and NuPIC Core being out of sync with each other, which has been the case for the past several months. To confirm that this is the case checkout the following commit in NuPIC core:

[code]

Then try compiling again. Please let me know if using that specific SHA works?

[2015-12-04 23:51] rhyolight commented on #2759
@jerlich Thanks for that. Is it working for you now?

[2015-12-04 23:55] rhyolight commented on #2742
@RDaneelOlivav Since this is more of a discussion than a feature request or bug report, do you mind if I close this issue? Or did I misunderstand?

[2015-12-05 00:02] rhyolight commented on #2556
@scottpurdy close this?

[2015-12-05 00:11] rhyolight commented on #2651
@kleineLi I don't know what causes this problem, but I know that compiling from source code is the only workaround: https://www.youtube.com/watch?v=BrnPQJKpcWo

[2015-12-05 00:12] rhyolight commented on #2777
Thanks @gades I still have no idea why some pip installations cannot find this file even when we give the URL directly to it.

[2015-12-05 00:20] #2556 closed

[2015-12-05 00:20] scottpurdy commented on #2556
Woohoo!

[2015-12-05 14:39] aoman89757 opened #2792 "Some questions about the swarm_description.py file"
Hello,

I'm trying to imitate the one_gym prediction programme to figure out how it works. I have got one new dataset like this:
<img width="502" alt="screen shot 2015-12-05 at 22 29 00" src="https://cloud.githubusercontent.com/assets/11574197/11608284/d2dc4016-9b9f-11e5-8181-1b44d655d41c.png">

So I modified the swarm_description.py
<img width="942" alt="screen shot 2015-12-05 at 22 32 03" src="h

[2015-12-05 14:45] rcrowder commented on #2792
@aoman89757 The header for a CSV requires three lines before the data rows. You can see what is required in the second and third lines here https://github.com/numenta/nupic/wiki/NuPIC-Input-Data-File-Format

[2015-12-05 15:37] rhyolight commented on #2792
Right, your first 3 lines should look like this:

[code]

[2015-12-05 15:55] rcrowder commented on #2792
Just got back from some errands. @rhyolight was going to ping you to say, this looks like a good candidate to add to the Wiki FAQ. With potential to raise the profile of the FAQ. Unsure if you have alist of known problems like this. OR potential to raise another issue to embellish the message output when CSV header parsing encounters a problem?

[2015-12-05 15:58] rhyolight commented on #2792
@rcrowder I'm not crazy about our FAQ on the wiki. It starts at https://github.com/numenta/nupic/wiki/FAQ and leads to https://github.com/numenta/nupic/wiki/NuPIC-Usage-FAQ where I think this should go. Something like "Why is my swarm not working?" or is that too generic?

[2015-12-05 16:07] rcrowder commented on #2792
Ah! I scanned an expanded Wiki Page index (right hand side) and found the FAQ entry, but didn't realize the headings pointed to other FAQs. My comment only refers to seeing the one wiki/FAQ page. In light of seeing the other FAQs a generic heading seems fine. Certain keywords from the error message, such as FieldMetaType, can be used to link error to possible fixes.

[2015-12-05 16:21] rcrowder opened #2793 "Wiki search box"
Github's "This repository" search box doesn't include Wiki pages. It would be useful to add into the Wiki a dedicated page content search. For example; https://github.com/linyows/github-wiki-search

[2015-12-05 16:26] rhyolight commented on #2793
I'm already using that Chrome extension. But it cannot be added direction to the Github Wiki. It can only be installed on the client at the discretion of the browser.

[2015-12-05 16:38] rcrowder commented on #2793
Thanks, I've digged further and seen the issues :( So installation of a browser extension, or use of something like Gollum (and/or Grip) with a clone of the wiki, looks like the only answer. Unless GH add it themselves, eventually.

[2015-12-05 16:38] #2793 closed

[2015-12-05 16:39] rcrowder commented on #2793
Or just a git clone, and git grep https://coderwall.com/p/i5heiq/searching-github-wikis

[2015-12-06 12:29] aoman89757 commented on #2792
Aha, thanks :) @rcrowder, @rhyolight

[2015-12-06 12:44] gazhayes commented on #1946
Same error on 10.10.2

[2015-12-06 15:25] rhyolight commented on #2793
By the way, <http://numenta.org/search/> also searches the wiki.

[2015-12-06 16:01] #2792 closed

[2015-12-07 14:40] aoman89757 opened #2794 "How to set the custom configuration(username&password) of MYSQL for running swarm"
Hi,
I have installed successfully the nupic from the binary file on our server(not from the source code), and the swarm process need the mysql (which already installed with the custom username and password)to fire up. How can I set the custom configuration(username&password)of mysql for running swarm?

I have tried the nupic-default.xml and nupic-site.xml, but it didn't work for me :(

Thanks

[2015-12-07 14:50] rhyolight commented on #2794
@aoman89757 You saw this, right? https://github.com/numenta/nupic/wiki/MySQL-Settings

[2015-12-07 14:51] rhyolight commented on #2794
Remember you need to set a `$NUPIC` environment variable and place the config file relative to that location...

[2015-12-07 19:22] scottpurdy commented on #2774
In addition to removing `self._tieBreaker` from the constructor, the deserialization should be set up to check if `_tieBreaker` is in the loaded dict and remove it before updating the instance.

[2015-12-07 21:59] zeropoid opened #2795 "Two issues in one after nupic.core and nupic instalation on Ubuntu according to vidio."
I've followed all the instruction in https://www.youtube.com/watch?v=BrnPQJKpcWo and everything seems installed fine. But in the end I've got this:

![screenshot from 2015-12-07 23 57 05](https://cloud.githubusercontent.com/assets/8404207/11640992/6ab4689c-9d3e-11e5-8091-d34643d2c0fd.png)
![screenshot from 2015-12-07 23 58 10](https://cloud.githubusercontent.com/assets/8404207/11640995/6faa58c0-9d

[2015-12-08 21:49] chetan51 opened #2799 "Fix opf_checkpoint_test.py"
The two enabled tests in `opf_checkpoint_test.py` are invalid after the first time they are run because they do not clean up the checkpoint directories they produce, and they reuse these directories on subsequent runs.

[2015-12-09 14:56] breznak opened #2802 "AnomalyScore and multiStepPredictions.N in OPF do not have correct (strict) data type (can be None)"
* `anomalyScore` is defined as a float in range [0..1], while in OPF results file it has type "string" (because a few 1st values can be `None`)
* that is because `(multistep)prediction models` predict the 1st N values as `None`, instead of desired data type again.

This could be easily fixed, anomalyScore should be `0.5` during burn-in, predictions could be eg `0.0`.
That is a more correct approac

[2015-12-09 22:10] #2754 closed

[2015-12-10 04:30] adeze commented on #2743
I had to build from source, but even that had problems afterwards. I think I somehow, by magic, resolved it with setting this in ~/.bash_profile  before you install the nupic.bindings:
[code]

you may need to also
[code]
I also have installed python 2.7.11 via homebrew AND from the python installer.

(I'm not if this is the solution-- as i did a bunch of things-- but things work now but this solut

[2015-12-11 19:25] rcrowder opened #2812 "testGetRegion unit test relies on pycapnp"
PR https://github.com/numenta/nupic/pull/2781 introduced a new network unit test that relies on pycapnp, so fails on OS platforms that don't have that package.

[2015-12-11 19:34] rcrowder opened #2814 "Nupic Windows wheel is named incorrectly"
Plus requires a change to cope with differing nupic.bindings wheel name after the big CMake merge in nupic.core

[2015-12-11 20:07] SaganBolliger opened #2817 "KNN classifier overlap scores"
From https://jira.numenta.com/browse/RES-142:

The KNNClassifier output data is the inferred category probabilities. The HTMNetwork model uses this for querying by first assigning each data sample its own category, and then the category probabilities are relative distances to each data sample. This is hacky, and it would be much more useful (in Imbu and otherwise) to get the actual distance (overl

[2015-12-11 21:43] chetan51 opened #2818 "Remove PyRegion.py in favor of the one in nupic.core bindings"

[2015-12-11 21:52] chetan51 opened #2820 "Make spatial pooler `read` method a classmethod"
For consistency.

[2015-12-11 22:47] #2818 closed

[2015-12-11 22:48] #2820 closed

[2015-12-12 02:56] BoltzmannBrain commented on #2817
@SaganBolliger out of jira context this issue makes no sense. The nupic issue here is "get the actual distance (overlap) values from the KNNClassifier as a standard output of the region."

[2015-12-14 19:40] rhyolight commented on #2795
Does this error occur only when running tests?

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Mon, Dec 7, 2015 at 1:59 PM, Maxim Krymchak <notifications@github.com>
wrote:

[2015-12-14 23:04] rhyolight commented on #2802
Is it currently an empty string to denote no value?

[2015-12-14 23:16] breznak commented on #2802
anomalyScore:
 * type: string (incorrect)
 * default value: `0.5` (OK)

predictions:
  * string (in numeric cases incorrect, should allow to set strongly typed value)
  * `None`

[2015-12-14 23:18] rhyolight commented on #2802
@subutai @scottpurdy I tend to agree with @breznak here.

[2015-12-15 00:00] subutai opened #2829 "Improve default swarm parameters"
We have learned quite a bit about parameters and their useful ranges. We should update the swarm parameter ranges to incorporate the latest knowledge from the past year. This issue involves reviewing the existing swarm parameter setting logic, updating them as necessary, and testing on existing examples.

[2015-12-15 00:20] subutai commented on #2802
Sounds good to me too. It also matches what we do with AnomalyLikelihood.

[2015-12-15 01:48] chetan51 opened #2830 "Fix serialization of MultiEncoder"
When using AdaptiveScalarEncoder, it crashes.

[2015-12-15 02:06] chetan51 opened #2832 "Fix serialization of MovingAverage"
When total is a float, serialization using capnp crashes.

[2015-12-15 02:15] breznak opened #2834 "Add RDSE to the encoders supported in MultiEncoder for capnp serialization"
it already has the capnp files, see
https://github.com/numenta/nupic/pull/2831#discussion-diff-47588357

[2015-12-15 02:18] chetan51 opened #2835 "Add capnp serialization to RecordSensor region"

[2015-12-15 03:34] cogmission commented on #2829
I for one am incredibly interested in Parameter insights! :+1:

[2015-12-15 09:28] aoman89757 commented on #2794
@rhyolight I did follow this tutorial, but the result is always the same:
Retrieved the following settings from NuPIC configuration:
    host   :     localhost
    port   :     3306
    user   :     root
    passwd :

[2015-12-15 15:28] rcrowder commented on #2053
@rhyolight I've just had a look at my Free Tier EC2 account. And have been able to get an instance started and remote desktop into it. If required, I could look further at getting NuPIC running within this Windows 2012 R2 server?

[2015-12-15 15:34] rcrowder commented on #1352
@chetan51 Have your recent changes corrected this issue, or is this a WIP super-issue and reliant on #2290? cc @breznak

[2015-12-15 15:45] rcrowder commented on #2812
Fixed within https://github.com/numenta/nupic.core/pull/741 The nupic.core TestNode.py file had the capnp import guarded instead of changing NuPIC Python code cc @chetan51

[2015-12-15 15:45] #2812 closed

[2015-12-15 18:02] chetan51 commented on #1352
My recent changes should have corrected this issue. @breznak can you confirm?

[2015-12-15 18:03] chetan51 commented on #2812
Thanks @rcrowder

[2015-12-15 18:35] rhyolight commented on #2794
What happens when you run the following command?

    cat ${NUPIC}/config/default/nupic-default.xml

[2015-12-15 18:53] breznak commented on #1352
@chetan51 thanks!
I cannot confirm now, will have time later next week. But from the past the remaining items here were:

TODO: enable https://github.com/numenta/nupic/pull/1351/files#diff-2de276b5266b55bfca508270faeb8ad3R392 when fixed - a testcase for this bug
CC @scottpurdy @oxtopus
Blocked by:
    #2290 same C++/Py params

I'll need to test that and understand the motivation for this issue aga

[2015-12-15 18:54] chetan51 opened #2838 "Add capnp serialization to SPRegion"

[2015-12-15 18:54] rhyolight commented on #2053
Ok, let's talk about this after we get windows wheels up on pypi, docs updated, and CI green across the board.

[2015-12-15 20:23] chetan51 opened #2840 "hello_sp.py using C++ SP isn't producing correct results"
In the "identical input" test, using C++ SP, different SDRs are produced from the SP.

[2015-12-15 22:16] #2488 closed

[2015-12-15 22:16] #2814 closed

[2015-12-15 22:19] oxtopus opened #2842 "Docker build is broken (again)"
See https://hub.docker.com/r/numenta/nupic/builds/ and http://ci.numenta.com/browse/NUP-NDB-17/log for current failure

[2015-12-15 23:13] chetan51 opened #2844 "Add capnp serialization to CLAClassifierRegion"

[2015-12-15 23:26] #2840 closed

[2015-12-16 02:43] #2830 closed

[2015-12-16 02:53] scottpurdy commented on #2802
I agree that the anomaly score should be a float and it should match what is returned [here](https://github.com/numenta/nupic/blob/299e0557c15c2233b71ad72811f4d375e4324ae7/src/nupic/algorithms/anomaly.py#L30-L52) rather than whatever manipulation leads to a string or None. We definitely should not set it to `0.5` arbitrarily.

The predictions can be empty though and it definitely does not make sen

[2015-12-16 19:02] #1890 closed

[2015-12-16 20:36] chetan51 opened #2854 "Remove preEncodingFilters and postEncodingFilters from RecordSensor"
They are not being used anywhere, and [will not be serialized](https://github.com/numenta/nupic/pull/2836#discussion_r47824699).

[2015-12-16 21:22] #2835 closed

[2015-12-16 21:55] #2799 closed

[2015-12-17 00:49] #2842 closed

[2015-12-17 19:09] rhyolight opened #2864 "Configure AppVeyor to build tagged branches"

[2015-12-17 19:16] #2864 closed

[2015-12-18 12:40] rcrowder opened #2877 "AppVeyor doesn't require twine upload. It only relies on a win_amd64 nupic.bindings wheel from PyPi."
The 'any' wheel produced by Travis git tagged release builds can be used on Windows. As long as nupic.core AppVeyor git tagged release successfully builds and uploads to PyPi the appropriate nupic.bindings Windows wheel (a `...win_amd64.whl` file).

In `appveyor.yml` the `on_success` handler can be remove. The `python setup.py bdist_wheel` can also be changed to a `python setup.py install`.

[2015-12-18 12:44] rcrowder opened #2878 "NuPIC Readme and Wiki needs to describe Windows PyPi installation."
With a working Windows nupic.bindings file on PyPi (0.2.7 - https://pypi.python.org/pypi/nupic.bindings), all documentation relating to Windows installs and building needs updating to take that into account.

[2015-12-18 13:18] rcrowder commented on #1889
@rhyolight This may still be applicable?

[2015-12-18 15:08] rhyolight commented on #2877
Aha, good catch :+1:

[2015-12-18 15:10] rhyolight commented on #1889
I don't think so, like you said this is a python only package now, so no binary upload is necessary.

[2015-12-18 15:10] #1889 closed

[2015-12-18 15:13] rcrowder commented on #1786
@rhyolight One remaining task here. Issues have been raised to address the remaining work.

[2015-12-18 19:23] cogmission commented on #1588
Commenting to make sure I get notification of updates. I've got my eye on you... :-)

[2015-12-19 00:39] #2765 closed

[2015-12-19 01:08] #2844 closed

[2015-12-20 15:28] rhyolight opened #2880 "Remote "under development" examples that will never be completed"
[code]

I propose we remote all these if they truly are not complete. I don't see anyone working on them.

[2015-12-21 06:42] aoman89757 commented on #2794
I did create that file, but I got the error test result(besides, the directory of the nupic-site.xml file is different $NUPIC/src/nupic/support/nupic-default.xml ? ${NUPIC}/config/default/nupic-site.xml? ):

This script will validate that your MySQL is setup correctly for NuPIC.
MySQL is required for NuPIC swarming. The settings are defined in a
configuration file found in $NUPIC/src/nupic/support

[2015-12-21 15:50] rcrowder commented on #2878
@rhyolight No obvious changes are required to the main README.md Just a tidy up of any Windows related Wiki info. And of course dealing with the `Import Error` issues with nupic.bindings, that now exists across all supported platforms.

[2015-12-21 16:22] rcrowder commented on #2378
@scottpurdy With nupic and nupic.bindings now working on Windows with Python 2.7 (https://github.com/numenta/nupic/pull/2875), I'm closing this task off.

[2015-12-21 16:32] rhyolight commented on #2794
Ok I think I got the path wrong. Wherever the `nupic-default.xml` file is, you should put your own `nupic-site.xml` file in the same directory. Copy the exact format of `nupic-default.xml` and replace the MySQL authentication values.

Are you certain that MySQL is actually running?

[2015-12-21 16:54] #2877 closed

[2015-12-21 16:57] scottpurdy commented on #2378
@rcrowder - You're right that we don't need this for Windows support but we can still use this issue to track Python 3 support, which we still want but isn't high priority.

[2015-12-21 17:29] scottpurdy commented on #1813
@marionleborgne - I believe you ran into this issue while attempting to use a bundled Python interpreter. What are the steps to make sure that the right Python headers, etc. are picked up during the CMake build?

[2015-12-21 19:38] #2838 closed

[2015-12-21 19:46] #2832 closed

[2015-12-21 22:25] marionleborgne commented on #1813
I ran cmake with the following flags:

[code]

where `PREFIX` is the location of my python interpreter.

Hope it helps.

[2015-12-22 01:37] chetan51 opened #2886 "Refactor regions to use read class methods in SWIG bindings"
Counterpart to https://github.com/numenta/nupic.core/issues/793.

[2015-12-22 01:48] chetan51 opened #2888 "Complete implementation of capnproto serialization"
This is a super issue to track progress.

[2015-12-22 01:51] chetan51 opened #2889 "Add capnproto serialization to CLAModel"

[2015-12-22 01:54] chetan51 commented on #2889
Currently using these hacky changes to test serialization of Network through CLAModel: https://github.com/numenta/nupic/compare/master...chetan51:network_serialization?expand=1

[2015-12-22 20:00] subutai opened #2890 "Clean up partition ID in KNNClassifier"
Clean up partitionId in KNNClassifierRegion and KNNClassifier.

Rename to "sequenceId" or "patternId"
Document sequenceId even more clearly.
Take out finishLearning/restart learning logic.
Make sequenceId work efficiently all the time without requiring restart learning.
Add logic to easily disable sequenceId ignore logic.
Add tests for the above.

Related to #2741

[2015-12-22 20:32] #2741 closed

[2015-12-26 11:51] cogmission commented on #1233
Ping?

[2016-01-01 14:26] Neuroforge commented on #2470
Hi,
I am also recieving this error.

1.Ubuntu 14.04.3 LTS \n \l
2.Just run the "sudo apt-get install python-dev" , now it tells that the python-dev is the latest version;
for the Ubuntu is a chinese version, and I will not paste the log here.
3.Nupic master branch.

Any tips on this?

[2016-01-02 00:37] Neuroforge opened #2898 "Fail to install the setup.py by ''python setup.py install''"
Hi,

Fail to install the setup.py by ''python setup.py install''

Here is the wrong message,
SystemError: Cannot compile 'Python.h'. Perhaps you need to install python-dev|python-devel.

But I can successfully install all the dependencies mentioned in the wiki,

System.....
1.Ubuntu 14.04.3 LTS \n \l
2.Just run the "sudo apt-get install python-dev" , now it tells that the python-dev is the latest

[2016-01-02 11:49] Neuroforge commented on #2898
Known issues.....

http://stackoverflow.com/questions/20356725/error-installing-numpy-via-setup-tools-in-virtualenv-on-ubuntu

[2016-01-03 09:02] wishingwei commented on #2470
@Neuroforge sorry, I just made another try and succeeded, but do not known where went wrong. Anyway, it is a long time for me to remember the details at that time. Really sorry about that.

[2016-01-03 22:21] cogmission commented on #1567
@chessweb01 @chetan51

I'm sorry, I never did see this last comment, and only came to it now because I have some issues surrounding HTM.java's CoordinateEncoder, now.

I refer you to [this link](https://github.com/jswhit/pyproj/blob/master/src/geocent.c) as a reference to the code from which I believe your simplifications came?

The following code doesn't quite look the same upon initial inspectio

[2016-01-04 21:31] chetan51 opened #2899 "Refactor PyRegion subclasses to take specific proto object in read"
Instead of taking a `RegionImpl` proto object, they should implement `getProtoType` and the `PyRegion` base class should call `getProtoType` and call `read` on the subclass with the specific proto object returned by `getProtoType`.

[2016-01-05 18:44] SaganBolliger commented on #2890
I'm not sure renaming the partitionId to sequenceId is the best course of action. So far the use of sequenceId has been as a piece of debugging information that is purely informational and has no effect on the algorithm. partitionId, on the other hand, when provided, does affect the output of the KNN classifier by excluding subsets of the training vectors.

I could see removing the partitionId fun

[2016-01-05 21:04] subutai opened #2902 "Remove leaveOneOutTest and doSelfValidation in KNN classes."
Remove leaveOneOutTest() in KNNClassifier.  It is a legacy function - only used by the Region for a doSelfValidation mode.  That mode is not used by anything in NuPIC.

This issue is to remove both. We should make sure serialization backward compatibility is handled correctly.

[2016-01-05 21:09] subutai commented on #2890
@SaganBolliger We are generalizing the meaning of partitionId to cover more cases. I actually think calling it "patternId" is clearer since it does not have to be tied to sequences or partitions.

There will be no impact on current functionality, other than the renaming.

[2016-01-05 22:22] rcrowder opened #2904 "pyproj 1.9.5 release fails to build bdist_wheel during nupic install"
Re: https://github.com/numenta/nupic/pull/2875/files#r48903652

pyproj 1.9.5 was released to PyPi today (https://pypi.python.org/pypi/pyproj), but fails to build the bdist_wheel version on AppVeyor (https://ci.appveyor.com/project/numenta-ci/nupic/build/0.1.0.694#L1922).

Recommendation is to revert back to known working 1.9.3 and enforce that in the requirements.txt file.

[2016-01-05 22:52] #2899 closed

[2016-01-05 22:52] #2886 closed

[2016-01-06 01:31] #2890 closed

[2016-01-06 17:10] rhyolight opened #2909 "Showcase that NuPIC codebase is citeable"
Community wanted citeable codebase, so I hooked it up. Just need to add this badge to the README.

[2016-01-06 17:49] cogmission commented on #2909
HTM.java too?

[2016-01-06 18:24] #2904 closed

[2016-01-06 18:24] rhyolight commented on #2909
Go for it: https://guides.github.com/activities/citable-code/

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Wed, Jan 6, 2016 at 9:49 AM, David Ray <notifications@github.com> wrote:

[2016-01-06 18:30] #2909 closed

[2016-01-06 21:25] rhyolight opened #2912 "Windows build failure"
Latest `nupic.core` builds are currently failing in NuPIC.

See https://ci.appveyor.com/project/numenta-ci/nupic/build/0.1.0.749

[2016-01-06 21:33] rcrowder commented on #2912
@rhyolight Fix has been merged in https://github.com/numenta/nupic/pull/2905

[2016-01-06 21:34] rhyolight commented on #2912
@rcrowder brilliant, thanks

[2016-01-06 21:35] #2912 closed

[2016-01-06 21:36] rcrowder commented on #2912
A potential fix was added recently in https://github.com/jswhit/pyproj/commit/68ee8dc7ba8aa61ab01c5147350aaf1e1d9bf3be

[2016-01-06 23:53] chetan51 opened #2913 "Add capnproto serialization to TMRegion"
Depends on https://github.com/numenta/nupic.core/issues/816.

[2016-01-06 23:55] chetan51 opened #2914 "Add capnproto serialization to KNNClassifierRegion"

[2016-01-06 23:56] chetan51 opened #2915 "Add capnproto serialization to KNNAnomalyClassifierRegion"

[2016-01-06 23:58] chetan51 opened #2916 "Serialize remaining fields in CLAModel using capnproto"
Look at `__setstate__` to see which fields have yet to be serialized after https://github.com/numenta/nupic/pull/2908 is merged, and add them.

[2016-01-06 23:59] chetan51 opened #2917 "Create serialization migration utility"
That converts old serialized model into new capnproto serialized model.

[2016-01-07 00:49] #2889 closed

[2016-01-07 17:40] rhyolight opened #2918 "compute Predicted Active Cells Bug in TPRegion"
Created so https://github.com/numenta/nupic/pull/2771 has something to fix (cc @ywcui1990)

[2016-01-07 17:42] #2918 closed

[2016-01-07 23:40] chetan51 opened #2920 "Support more parameters in TPShim"
So that there are no issues when using it with existing model params.

[2016-01-08 01:47] chetan51 opened #2922 "Fix RecordSensor serialization"
Getting type errors in some tests.

[2016-01-08 01:48] chetan51 opened #2924 "Add tests for Network serialization using capnproto"
This will make it easier to test serialization of specific regions.

[2016-01-08 07:38] DefinitlyEvil opened #2926 "Error when installing on Windows"
[code]

[2016-01-08 09:32] breznak opened #2927 "KNNClassifier test fails: getPartitionId"
A report...
fails on Ubuntu with core and nupic installed from offic. binaries.

[code]

[2016-01-08 19:45] #2916 closed

[2016-01-08 19:47] SaganBolliger commented on #2817
No longer needed.

[2016-01-08 19:47] #2817 closed

[2016-01-08 21:21] chetan51 opened #2929 "Add capnproto serialization to TP.py"

[2016-01-08 21:21] chetan51 opened #2930 "Add capnproto serialization to TP10X2"

[2016-01-08 22:20] #2920 closed

[2016-01-09 06:57] abrahamrhoffman opened #2932 "Nupic.bindings==0.2.8.dev0 Unavailable"
Ubuntu 14.04.3 (as root)
- git clone https://github.com/numenta/nupic.core.git
- git clone https://github.com/numenta/nupic.git
- (make evironment variable)
- cd $NUPIC
- pwd -> /root/nupic
- python setup.py install

Error:
Reading https://pypi.python.org/simple/nupic.bindings/
No local packages or download links found for nupic.bindings==0.2.8.dev0
error: Could not find suitable distribution for

[2016-01-10 15:50] chickenbestlover opened #2933 "low level code example of hierarchical structure"
hi, im newbie to nupic. i'm working on training midi files(*.mid , a sort of music file) using low-level codes.
Low-level codes mean just a raw sp and tp code, not network API or OPF.
I prefer to use low-level codes because it's easier for me to modify the codes.
I used a simple structure like this:
      raw midi data -> Encoder -> Spatial Pooler -> Temporal Pooler -> CLA Classifier -> prediction

[2016-01-11 00:10] riis619 commented on #2777
Hello,

Im having a similar installation problem

....
Installed /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/nupic-0.3.7.dev0-py2.7.egg
Processing dependencies for nupic==0.3.7.dev0
Searching for nupic.bindings==0.2.8.dev0
Reading https://pypi.python.org/simple/nupic.bindings/
No local packages or download links found for nupic.bindings==0.2.8.dev0
error: Could no

[2016-01-11 00:12] riis619 opened #2934 "No local packages or download links found for nupic.bindings==0.2.8.dev0"

[2016-01-11 22:30] FlyingSpringrol commented on #2651
@chisophugis your workaround worked for me! Working on Ubuntu 15.10.

[2016-01-11 22:36] #2934 closed

[2016-01-11 23:35] rhyolight commented on #2759
I just installed successfully on OS X 10.11 (El Capitan), but I had to do this:

    export CMAKE_OSX_DEPLOYMENT_TARGET=10.11

And upgrade XCode to 7.2.

[2016-01-11 23:35] #2759 closed

[2016-01-11 23:52] rhyolight opened #2935 "AttributeError: 'TPShim' object has no attribute 'topDownCompute'"
I got this error by switching from `'temporalImp': 'cpp'` to `'temporalImp': 'tm_py'` in the model params of a model. The code worked before the change, but after the change I got this:

[code]

I am running tip of master of both core and nupic, compiled locally on my machine:

    nupic 0.3.7.dev0 (SHA 58c96d0f39b074e5c306c6863ae57345e47f2908)
    nupic.bindings 0.2.8.dev0 (SHA 621a1b7fb3d0ff4ff3

[2016-01-11 23:53] rhyolight commented on #2935
@chetan51 Can you take an initial look at this and tell me if you see anything obvious? (cc @scottpurdy)

[2016-01-11 23:57] rhyolight commented on #2935
Strangely, this does not happen when I make the same change in the simple hotgym sample...

[code]

[2016-01-12 00:24] chetan51 commented on #2935
@rhyolight I've seen this error before, it happens when `topDownMode` is true in `TPRegion` because `topDownCompute` isn't implemented in `TPShim`. I'll look into it further tomorrow.

[2016-01-12 02:54] YRG999 opened #2936 "py.test tests/unit crashes Python on El Capitan"
Using OS X El Capitan
Version 10.11.3 Beta (15D13b)

I ran py.test tests/unit in the nupic directory and got the following:
============================= test session starts ==============================
platform darwin -- Python 2.7.11, pytest-2.8.5, py-1.4.31, pluggy-0.3.1
rootdir: /Users/toyves/GitHub/nupic, inifile:
plugins: cov-1.6, xdist-1.8
collecting 6 itemsAbort trap: 6

After this, Pyth

[2016-01-12 06:06] divyangashah commented on #2777
hi rlis619,
I have stucked same position as you.
so, how did you got 'nupic.bindings==0.2.8.dev0'.
Its not available at  https://pypi.python.org/simple/nupic.bindings as you mentioned.
is there any suggestion or alternative for the same?

[2016-01-12 06:21] divyangashah commented on #2777
can anyone get something from this link regarding nupic.bindings==0.2.8.dev0?

http://ci.numenta.com/browse/NUP-NUP-80/log

[2016-01-12 06:55] divyangashah commented on #2777
Hi finally, I got solution and file for 0.2.8.dev0.
I have uploaded here.
you need to copy contents of /usr/local/lib/python2.7/dist-packages  in your python2.7/dist-packages folder and after that follow these commands :+1:
 pip install nupic
$ python

[nupic.bindings-0.2.8.dev0.linux-x86_64.zip](https://github.com/numenta/nupic/files/86866/nupic.bindings-0.2.8.dev0.linux-x86_64.zip)
or
you can ge

[2016-01-12 15:30] passiweinberger commented on #2932
Same Issue on OSX el Capitan

[2016-01-12 17:29] rhyolight commented on #2933
Hi @chickenbestlover. I'm happy you are experimenting with NuPIC and getting good results! We certainly would like to help you answer your questions, but this Github Issue is not really the best place for it. Are you willing to sign up for our [general discussion NuPIC mailing list](http://lists.numenta.org/mailman/listinfo/nupic_lists.numenta.org) and ask your question there? We have over 1500 pe

[2016-01-12 17:29] #2933 closed

[2016-01-12 17:34] rhyolight commented on #2926
Can you provide more information? What steps did you take before you got this error? What command caused this error?

[2016-01-12 17:35] rhyolight commented on #2926
cc @rcrowder

[2016-01-12 17:37] rhyolight commented on #2927
@breznak Is this using the newest binaries?

[code]

[2016-01-12 17:44] rcrowder commented on #2926
That exception looks like a Python v3 error. Is that cached unittest2 package compatible with Python 2.7?

[2016-01-12 18:07] rhyolight commented on #2936
I'm sorry about your troubles @YRG999. But it's really hard to debug issues with custom installed python version on people's systems. I would not know where to start. We recommend OS X users always use the system python version, so if you can get back to that state it would be a starting point. There is some basic info [here](https://docs.python.org/2/using/mac.html). The way I remove homebrew pyt

[2016-01-12 18:07] #2936 closed

[2016-01-12 18:20] YRG999 commented on #2936
Thanks for the tips. I'll work on fixing python on my system and try again.

[2016-01-12 18:27] cogmission commented on #2927
I'm currently porting this to Java and all tests run fine for me (I'm compiling from source [with @rhyolight's help]). So this must be a binary packaging thing...?

[2016-01-12 18:34] breznak commented on #2927
I'm now having 0.3.7 from source as well and the problem is not occurring. So I believe it was the binary package as well

[2016-01-12 18:49] rhyolight commented on #2932
I would expect this to fail in exactly this manner. If you attempt to build nupic from local source code, it is also expected that you will build nupic.core from local source code as well. I just wrote a mailing list post about this you might find useful. I suggest you try to [install from binary first](https://www.youtube.com/watch?v=1fIpgXHXAZA&list=PL3yXMgtrZmDoVW97tHIncED4H-ALcp9oJ&index=3). I

[2016-01-12 18:49] #2932 closed

[2016-01-12 18:59] rhyolight commented on #2936
Thanks and good luck. Please [email the list](http://lists.numenta.org/mailman/listinfo/nupic_lists.numenta.org) with questions.

[2016-01-12 19:00] rhyolight commented on #2927
Thanks for checking guys.

[2016-01-12 19:00] #2927 closed

[2016-01-12 19:09] cogmission opened #2938 "KNNClassifier._sparsifyVector() has no test."
As I port this over to java I've decided to fill in some of the tests (as many as I can muster the energy to do. This is one of those which tests the _sparsifyVector() method which had no test previously.

This will help improve the code coverage of nupic to some degree.

[2016-01-12 20:08] cogmission commented on #2927
👊🏽

[2016-01-12 22:28] abrahamrhoffman commented on #2932
Thanks. I followed instructions as provided and it worked as expected on Ubuntu 14.04.3.

### This is the install procedures for installing and setting up Nupic on Ubuntu 14.04.3 w/Python 2.7 ###

# Let's start by cleaning up apt #

apt-get clean
apt-get -y update
apt-get -y autoremove

# Now let's install Python Development Dependencies #

apt-get -y install python2.7-dev
apt-get -y install pytho

[2016-01-12 22:32] rhyolight opened #2941 "publish an iterative nupic.bindings wheel for each successful build on master"
Our regression tests need it.

[2016-01-12 22:46] rhyolight commented on #2941
replaced by https://github.com/numenta/nupic.core/issues/818

[2016-01-12 22:46] #2941 closed

[2016-01-12 23:26] DefinitlyEvil commented on #2926
@rcrowder Yes, I got Python 3.5 installation. It seems it doesn't support 3.5 rather than 2.7. :P My bad. xD

[2016-01-12 23:38] #2926 closed

[2016-01-13 00:51] rhyolight commented on #2932
Outstanding! Thanks for your patience.

[2016-01-13 10:57] divyangashah commented on #2934
[nupic.bindings-0.2.8.dev0.linux-x86_64.zip](https://github.com/numenta/nupic/files/88679/nupic.bindings-0.2.8.dev0.linux-x86_64.zip)
you can use this

[2016-01-13 16:40] breznak opened #2943 "Consider docs/ with relevant papers"
Even though the content is available and online, it's common that projects include some "background" literature - here the list is quite easy: the "HTM Whitepaper" and "NAB Anomaly Benchmark".

[2016-01-13 16:40] breznak commented on #2943
what d you think @rhyolight ?

[2016-01-13 20:55] #2935 closed

[2016-01-14 22:47] #2922 closed

[2016-01-15 18:29] rhyolight commented on #2943
Are you proposing adding this to the README?

[2016-01-15 19:45] #2924 closed

[2016-01-15 23:55] chetan51 opened #2946 "Update AbstractTemporalMemoryTest to support C++ TemporalMemory"
So we can test with extensive_temporal_memory_test.py.

[2016-01-15 23:57] chetan51 opened #2947 "Add C++ TemporalMemory to temporal_memory_performance_test.py"

[2016-01-15 23:57] chetan51 opened #2948 "Create compatibility test for python vs C++ TemporalMemory"
Similar to network_checkpoint_test.py.

[2016-01-15 23:59] chetan51 opened #2949 "Switch default TemporalMemory implementation from python to C++"
This is a super issue to track progress.

- [ ] [Updating bindings for TemporalMemory to work with tests in nupic](https://github.com/numenta/nupic.core/issues/828)
- [ ] [Update AbstractTemporalMemoryTest to support C++ TemporalMemory](https://github.com/numenta/nupic/issues/2946)
- [ ] [Add C++ TemporalMemory to temporal_memory_performance_test.py](https://github.com/numenta/nupic/issues/2947)
-

[2016-01-16 00:05] scottpurdy commented on #2949
Should we include some speed and accuracy comparison with TP10X2 as well?

[2016-01-16 00:07] chetan51 commented on #2949
@scottpurdy Speed comparison would happen with https://github.com/numenta/nupic/issues/2947. As for accuracy, maybe we can do that with NAB?

[2016-01-16 00:24] scottpurdy commented on #2949
Yeah NAB would give pretty good confidence.

[2016-01-16 13:25] breznak commented on #2943
Readme sounds like a good idea too. I was proposing a folder `docs/` with the PDFs in the repo.

[2016-01-16 19:32] #2902 closed

[2016-01-16 20:50] dai-dao commented on #2927
@breznak I'm getting the same errors as you did when running the tests. Could you tell me how you solved the issue?

[2016-01-17 17:52] app-genesis commented on #2927
Same here @breznak

[2016-01-17 19:58] cogmission commented on #2927
@dai-dao @app-genesis I mentioned earlier that you have to make sure you have the latest versions (it runs fine for me - I have a source installation not binaries). When @breznak updated, he stopped getting these errors.

[2016-01-17 20:36] app-genesis commented on #2927
@cogmission Personally I use nupic.bindings 0.2.7 I'm not sure which version of NuPic I have installed because I installed it by pip install nupic. Could you please inform us how to check which version we have installed (nupic --version doesn't work) and how to update it to the newest version? Thank you!!!

[2016-01-17 21:03] cogmission commented on #2927
I'm afraid I don't pip very well, you should probably post to the mailing list

[2016-01-18 06:36] app-genesis commented on #2927
My version file in NuPic says 0.3.7.dev0 and the nupic.bindings I've installed was nupic.bindings-0.2.7-cp27-none-linux_x86_64.whl. So, I think I have the latest versions but I get these two failures. Could you please suggest me to try anything else?

[2016-01-18 07:16] cogmission commented on #2927
Hi @app-genesis,

I suggest you try asking this question on the "NuPIC-hackers" mailing list if you don't get a response here from someone who can help you? Here's the link to help get you started: http://numenta.org/lists/

[2016-01-18 07:21] rhyolight commented on #2927
![boom](http://i284.photobucket.com/albums/ll36/Bigsteve87/Gifs/AtomicBomb.gif)

[2016-01-18 15:39] app-genesis commented on #2927
@cogmission Thank you for your polite answer. I have indeed the latest versions which I found by typing in console: python  >>> import pkg_resources

nupic.bindings 0.2.7

nupic 0.3.7.dev0. I confused with nupic and nupic.core, the guides are not exactly the same. I reinstalled everything according to Compiling NuPIC on Ubuntu 14 LTS video and everything works fine now. @rhyolight nice gif, not so

[2016-01-18 17:50] rhyolight commented on #2927
@app-genesis Yes, sorry. Perhaps this helps? http://lists.numenta.org/pipermail/nupic_lists.numenta.org/2016-January/012622.html

[2016-01-18 17:51] rhyolight commented on #2927
@app-genesis It is possible you have some other versions of nupic or nupic.core installed. Try uninstalling them all before restarting the installation process:

    pip uninstall nupic -y
    pip uninstall nupic.bindings -y

Run those commands several times until pip tells you nothing is installed.

[2016-01-18 19:54] vitaly-krugl opened #2951 "AppVeylor NuPIC test failure after Merge pull request #2950"
NuPIC test failure https://ci.appveyor.com/project/numenta-ci/nupic/branch/master (after Merge pull request #2950 from subutai/2902)
[code]

[2016-01-18 19:55] vitaly-krugl commented on #2951
CC @rhyolight

[2016-01-18 19:59] rhyolight commented on #2951
@vitaly-krugl thanks, I'm tagging @scott and @subutai. I think this was caused when https://github.com/numenta/nupic/pull/2950 was merged.

[2016-01-19 00:42] subutai opened #2956 "Add **kwargs to temporal_memory.py"
Add **kwargs to temporal_memory.py constructor - this should have no impact on anything else, but makes it much easier to dynamically instantiate any of the subclasses.

[2016-01-19 02:09] #2956 closed

[2016-01-19 09:43] app-genesis commented on #2927
@rhyolight everything works fine now. Thank you very much!

[2016-01-19 17:05] oxtopus opened #2958 "Bump version to reflect api changes"
I recently ran into problems working on imbu in which some new code depended on some new APIs in KNNClassifier.py (see https://github.com/numenta/numenta-apps/pull/563), and also noticed that some APIs have been removed (see https://github.com/numenta/nupic/commit/837b5fbaef6585982fe3a735c765e8e5661234a8).

Since these are api-breaking changes, we should bump the version.

cc @rhyolight

[2016-01-19 17:09] rhyolight commented on #2927
@app-genesis Can you share what you did to fix the problem?

[2016-01-19 19:12] chetan51 opened #2959 "TM: Add accessor methods and update API to use lists of indices"
For `temporal_memory.py`:

- Add accessor methods for `activeCells`, `predictiveCells`, `activeSegments`, `winnerCells`, `matchingSegments`, `matchingCells`. These should return a list of indices. Update all callers to use these methods instead of accessing the properties directly.
- Change `compute` method to take a list of indices (instead of a set), and update all callers.