[2015-06-16 14:45] breznak commented on #2223
It does the same thing for me too, but continues afterwards. Did you kill
it with Ctrl+C or it stops there?

[2015-06-16 15:44] camer1kj commented on #2223
It just stops there.

[2015-06-16 15:52] breznak commented on #2223
Did you wait (like a couple of minutes)? it's downloading the library and
compiling it..

[2015-06-16 16:15] camer1kj commented on #2223
The program exits with the error above and does not continue further.

[2015-06-16 16:34] #2070 closed

[2015-06-16 16:39] subutai opened #2224 "Implement decrement for predicted segments corresponding to inactive cells"
This task is to implement a decay that penalizes segments that were incorrectly created and cause extra predictions. If a cell is predicted, but does not become active the corresponding segment should be decremented very slightly. In the current implementation and in the whitepaper such segments are not penalized. In some situations the old behavior can cause an increasing number of extra predicti

[2015-06-16 16:52] scottpurdy opened #2225 "NuPIC version went backwards"
@rhyolight - what happened with the NuPIC version? It went up to `0.3.0` and then back to `0.2.X`:

[code]

[2015-06-16 16:55] scottpurdy commented on #2225
@tomsilver fyi

[2015-06-16 17:51] cogmission commented on #2224
Watch this...

[2015-06-17 12:33] camer1kj commented on #2223
The problem was fixed upstream capnproto with a new commit.

[2015-06-17 13:11] camer1kj opened #2226 "Import Error"
It seems that NuPIC has installed successfully, however I get an error when I try to run the following sample code from your website:
from collections import deque
import time
import psutil
import matplotlib.pyplot as plt
from nupic.data.inference_shifter import InferenceShifter
from nupic.frameworks.opf.modelfactory import ModelFactory

The first 5 lines worked without an issue.
When importing th

[2015-06-17 15:05] #2223 closed

[2015-06-18 00:59] BoltzmannBrain opened #2228 "Seeding random number generator with a string"
A good functionality for [NuPIC Random](https://github.com/numenta/nupic/blob/master/nupic/bindings/math.i) would be to allow for seeding with a string. This can be done by hashing the string to an integer seed with hashlib.

[2015-06-18 11:14] #2179 closed

[2015-06-19 00:10] #2211 closed

[2015-06-19 21:31] scottpurdy opened #2229 "Remove Random shuffle/sample once moved to class implementation"
Depends on numenta/nupic.core#471

Remove this code once it is ported to main implementation of class in nupic.core:
https://github.com/numenta/nupic/blob/10c7ffc302b7564d3f7747a5e22cf72d91405b5c/nupic/bindings/math.i#L267-L366

[2015-06-19 23:42] jcasner commented on #2166
@scottpurdy would 8944da3d9a31ba478e8dbd4c60c1d3dbfcb72340 have fixed this issue? See the related question on Stack Overflow: http://stackoverflow.com/questions/30839829/importerror-no-module-named-date-capnp

[2015-06-20 00:05] rmccall84 opened #2232 "KNN Classifier documentation"
Prerequesite for https://github.com/numenta/nupic/issues/2198

[2015-06-20 00:21] scottpurdy commented on #2166
See @2231 for possible fix. I'm not sure why it works for me (and Travis) without that change. You have to `import capnp` before importing a schema file. `date.py` wasn't doing that which is why you get an error trying to import. So there must be some other file being imported first that does `import capnp` to set up the import hooks and the code that was run that resulted in an error must have fo

[2015-06-20 10:09] madraf opened #2235 "Setup error"
Hello everybody!

I'm running Crunchabang Linux 11 (a Debian based distro) with Python 2.7 and Numpy 1.9.2.
I satisfy all the requirements for the installation.

I downloaded nupic and I'm trying to run the setup. Unfortunately I've got this error:

    /usr/include/python2.7/numpy/__multiarray_api.h:1532:1: warning: 'int _import_array()' defined but not used [-Wunused-function]

![screen](https:/

[2015-06-20 14:35] Aayush-Kasurde commented on #2235
It seems that "Function unused" is warning and can be ignored using `-Wno-unused-function` but if you see there are lots of errors in your screenshot of terminal.

[2015-06-22 05:03] madraf commented on #2235
Yep. You're right. My error had to do with the (old) versions of C++ or
Clang I had in my distro's repositories.

Thanks for your help, by the way :)

On 06/20/15 16:36, Aayush wrote:

[2015-06-22 15:32] #2166 closed

[2015-06-22 19:33] camer1kj opened #2236 "Hot Gym Tutorial- ./swarm.py: Permission denied"
Trying to run the hot gym tutorial and it wouldn't let me execute the swarm.py file. (-bash: ./swarm.py: Permission denied)
After I manually made it executable, I am getting an error that there is no such file or directory
(IOError: [Errno 2] No such file or directory) concerning nupic-default.xml.

[2015-06-23 00:31] scottpurdy commented on #1236
@mihail911

[2015-06-23 13:57] camer1kj commented on #2236
It was true that while most of the other files were in that spot, nupic-default.xml was missing. After manually copying it into the correct directory from a colleague's computer, the program got hung up on another missing file
(IOError: [Errno 2] No such file or directory: '/home/kjcamero/.local/lib/python2.7/site-packages/nupic/frameworks/opf/exp_generator/experimentDescriptionSchema.json)

Any i

[2015-06-23 16:40] scottpurdy opened #2241 "Port Python Network API to capnp"
See parent #1449
- [x] Implement C++ capnp struct to pycapnp conversion - numenta/nupic.core#545
- [x] Implement read/write functions in PyRegion - #2252

Not sure what else...

[2015-06-23 16:41] scottpurdy opened #2242 "Implement C++ capnp struct to pycapnp conversion"
See parent #2241

See:
https://groups.google.com/d/msg/capnproto/1dJ97vebYdw/OFBISqJVUSgJ

This is necessary to allow the C++ PyRegion implementation to pass a struct into the Python PyRegion classes.

[2015-06-23 21:09] #1947 closed

[2015-06-23 21:39] #2224 closed

[2015-06-24 05:51] rhyolight commented on #2225
It was a mistake on my part. I think we should always target a bugfix release as the next dev version. But I targeted a minor release instead. The backwards move was only in the dev version, however, so I don't think any harm was done. https://github.com/numenta/nupic/releases

[2015-06-24 05:51] #2225 closed

[2015-06-24 11:22] 6D65 opened #2244 "Object Tracking"
Hi,

I remember seeing in one of Jeff's old presentations, an example of objects tracking(moving people, with the boxes around them). I'm investigating the use of either Deep Learning Neural Networks or Nupic Platform for this.

I wonder what shall I begin with?
Are there any examples for this?

Thanks

[2015-06-24 14:16] jcasner commented on #2166
@scottpurdy I just tested your fix for this and I now receive a different error:

[code]

Do you want me to re-open this issue or create a new one?

[2015-06-24 14:22] scottpurdy commented on #2166
I think there must be a broader issue. I'll need to debug on a machine. Send me an email with info on which machine and what to run?

[2015-06-24 15:32] breznak opened #2245 "Anomaly test for serialization missing"
Anomaly tests should check how serialization works

[2015-06-24 16:00] breznak commented on #2244
@6D65 afaik nupic does not have any video examples running nowadays, for this I suggest you look at `nupic-community/nupic.vision` repo, I'm currently working on an encoder used for video frames, others mentioned something about video on ML too

[2015-06-24 16:02] breznak commented on #2244
PS: I suggest continuing the discussion either on ML, or new issue under the `nupic.vision` and closing the issue here.

[2015-06-24 17:41] 6D65 commented on #2244
Cool, thank you.

Will create a new issue under nupic.vision for now.

[2015-06-24 17:41] #2244 closed

[2015-06-25 00:27] david-ragazzi opened #2248 "Refactor smudged lines (####, +=+=, ----, etc)"
Current code base has a lot of smudged lines used to separate blocks, to present obvious information, or just to decorate class and funcions, which makes some files has inconsistency format with other files:

Examples:

[code]

[code]

We could remove these smudged lines in order to code base follow PEP convention and by consequence the code base become cleaner.

[2015-06-25 00:28] breznak commented on #2248
+1 but with common sense, in some places I think the visual separation
helps readibility

[2015-06-25 00:34] david-ragazzi commented on #2248
Sure. BTW in some places I would suggest we use `#region` and `#endregion` to separate blocks. Although not a official Python feature, many editors like PyCharm are able to colapse those code blocks between these statements and make them visible or invisible to developer.

[2015-06-25 01:14] breznak opened #2250 "Visualize outputs, inner-state Region"
This should be easy and quite handy...

A region that plots its input sources. This is possible to write today easily but is a repetitive and would be nice to have for many experiments.

I imagine 2 modes:
* input is a scalar -> plot as a graph (for numeric values, eg input field (float), or anomalyScore, ...)
* input is an array -> plot as a bitmap (with given dimensions), eg for visualizing stat

[2015-06-25 01:14] breznak commented on #2250
@subutai @scottpurdy ?

[2015-06-25 01:28] breznak opened #2251 "Abstract settings for Model,SP,TP,TM"
These classes have too much settings for "normal" user,
task would be to predefine settings groups that affect similar functionality - `abstraction, learning rate, precision, speed, ...`

This could be defined per class (SP,TM,..) and per Model.
Also OPF could have these as `biasXXX`(defaults to 1.0) and swarm over them, instead of over separate params.

Example:
[code]

Then you run your model, a

[2015-06-25 11:41] david-ragazzi commented on #2250
@breznak Wouldn't be this a role for a debugging tool as cerebro or nupic studio?

[2015-06-25 15:40] david-ragazzi commented on #1978
@rhyolight With https://github.com/numenta/nupic.core/pull/438, would be this issue closed and so @breznak could continue his (nice) work removing vision code (https://github.com/numenta/nupic/pull/1866).

[2015-06-25 15:46] #2248 closed

[2015-06-25 15:51] rhyolight commented on #1978
@scottpurdy @subutai @akhilaananthram  Is this issue obsolete now that https://github.com/numenta/nupic.core/pull/438 & https://github.com/numenta/nupic/pull/2165 are merged?

[2015-06-25 15:58] scottpurdy commented on #2250
@breznak - What is the use case? Do you want a plot that is updated as the data is processed? I don't think it makes as much sense if you just want to plot the data after feeding a batch through.

[2015-06-25 16:05] akhilaananthram commented on #1978
Yeah. I think its obsolete now.

[2015-06-25 16:06] #1978 closed

[2015-06-25 21:06] scottpurdy opened #2252 "Implement read/write capnp methods in PyRegion"
See parent #2241

This is the initial step to get PyRegion in sync with RegionImpl. The implementation of passing the proto struct to Python will have to wait for #2242

[2015-06-25 21:43] #1114 closed

[2015-06-26 01:10] david-ragazzi opened #2255 "Rename cpp_region to py_algorithms"
The current prefix `cpp_` confuses us because it lead us to think it handles regions writen in c++, and not the contrary, i.e. python. To reinforce this, "cppregion" term _already_ is used in nupic.core only to separate code related to cpp regions, not python regions, i.e. more one reason to confusion. Some examples:

https://github.com/numenta/nupic.core/blob/633368e394c3de72e93e401efcd8e91ec30ab

[2015-06-26 01:25] david-ragazzi commented on #2255
@chetan51 @oxtopus @rhyolight @scottpurdy Please review.

[2015-06-26 06:20] rcrowder commented on #2110
@rmccall84 Hey, is this issue now closed via #2109 ?

[2015-06-26 06:37] rcrowder opened #2257 "SWIG binding for C++ TemporalMemory"
Linked to core PR https://github.com/numenta/nupic.core/pull/409
Initial work in https://github.com/rcrowder/nupic/tree/TM-bindings

[2015-06-26 16:40] rmccall84 commented on #2110
@rcrowder No, this issue is not closed. The learning radius parameter was in Python TM, but it was not used nor did it have any effect so https://github.com/numenta/nupic/issues/2109 remove it. This issue suggests to implement learning radius completely. Thank you.

[2015-06-26 16:44] cogmission commented on #2110
Hi Guys,

Can you answer a question? What relationship does this have with the
boolean Global Inhibition setting? Are they related? If so, then how?

On Fri, Jun 26, 2015 at 11:41 AM, Ryan McCall <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/numenta/htm.java>

d.ray@corti

[2015-06-26 16:45] rcrowder commented on #2257
@chetan51 @scottpurdy
This TM-binding branch hooks into the C++ TM. The following Gist logs show how far the three integration tests make it now. Still some work to do on bringing back set containers, rather than all vector handling.

1 Performance https://gist.github.com/rcrowder/9e3142fc78fd393430c0
2 Tutorial https://gist.github.com/rcrowder/4f7fb87da7c064c35bcf
3 Extensive https://gist.github.

[2015-06-26 16:57] rmccall84 commented on #2110
@cogmission I'm global inhibition concerns the SP inhibition step. Learning radius would define a neighborhood of cells about a learning cell. Distal synapse learning would only be allowed between some set of cells in this neighborhood and the learning cell. This is what I remember from the CLA days.

[2015-06-26 17:01] rcrowder commented on #2257
PS: The extensive integration test had be hobbled to make it run (100s down to 10s of patterns), and certain tests removed (testH1 and up). This is likely to be vector containers blowing the Ubuntu VM memory (?), but my first point of investigation..

[2015-06-26 18:29] #2232 closed

[2015-06-26 19:21] chetan51 commented on #2257
Great, thanks for the update!

[2015-06-26 21:35] #2093 closed

[2015-06-26 21:38] #2000 closed

[2015-06-26 22:05] #2252 closed

[2015-06-27 22:07] scottpurdy opened #2259 ".capnp files not importable from egg installs"
There have been a number of people having issues installing NuPIC as egg files.

[2015-06-28 14:33] breznak commented on #2250
@scottpurdy @david-ragazzi purely for convenience. Although plotting streaming data in real-time is a nice idea! I intend it for my colleagues, who use HTM but don't want to hack it so much..just to let them see the results.  (NuStudio could do it, but again..more hustle)
Other option than a region would be a script in `./scripts/` that does the parsing for `.csv` in model_0/inferences and plots c

[2015-06-28 14:54] breznak opened #2260 "AnomalyLikelihood with default timestamp behavior"
When time stamp is not specified to `AnomalyLikelihood.anomalyProbability()` it defaults to `None` which results in using current time! `datettime.now()`.

That was done for convenience when you can't/don't want to pass the `timestamp` manually. On the other hand, passing `None`, one would expect it is ignored - which is not. As seen in :
https://github.com/breznak/nupic/commit/0fc0acfdc8ae977f9d6

[2015-06-28 14:54] breznak commented on #2260
@subutai ?

[2015-06-28 14:58] breznak commented on #1892
closing PR https://github.com/numenta/nupic/pull/1933 which was a work-in-progress and keeping the reference for anybody who wanted to follow-up here:

"This PR aims to simplify AggregateMetric so other metrics can easily reuse its code.
Current state is that the other metrics extend from aggregate metric, but often implement their own sliding window (which is aggregate's job).

The PR has some st

[2015-06-28 16:36] breznak commented on #2110
@rmccall84 :+1:
could you implement it as a percentage, instead of an absolute value? `learningRadius`=(0,1]
this would be part of #1343

[2015-06-28 19:07] scottpurdy commented on #2255
I understand the change from "cpp" to "py" but not the change from "region" to "algorithms" since this is the code for the C++ PyRegion subclass of RegionImpl and does not include any algorithms. So why "py_algorithms" instead of "py_region"?

[2015-06-28 19:08] scottpurdy commented on #2255
Also, this is related to [my recent proposal to move the C++ PyRegion into nupic.core](http://lists.numenta.org/pipermail/nupic-hackers_lists.numenta.org/2015-June/003744.html).

[2015-06-28 20:24] breznak opened #2261 "CircularBuffer - remove from Metrics to utils. Or delete completely?"
`CircularBuffer` is a class in `opf.metrics.py` which provides
"O(1) random access circular buffer"

Question is to:
* dig it from inner class to `nupic.utils`
* delete it completely and replace by `deque`

[2015-06-28 20:44] breznak commented on #1954
@subutai @rhyolight I'm going to undust the issue a bit.
Is `CLAModel.resetSequenceState()` the function that is hooked to the `r` (reset) signal in OPF?
https://github.com/numenta/nupic/blob/master/nupic/frameworks/opf/clamodel.py#L238

Should we implement `reset()` calls for Anomaly & Likelihood code?
And the MovingAverage..does it make sense to reset, or it should carry on over the mark?

[2015-06-28 20:46] breznak commented on #2228
@BoltzmannBrain is this needed when you can do `Random(seed=id("hello"))` ?

[2015-06-28 20:48] breznak commented on #2235
@madraf looks like this issue is resolved for you. Please reopen if I'm mistaken.

[2015-06-28 20:48] #2235 closed

[2015-06-28 20:52] breznak commented on #2236
@camer1kj looks like your installation didn't go 100%. Can you try clone the files yourself from git? or download the zip archive with latest `master` from here on Github.
Is the issue still valid, or can we close?

[2015-06-28 20:54] breznak commented on #2226
closing as there seems to be newer issue from @camer1kj . Please reopen if still valid problem.

[2015-06-28 20:54] #2226 closed

[2015-06-28 21:25] breznak opened #2262 "InferenceArgs should be part of ModelConfig in OPF"
as these are related, it makes sense put them together.

[2015-06-28 22:29] breznak commented on #2201
@dducro can we close now that you (partially) fixed that by using clang? I'll try to update the VM image and test with gcc 4.8

[2015-06-28 22:32] breznak commented on #2171
likely duplicate of https://github.com/numenta/nupic/issues/2113 and the `KjException` issues

[2015-06-28 22:35] breznak commented on #2148
I'm still having this problem, so unittests don't complete for me locally, any hints?

[2015-06-28 22:40] breznak opened #2264 "Allow unittests to fail after timeout & continue on error to complete"
I'm having troubles with the issue https://github.com/numenta/nupic/issues/2148
where unittests on my local installation get stuck on some serialization tests.

Is there a way to:
- [ ] fail some test after a certain timeout (say 120s)?
- [ ] continue the tests patrol even on failures and report the summary of failed, succeeded tests?

This is on the contrary to what we want on Travis (fast failov

[2015-06-28 22:40] breznak commented on #2264
CC @rhyolight

[2015-06-28 22:48] rhyolight commented on #1954
From what I understand, that should be the case.

I'd rather see an optional parameter `resetAnomaly=True` where the default value is `False`. That would keep the sam behavior and allow an override to reset it all.

[2015-06-28 22:51] breznak opened #2265 "scripts/run_nupic_tests should have .py extension"
as it's a python script, other files there have it.

[2015-06-29 00:34] dducro commented on #2201
Hey,
Yes it can be closed, thanks!

[2015-06-29 00:37] #2201 closed

[2015-06-29 01:01] david-ragazzi commented on #2255
Ok, I changed to `py_region`.

I think that while there're not work in progress or deadline related to proposal, we can merge first this PR and its contrapart in nupic.core before proposal be implemented.

[2015-06-29 04:07] BoltzmannBrain commented on #2228
`id()` does not suffice because it is not repeatable for a given seed; i.e. we want the same random sample to be returned each time we seed with the same string. For example:

    True

    False

[2015-06-29 08:18] breznak commented on #2081
Reopening with a few comments to the merged PR, thanks.

https://github.com/numenta/nupic/pull/2206#discussion_r33442075
https://github.com/numenta/nupic/pull/2206#discussion-diff-33441996

[2015-06-29 08:42] breznak opened #2266 "AnomalyRegion needs to serialize an Anomaly instance"
AnomalyRegion uses capnp, anomaly/likelihood still pickle.
Can we somehow combine the to serialize AnomalyRegion with an anomaly instance, or both need to be translated to CAPNP? (eventually they will, but this is a blocker now)

[2015-06-29 09:07] breznak commented on #2250
I found this cool guy's video:
https://www.youtube.com/watch?v=tw1dmxcI8pU
and code
https://github.com/rhyolight/online-anomaly-detection

Just want to ask @rhyolight whether the code is the most up-to-date version available?

[2015-06-29 13:24] breznak commented on #2250
Matt, is it still running for you? I've installed the dependencies (matplotlib, PySide), forced the plot=True and I see it crunching (`Read 2800 lines...`) but no visual graph is shown..

[2015-06-29 15:23] rhyolight commented on #2264
:+1:

[2015-06-29 15:34] rhyolight commented on #2250
@breznak Yes, it still works for me (I can see it plotting), and yes that is the latest code.

[2015-06-29 15:34] rhyolight commented on #2250
@breznak It's `python run.py --plot`

[2015-06-29 15:35] rhyolight commented on #2250
@breznak Also, sometimes the Python GUI window pops under other windows, so look around in your OS for it...

[2015-06-29 15:46] breznak commented on #2250
Thanks Matt,
yes, I run `python run.py --plot`, can't see the window anywhere, even
hidden :( Could you try on (K)Ubuntu if you have some spare around?
I've searched for the problem, found this snip [1] (just mentioning
"ion()") and it seems it works for me only with:
-pylab
-show()
-no ion()

Can anyone try the snip on linux and confirm?
Thanks a bunch!

====================
[1] plotting test-cas

[2015-06-29 16:59] rmccall84 commented on #2110
@breznak Right now it looks like the selection is random amongst all cells. So this learning radius would go together with using a 2D topology. I'm not convinced a ratio for this parameter would be intuitive for users. What if I told you the learning radius is 0.00341796875 (ratio)? Alternatively we could say the learning radius is 7 (absolute). Just my thoughts, I don't feel too strongly about th

[2015-06-29 17:20] mihail911 commented on #2198
Additional Improvements:
     1) Modify KNN 'infer' so that client has option of outputting top `n` most frequent categories rather than
          just the most frequent.

[2015-06-29 23:41] scottpurdy commented on #2255
Agreed, just link dropping :smile:

[2015-06-29 23:43] BoltzmannBrain commented on #2198
@scottpurdy this should not be closed yet, there are still many tasks in this wishlist.

[2015-06-29 23:45] rmccall84 commented on #2198
@BoltzmannBrain @scottpurdy it's my fault because I put fixes in a PR scott closed. I can created sub tasks, Alex

[2015-06-29 23:48] rmccall84 opened #2270 "KNN Classifier Unittests"
There are several possible instances of KNN Classifier that one can make by specifying the following constructor arguments and, ideally, we should have adequate test coverage for the different possibilities. At a minimum I feel we should test learn() and infer().

- [ ] useSparseMemory True
- [ ] useSparseMemory False

distanceMethod (string)
- [ ] "norm"
- [ ] "rawOverlap"
- [ ] "pctOverlapOfLarg

[2015-06-29 23:48] rmccall84 commented on #2270
@mihail911 @BoltzmannBrain FYI, recreating the tasks here.

[2015-06-29 23:51] rmccall84 opened #2271 "KNNClassifier improvements"
Improvements to KNNClassifier

- [ ] infer() should have options for sparse and dense inputs. Right now, for example, if distance metric is 'rawOverlap' infer must be called with a dense input even if classifier was trained on sparse input repr. If sparse input is used, the classification is non-deterministic
- [ ] Add getPatternCount() accessor method, possibly other similar methods for a nice AP

[2015-06-29 23:52] rmccall84 commented on #2271
@mihail911 @BoltzmannBrain FYI, recreating the tasks here since old issue was closed

[2015-06-29 23:59] BoltzmannBrain commented on #2271
Thank you @rmccall84.
When pushing PRs for these tasks, please link with "addresses #2271"; this way the issue won't close :smile:

[2015-06-30 09:59] breznak opened #2274 "MovingAverage has getter for current avg"
currently not available, only as call that adds a new value and returns updated average.

[2015-06-30 11:29] #2255 closed

[2015-06-30 11:34] #2196 closed

[2015-06-30 16:56] rhyolight commented on #2250
@breznak No time to test in Kubuntu anytime soon, but you might need a [different backend](http://matplotlib.org/faq/usage_faq.html#what-is-a-backend)?

[2015-06-30 16:59] #2274 closed

[2015-06-30 17:25] marionleborgne opened #2277 "TM implementation 'tm_py' broken"
When changing the TM implementation from 'cpp' to 'tm_py' (see MODEL_PARAMS['modelParams']['tpParams']['temporalImp']) I get the following error:

Traceback (most recent call last):
  File "/Users/mleborgne/_git/nupic.research/classification/classify.py", line 147, in <module>
    trainAndClassify(TRAINING_SET_SIZE, model, dataPath, resultsPath)
  File "/Users/mleborgne/_git/nupic.research/classif

[2015-06-30 17:28] marionleborgne commented on #2277
cc @chetan51

[2015-06-30 18:01] jaredweiss opened #2278 "Remove stripNeverLearned parameter from spatial_pooler.compute"
Partially replaces outdated issue #1262

Separate ```stripUnlearnedColumns``` from ```compute``` in the spatial pooler and update  ```stripUnlearnedColumns``` to have same functionality as the same method in nupic.core.

[2015-06-30 18:05] jaredweiss opened #2279 "Remove stripUnlearnedColumns from compute in SPRegion"
Finishes replacing outdated issue #1262 (followup to issue #2278)

```stripUnlearnedColumns``` does not need to be default behavior within compute. This will only affect the case of a spacial pooler region being run with learning mode disabled AFTER learning has occurred.

After ```stripUnlearnedColumns``` is removed, the default behavior for this case will be for active, unlearned columns to rema

[2015-06-30 18:16] jaredweiss commented on #1262
@scottpurdy
This issue should be split into 2 issues:
#2278 and #2279

[2015-06-30 18:18] breznak opened #2280 "TP runs with "non fixed-sized CLA" mode"
this functionality is available, but probably not used as there are errors in setting up it for Py/C++ versions of TP and it's not being tested.

[2015-06-30 18:32] rhyolight commented on #2260
This makes sense to me. I do not think the current time should be used if
no timestamp is sent. Each row must have a user-provided timestamp.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Sun, Jun 28, 2015 at 7:54 AM, breznak <notifications@github.com> wrote:

[2015-06-30 18:33] rhyolight commented on #2261
@numenta/nupic-committers Any opinions?

[2015-06-30 18:34] rhyolight commented on #2236
@camer1kj Yes, looks like a bad install. How did you install NuPIC?

[2015-06-30 18:36] rhyolight commented on #2148
I have no idea what is the problem. @breznak Maybe you can try running the Capnp tests on your local machine? If they also stall sometimes, we'll know this is a capnp problem.

[2015-06-30 18:37] rhyolight commented on #2265
@oxtopus I _think_ you made this decision? Any reason for it?

[2015-06-30 18:38] rhyolight commented on #2266
+1 I would also like to serialize anomaly instances.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Mon, Jun 29, 2015 at 1:42 AM, breznak <notifications@github.com> wrote:

[2015-06-30 18:46] breznak commented on #2148
you mean reinstalling capnp from source and running their unittests?

[2015-06-30 18:49] rhyolight commented on #2148
Yes, that is what I mean.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Tue, Jun 30, 2015 at 11:46 AM, breznak <notifications@github.com> wrote:

[2015-06-30 19:16] breznak commented on #2245
fixed in #2246

[2015-06-30 19:16] #2245 closed

[2015-06-30 19:19] scottpurdy commented on #1954
This is a little long so I will break it into sections:

1. Ok to take a reset but we should make anomaly implementations subclasses of the base `Anomaly` so this is more manageable.
2. We should move the anomaly class to the anomaly region. I'd prefer the get the subclassing right first though. The advantage of a region is that you can just link the reset from the RecordSensor to the AnomalyRegio

[2015-06-30 19:57] camer1kj commented on #2236
Yes, these errors came from the pip install. After uninstalling then downloading from source it worked fine.

[2015-06-30 20:05] rhyolight commented on #2236
Hm... what OS are you using? If Linux, then "pip install nupic" does not
work.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Tue, Jun 30, 2015 at 12:57 PM, camer1kj <notifications@github.com> wrote:

[2015-06-30 20:16] oxtopus commented on #2265
Wasn't me.  I agree that it should have a `.py` extension.

[2015-06-30 20:17] camer1kj commented on #2236
Yes I am running on Linux. But I used the wheel download link from the nupic website:
pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic/releases/nupic-0.2.5-cp27-none-linux_x86_64.whl
This is when I was missing files.

[2015-06-30 20:20] oxtopus commented on #2261
:+1: for `deque`, but `deque` is `O(n)` for random access.  If we need the performance, then better to keep `CircularBuffer` albeit in a more generic place as suggested.

So, question is, do we need `O(1)` random access?

[2015-06-30 20:26] subutai commented on #1954
I generally agree with @scottpurdy . A reset is fine to include, but if it is a completely new sequence it should probably restart the whole anomaly likelihood model. This will then require a few hundred samples to re-estimate properly.  I suppose you could consider keeping the likelihood model around but the next sequence should be one with almost the same statistics.  In either situation the mov

[2015-06-30 21:01] breznak commented on #2266
@rhyolight anomaly instances serialize just fine

[2015-06-30 21:25] breznak commented on #1932
https://github.com/numenta/nupic/wiki/Optimization-&-Profiling,-Speed
CC @rhyolight

[2015-06-30 21:25] #1932 closed

[2015-06-30 21:51] mihail911 opened #2285 "Augment Infer() of KNN Classifier"

[2015-06-30 21:52] mihail911 commented on #2285
Subtask for #2271

[2015-06-30 22:25] #2278 closed

[2015-06-30 22:39] breznak commented on #2271
It would be nice if the `n` predictions could be sorted by probability. We had an issue on this, it's not possible to sort a dict by its values, so this would need some hacking.
Ie. `print infs` -> `{'a': 0.8, 'd': 0.5, 'b': 0.1, 'c': 0.1}`

[2015-06-30 23:01] BoltzmannBrain commented on #2271
@breznak in progress in #2284, specifically [here](https://github.com/mihail911/nupic/blob/augmentKNNClassifier/nupic/algorithms/KNNClassifier.py#L632) :smile:

[2015-06-30 23:13] breznak commented on #2271
@BoltzmannBrain very nice! :+1: :+1: I'm just running some data and wondering why it looks much better :wink:

[2015-06-30 23:54] breznak commented on #2074
@scottpurdy @chetan51 maybe we can have related discussion here.
I'm looking forward to hear about Chetan's idea!

To the current state of metrics:
* Speed - I almost have solution here https://github.com/numenta/nupic/pull/1726
* if we have method how run `out of the tree` metrics? good!
  - but how would they (if needed) access model's instance? Example is AnomalyMetric

[2015-07-01 00:14] #2279 closed

[2015-07-01 00:35] breznak opened #2287 "Create abstract class/interface for Anomaly and its implementations"
1. create simple abstract class for `Anomaly` that defines "API"
 - what methods should that be?
  - eg
[code]

2. Implementations
3. Can there be "out-of tree" implementations? How handled by OPF (this is important).

...maybe has a duplicate already? But I can't find it.

[2015-07-01 00:36] breznak commented on #2287
@scottpurdy ?

[2015-07-01 00:38] breznak commented on #2287
Found the dupe! Which one should be closed now?

[2015-07-01 00:41] breznak commented on #2073
Latest work in https://github.com/numenta/nupic/pull/2082

[2015-07-01 00:58] scottpurdy commented on #2073
Contrary to what I said before, probably fine to just adapt the current region. I don't think we need to adapt the CLAModel as part of the initial change. We can make the region available and test it out before we spend the effort adapting the CLAModel.

[2015-07-01 01:00] breznak commented on #1954
Hey @scottpurdy , thanks! some feedback

https://github.com/numenta/nupic/issues/2287

there's work in https://github.com/numenta/nupic/issues/2073 but I got stuck there

It's perfectly OK if some my ideas/needs are not useful generally and won't be accepted upstream (just hope it wont be too much/easy to maintain in parallel )

I think this is another case, maybe not that important, but applicabl

[2015-07-01 01:07] breznak commented on #1954
Thanks @subutai

You provide both choices :wink: hard-reset likelihood instance, or keep looking at the old model. And I think this cannot be decided - is the new sequence completely new? Or similar to the seen ones?
 - a (swarming) parameter for this?
 - we could `quickly evaluate` - if the first few predictions are OK  - CLA has seen the sequence -> keep history, else start fresh.

adding to TOD

[2015-07-01 01:11] breznak commented on #2073
So for alternatives, should I subclass Anomaly class / region? Annoying Q, how would OPF/swarming integration work? As I don't expect 1 universally better solution, rather some better in some cases.

[2015-07-01 18:43] rhyolight commented on #2280
@breznak Can you clarify this issue? Are you reporting that the TP currently runs with a "non fixed-sized CLA" mode, and that is incorrect and should be changed? Or are you suggested a new feature: that the TP run with a "non fixed-size CLA" mode?

[2015-07-01 18:45] rhyolight commented on #2266
Sorry I got confused.

[2015-07-01 18:47] rhyolight commented on #2236
Damn, that should have worked! Do you happen to be on a 32b system?

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Tue, Jun 30, 2015 at 1:17 PM, camer1kj <notifications@github.com> wrote:

[2015-07-01 18:50] breznak commented on #2280
default is fixed-sized. Functionality for "non fixed-sized" exists, but is broken and should be fixed.

[2015-07-01 19:36] camer1kj commented on #2236
Nope, 64bit

[2015-07-02 02:40] breznak commented on #1849
@chetan51 @scottpurdy I see TM being actively tested, is there something blocking this task?
Being able to ditch TP for TM would allow much easier testing & use for us.

[2015-07-02 02:44] breznak opened #2289 "Region accepts all (+some new) params that the core (SP/TP) class accepts"
which is not the case now. Eg. TPRegion!
This would add much finer settings for `Network`s and OPF models.

[2015-07-02 02:48] breznak commented on #2280
Duplicate of https://github.com/numenta/nupic/issues/1360 #historystrikesback

[2015-07-02 02:52] breznak opened #2290 "Align C++ and Py implementation params for all classes"
Params in both implementations must have same
- name
- default value
- same meaning :)
- ideally same order of params in functions
- should be of same type where possible
- functions return same type

TODO: check
- [ ] TP
- [ ] TM
- [ ] SP
- [ ] Classifier

[2015-07-02 03:19] breznak commented on #1699
we should address the gcc 4.9 before it starts to appear as default in distrubutions (maybe already is)

[2015-07-02 03:21] breznak commented on #335
should be in nupic.core, and we have `Coverity` already. Closing
CC @rhyolight

[2015-07-02 03:21] #335 closed

[2015-07-02 03:26] breznak opened #2291 "Rename RecordSensor to InputRegion"
to follow the naming nomenclature.

[2015-07-02 03:36] oxtopus commented on #1699
@breznak  :+1:

[2015-07-02 03:43] breznak commented on #2198
@rmccall84 can you please take a look at https://github.com/numenta/nupic/issues/1844 , it's a bit older so I'm not sure about it.

[2015-07-02 03:50] #1672 closed

[2015-07-02 04:03] breznak commented on #2198
Also
https://github.com/numenta/nupic/issues/422 how `prediction` field is selected from current (and past) predictions. (My oldest still open issue :open_hands: )

[2015-07-02 04:23] breznak opened #2292 "new DataSource that samples from user-defined function"
eg Hotgym Sine example could use something like `DataSource(fn=sin, ...)` and avoid csv files.

[2015-07-02 09:53] breznak commented on #1343
see https://github.com/numenta/nupic.research/issues/207#issuecomment-117985501

[2015-07-02 11:03] breznak opened #2293 "Randomization & drop-out"
As techniques for improving generalization and stability, did we try them? How it worked out? I can't find them in the code.

- [ ] adding noise to input vector (more stable bottom-up synapses)
- [ ] drop-out - adding noise (=turning off) output (better distributed repr)

CC @subutai @chetan51 ?

[2015-07-02 11:09] cogmission commented on #1343
Hi,

Can I direct you to the discussion about a tool I proposed? @breznak
@subutai @rhyolight

http://lists.numenta.org/pipermail/nupic-hackers_lists.numenta.org/2014-September/002696.html

On Thu, Jul 2, 2015 at 4:53 AM, breznak <notifications@github.com> wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.

[2015-07-02 11:11] breznak commented on #2148
The traceback here, looks like it's not stuck in the test itself, but the program "run_nupic_tests"?
[code]

Confirmed, when I run
[code]
it finishes fine.

[2015-07-02 11:19] david-ragazzi commented on #2290
:+1:

[2015-07-02 11:27] breznak commented on #1343
@cogmission hi David, thanks for the link! I agree with the idea but have some suggestions:
- :+1: for gui/web app with sliders
  - I think just the 2 params: input size & columns size are not enough - I'd like (all) params and their relationships
  - maybe related: https://github.com/numenta/nupic/issues/2251
- this issue is about reviewing existing defaults (some are quite bad, like TP columns=5

[2015-07-02 11:44] cogmission commented on #1343
@breznak

I think you're misunderstanding me. I proposed a "sheet" with all configs
for a given algorithm - as a user changes one, the others change
automatically to keep within certain sanity policies. They would all be
"bound" to each other and react accordingly. Matt suggested making it in
NodeJS and Subutai said he would help with developing the interrelated
relationships and policies for inte

[2015-07-02 11:48] cogmission commented on #1343
@breznak

Oh I see where you got that (the reference to two variables). That was just
to arrive at the initial state. So you would begin with an initial
condition, then all the other vars would "adapt" to suit. Then the user
could adjust any of the others (other than the original two) - and all
others would change to accommodate the new setting for the current variable
the user was adjusting?

On

[2015-07-02 12:13] breznak commented on #1343
Why don't do it in the algorithm already then? Apply the "bounding" to constructor arguments and hook to any `setXXX(val)` calls? That way swarming & all user defined parameters work in optimal settings.

[2015-07-02 12:22] cogmission commented on #1343
I can think of two things.

1. Having a "tool" like this could allow a user to "see" how the parameters
relate; and eventually learn about them and get an intuitive sense for
their meaning.
2. We need to be careful about automatically adjusting things (inserting
side effects) without the programmer being aware. There are always outliers
where someone might want some "weird" configuration not expec

[2015-07-02 12:43] breznak commented on #1343
good point. added `forced` flag to description, function same as in encoders.

[2015-07-02 12:45] breznak opened #2294 "TP pamLength automatic avg"
TP has `pamLength` param that depends on sequence length.
Can we
- [ ] keep track of avg seq length in TP/TM? (if it's not already there, it would be useful info)
- [ ] make `pamLength` a percentage of avg seq - makes sense??

[2015-07-02 15:39] scottpurdy commented on #2287
Where's the dupe? And do you have a proposal for the interface?

[2015-07-02 16:10] subutai commented on #2293
Drop-out and randomness are common techniques in deep learning to force the system to learn more robust and distributed representations. Because the system is optimizing an objective function in a supervised way, the system is forced to find solutions that can deal with the randomness.

The HTM already has randomness inherent in a number of places and I believe these (plus the way sparsity is cons

[2015-07-02 16:37] #1908 closed

[2015-07-02 17:51] scottpurdy commented on #1262
@jaredweiss - can this issue be closed now?

[2015-07-02 17:53] chetan51 commented on #1711
@breznak Here is a proposed plan for adding additional metrics to swarm over (in this case, speed) and a notion of secondary metrics, in a minimally invasive way:

1. Add an optional `result` (ModelResult) field to MetricsIface.addInstance()
2. Add an optional `duration` field to ModelResult
3. CLAModel.run() sets the `duration` field on ModelResult
4. MetricsManager.update(result) passes the Mode

[2015-07-02 18:13] chetan51 commented on #1849
It's already able to be used in OPF, just set `temporalImp` to `tm_py`.

[2015-07-02 18:57] jaredweiss commented on #1262
yep

[2015-07-02 19:01] #2198 closed

[2015-07-02 19:01] rmccall84 commented on #2198
this issue has been supplanted by https://github.com/numenta/nupic/issues/2271

https://github.com/numenta/nupic/issues/2270

[2015-07-02 19:02] rmccall84 commented on #2198
@breznak I could look at it but I don't have experience with that part of the code base. if I have time later I'll look at it sry!

[2015-07-02 19:06] scottpurdy commented on #1262
obsolete

[2015-07-02 19:06] #1262 closed

[2015-07-02 23:44] subutai commented on #1343
I like the idea of better default values. I just did a quick check and saw that they are off quite a bit for the SP and TP. For example, having only 10 winners for the SP is just plain wrong. I would recommend using the hotgym values as defaults as they have been well tested in a number of scenarios.

A tool could be nice too. It can use the SDR math to provide good suggestions for many situations

[2015-07-03 10:03] breznak commented on #1343
@subutai agreed. I suggest splitting in 2:
- [ ] immediate fix for way-off default values (as from our example in https://github.com/numenta/nupic.research/issues/207#issuecomment-117985501 )
- [ ] `community.research` to explore more relations between params, limit number of user-set params & create (GUI) tool to fiddle with the settings.

[2015-07-03 10:15] breznak commented on #1711
@chetan51 a couple of comments..
- points 6.,7. : we shouldn't need this, I've created the `MultiMetric` just for that. Setting the secondary metric's weight to something tine makes it work just like the tie-breaker.
- point 5., `SpeedMetric` should not need this access, I've work-arounded it quite nice in https://github.com/numenta/nupic/pull/1726
- I'm not clear about the idea of "enable support

[2015-07-03 19:59] dbl001 opened #2298 "Build Errors on OS X 10.10.3"
David-Laxers-MacBook-Pro:nupic davidlaxer$ sudo port select --set gcc mp-gcc48
Password:
Selecting 'mp-gcc48' for 'gcc' succeeded. 'mp-gcc48' is now active.
David-Laxers-MacBook-Pro:nupic davidlaxer$ hash gcc

David-Laxers-MacBook-Pro:nupic davidlaxer$ gcc --version
gcc (MacPorts gcc48 4.8.5_0) 4.8.5
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copyin

[2015-07-03 20:24] dbl001 commented on #2298
Investigating this ...

https://github.com/hashdist/hashstack/issues/742

[2015-07-03 21:51] dbl001 commented on #2298
The fix:

//Change
typedef void (^dispatch_block_t)(void);
//To
typedef void* dispatch_block_t;

http://hamelot.co.uk/programming/osx-gcc-dispatch_block_t-has-not-been-declared-invalid-typedef/

[2015-07-03 21:51] #2298 closed

[2015-07-03 22:06] subutai commented on #1343
@breznak The plan sounds good to me.

[2015-07-03 22:49] cogmission commented on #1343
@subutai @breznak Me too! :-)

[2015-07-04 00:05] dbl001 opened #2299 "ImportError: No module named _math"
I'm running on OS X 10.10.3, with Anaconda.

conda info -a
Current conda install:

             platform : osx-64
        conda version : 3.14.1
  conda-build version : 1.11.0
       python version : 2.7.10.final.0
     requests version : 2.7.0
     root environment : /Users/davidlaxer/anaconda  (writable)
  default environment : /Users/davidlaxer/anaconda
     envs directories : /Users/davidlaxer

[2015-07-04 18:33] dbl001 opened #2300 "Error running tests in Vagrant Virtual Box"
root@819c32334b02:/usr/local/src/nupic# scripts/run_nupic_tests -u --coverage
============================= test session starts ==============================
platform linux2 -- Python 2.7.6 -- pytest-2.4.2 -- /usr/bin/python
plugins: cov, xdist
collecting 1 items / 1 errors
==================================== ERRORS ====================================
_______________ ERROR collecting tests/unit

[2015-07-06 08:22] dbl001 opened #2301 "iPython Notebook Server running in nupic Virtual Box"
I ran into issues building and just installing nupic on OS X 10.10.3 but was able to install the run the
Ubuntu virtual box.  The nupic tests ran successfully in the virtual box.
I'd like to run the iPython Notebook server from within the nupic virtual box and run my iPython notebooks
from OS X 10.10.3.

I was able to install and run the iPython notebook server in the nupic virtual box but I can't

[2015-07-06 14:38] oxtopus opened #2302 "testconsoleprinter_output.txt interpreted as a test"
`./scripts/run_nupic_tests` includes this bit of output, which is misleading as it is being treated like a test based on the filename.

...
tests/unit/nupic/support/consoleprinter_test/testconsoleprinter_output.txt: [doctest] tests/unit/nupic/support/consoleprinter_test/testconsoleprinter_output.txt PASSED
...

[2015-07-06 16:44] rhyolight commented on #2280
Which one is better to close?

[2015-07-06 16:46] rhyolight commented on #1699
I'll bring this up in the next NDPR meeting. In the meantime, @numenta/nupic-contributors anyone interested in working on this?

[2015-07-06 16:47] rhyolight commented on #2292
Not a bad idea...

[2015-07-06 16:59] rhyolight commented on #2298
Thank you!

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Fri, Jul 3, 2015 at 2:51 PM, dbl001 <notifications@github.com> wrote:

[2015-07-06 16:59] rhyolight commented on #2299
@dbl001 Unfortunately, we haven't had much success building on Anaconda. We don't officially support it. If you figure this out, please let us know.

[2015-07-06 17:03] dbl001 commented on #2299
Will it build if I run python in the virtual environment (and skip Anaconda)?

[2015-07-06 17:19] rhyolight commented on #2299
I hope so! :smile:

[2015-07-06 17:22] rhyolight commented on #2301
So your iPython notebook is running on the VM, right? And you're trying to get to it from OS X (the host OS). Don't you need to do some kind of port-forwarding? @unixorn maybe you know?

[2015-07-06 17:27] dbl001 commented on #2301
The iPython notebook server is running on the virtual machine.  I have a Spark virtual machine (32 bit) where this works (e.g. - iPython notebook server running in VM, access works through OS X 10.10.3, running notebooks in the VM / Spark works.  The Spark VM does not use Docker.
When I tried adding the port-forwarding from the Spark VM into the nupic Vagrant file (with docker code),
it still didn

[2015-07-06 17:31] dbl001 commented on #2299
Can you point me to instructions for building / install nupic in the virtual env?

[2015-07-06 17:31] rhyolight commented on #2301
I don't know how to fix this, and honestly this is out of scope for a NuPIC
bug report, as it is more of a general VM / networking question.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Mon, Jul 6, 2015 at 10:27 AM, dbl001 <notifications@github.com> wrote:

[2015-07-06 17:33] rhyolight commented on #2299
Look [here](https://github.com/numenta/nupic/wiki/Installing-and-Building-NuPIC#dependencies), specifically use the https://github.com/numenta/nupic-linux64 or https://github.com/numenta/nupic-darwin64 repos, which use virtual env (see their READMEs).

[2015-07-06 17:33] rhyolight commented on #2299
cc @oxtopus

[2015-07-06 17:36] scottpurdy opened #2303 "Remove C++ code and build from nupic"
Depends on numenta/nupic.core#486

[2015-07-06 17:40] dbl001 commented on #2301
Ok.  Thanks!

[2015-07-06 17:50] dbl001 commented on #2299
505  git clone https://github.com/numenta/nupic-darwin64.git
  506  cd nupic-darwin64/
  507  ls
  508  vi README.md
  509  source nupic-darwin64/bin/activate
  510  cd ..
  511  source nupic-darwin64/bin/activate

David-Laxers-MacBook-Pro:nupic davidlaxer$ ARCHFLAGS="-arch x86_64" python setup.py install

Target nupic.core package already exists at /Users/davidlaxer/nupic/extensions/core/nupic_co

[2015-07-06 18:19] scottpurdy opened #2304 "RecordSensor should validate that a category field is specified if 'categoriesOut' is linked"
depends on numenta/nupic.core#487

This will prevent confusion when the 'categoriesOut' is always `0.0` if the user accidentally doesn't set the `C` flag in the input file.

@marionleborgne - fyi

[2015-07-06 18:36] chetan51 commented on #1711
@breznak

Okay, if this works already, then we can ignore points 6 and 7.

I don't think this is a good workaround, because it's not guaranteed from the Metric API that you'll compute the correct duration that way. Only the CLAModel's `run` function knows accurately how long it took to run one iteration, so it should be the one to store that information in the ModelResult.

I'm sorry, I don't unde

[2015-07-06 18:39] dbl001 commented on #2299
David-Laxers-MacBook-Pro:nupic davidlaxer$ gcc --version
gcc (MacPorts gcc48 4.8.5_0) 4.8.5
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2015-07-06 19:50] scottpurdy commented on #1849
@chetan51 - is it safe to say that we would be ok adding a TemporalMemoryRegion that has an interface more closely aligned with the new TM?

[2015-07-06 21:30] chetan51 commented on #1849
@scottpurdy

This would be the preferred way to move forward. For now, the solution I mentioned is a workaround one can use.

[2015-07-06 21:44] #2302 closed

[2015-07-06 23:14] #2277 closed

[2015-07-06 23:36] scottpurdy commented on #2148
What version of NuPIC are you using? We saw something similar before that had to do with the version of glibc that capnp in nupic.core was compiled against. This has been fixed for a little while I think (I think NuPIC 0.2.4 fixed it). This was totally independent of the version of capnp installed on your system or used by pycapnp since nupic.core always uses the bundled version.

[2015-07-06 23:54] scottpurdy commented on #2073
Regardless of the anomaly class, the AnomalyRegion will have some parameters that we will be able to swarm over. Worst case we will need to implement a new Permute type that understands how to do that. More likely we can use PermuteChoice or something to try different anomaly types.

[2015-07-06 23:55] scottpurdy commented on #2073
It doesn't really matter if we switch to subclasses for the anomaly types or integrate into the region first. But I would like both of those done before we integrate with the CLAModel because they have serialization / backwards compatibility implications.

[2015-07-07 00:14] scottpurdy commented on #1954
Generally sounds fine, @breznak - thanks for the follow ups. I don't think we should add a new reset but each anomaly implementation could choose how to interpret it (or have a parameter if necessary).

[2015-07-07 13:08] cogmission commented on #1954
I don't want to intrude but I was reading over some comments and I just wanted to respectfully interject that in general it is a really bad practice for code to have "personality". What I mean is, configurations that mean one thing in one place and something else in another - or the same state or condition being "interpreted" differently across different implementations within the same body or mod

[2015-07-07 17:45] scottpurdy commented on #1954
@cogmission - I completely agree with what you are saying. But I don't think it differs from my suggestion. A reset is always a user-defined action. Sometimes it means there was a gap in the data, sometimes it means the source of the data changed. We can't anticipate all of the possibilities so we have to instead provide functionality that gives flexibility to the user. As such, how you link a res

[2015-07-07 18:15] cogmission commented on #1954
You're right. I don't think we're saying completely different things necessarily.

I think regardless of the conditions surrounding the call to "reset" or the changes in data a reset may  reflect, I think the actual "reset method" should always do the same thing. If it does something similar (but not exactly the same) in one code module than another than it (the method) should have a different nam

[2015-07-07 20:11] breznak commented on #2148
I'm running `master` with nupic.core compiled from source too. `glibc` is
2.19 from Ubuntu 14.04 LTS (=same as Travis!)
Good to know this should not be something with capnp but rather the compile
chain. I can retest with nupic.core from the binary blobs we publish.

[2015-07-07 21:48] chetan51 opened #2307 "TM: predictedSegmentDecrement should be 0 by default or investigated"
Before we set a positive value to `predictedSegmentDecrement` in temporal memory, we should verify that it doesn't reduce performance on existing models. For now, we can set it to 0, or we can investigate the implications.

[2015-07-07 21:48] chetan51 commented on #2307
@ywcui1990

[2015-07-07 21:51] subutai commented on #2307
A value of 0 is backward compatible. A non-zero value is not backward compatible and we should investigate impact with hogtym and other datasets.

[2015-07-07 22:08] breznak commented on #1849
Wow :open_mouth: why didn't I know that? :) Thanks a lot Chetan! Maybe we should mention it more somewhere (the example description.py comment for `implementation`?, wiki)

Yes, some TPregion params can't be picked by TM, but the workaround is very much OK for now.

[2015-07-07 22:17] breznak commented on #1711
This is a very clean solution from the view-point of the Metrics. I'm not sure if @scottpurdy wasn't against cluttering the ModelResult with additional info at the beginning of these PRs (?) - the problem is Model is not aware of instantionized metrics - so should it append always `duration`? (`anomalyScore` can be added only for `TemporalAnomaly` model where it makes sense)

[2015-07-07 22:21] ywcui1990 commented on #2307
I will change it to 0 for now before we investigate its impact.

[2015-07-07 22:21] breznak commented on #2280
duplicate of https://github.com/numenta/nupic/issues/1360 , closing here.

[2015-07-07 22:21] #2280 closed

[2015-07-07 22:27] chetan51 commented on #1711
Yes, I think it should always add duration, since that is relevant information for a ModelResult.

[2015-07-07 22:35] breznak commented on #2150
@chetan51 sorry for thread-zombie, I've missed that reply.

yes.

Still, I can squeeze about 50% time when I prehash the values, instead of computing them interactively. Do you think we should speed up `_hashCoordinate()` by using internal array `_hash[x][y]` that is random initialized during init? It makes initialization last a while for longer arrays, but then _hashCoordinate is constant time.

[2015-07-07 22:38] chetan51 commented on #2150
But how many values would you initialize? The Coordinate Encoder currently works for infinite space.

[2015-07-07 22:38] breznak commented on #1711
it append always duration

information for a ModelResult.

great, I'll rework both metrics accordingly. Then the "expose model .." PR
would be obsolete (there are still some cleanups that might be worth
picking)

[2015-07-07 22:41] breznak commented on #2150
currently works for infinite space.

Ouch, my mistake, in my scenario I use fixed-sized coordinate dimensions.
Maybe worth adding optional param `dimensionsSizes[]`? Then the speedup
could be applied.

[2015-07-07 22:54] chetan51 commented on #2150
A cleaner optimization might be to just cache computed coordinates, so we would still get speedups for repeating sequences.

[2015-07-07 23:03] breznak commented on #2150
would still get speedups for repeating sequences.

Great idea! So even infinite-space coords would benefit, also we'd expect
some repetitive patterns in sequences, so this cache should hit more
likely. And for fixed sized we'd set `cacheSize=dim(x)*dim(y)`

[2015-07-08 22:29] #2307 closed

[2015-07-08 23:37] scottpurdy commented on #2259
Still an issue...

[2015-07-09 00:18] #2259 closed

[2015-07-10 14:29] #2301 closed

[2015-07-10 15:58] dbl001 opened #2311 "vagrant error: Stderr: VBoxManage: error: Storage controller named 'SATA Controller' already exists"
The nupic/coreos-vagrant virtual box is getting errors:

David-Laxers-MacBook-Pro:coreos-vagrant davidlaxer$ vagrant box update
==> core-01: Checking for updates to 'coreos-alpha'
    core-01: Latest installed version: 735.0.0
    core-01: Version constraints: >= 308.0.1
    core-01: Provider: virtualbox
==> core-01: Updating 'coreos-alpha' with provider 'virtualbox' from version
==> core-01: '735

[2015-07-10 16:01] david-ragazzi commented on #2299
@dbl001  Have you tried CLang?

[2015-07-10 16:12] dbl001 commented on #2299
clang: error: invalid deployment target for -stdlib=libc++ (requires OS X 10.7 or later)

David-Laxers-MacBook-Pro:nupic davidlaxer$ sudo CC=clang CXX=clang++ ARCHFLAGS="-arch x86_64" python setup.py install
Target nupic.core package already exists at /Users/davidlaxer/nupic/extensions/core/nupic_core-de7052fa535cb55ba97d6dd37950d9aab998b35c-darwin64.tar.gz.
Unpacking /Users/davidlaxer/nupic/exten

[2015-07-10 16:35] dbl001 commented on #2311
https://github.com/mitchellh/vagrant/issues/5920#event-353089837

[2015-07-10 16:42] dbl001 commented on #2299
David-Laxers-MacBook-Pro:nupic davidlaxer$ clang --version
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.4.0
Thread model: posix

[2015-07-10 16:57] dbl001 commented on #2299
Is this relevant?

-o build/temp.macosx-10.5-x86_64-2.7/extensions/py_support/NumpyVector.o

http://stackoverflow.com/questions/24243176/how-to-specify-target-mac-os-x-version-using-qmake <http://stackoverflow.com/questions/24243176/how-to-specify-target-mac-os-x-version-using-qmake>

[2015-07-10 16:58] rhyolight commented on #2299
I think I remember having a similar problem a long time ago when I had a
pre-existing version of numpy on my system. I uninstalled numpy and
reinstalled 1.9, I think...

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Fri, Jul 10, 2015 at 9:42 AM, dbl001 <notifications@github.com> wrote:

[2015-07-10 17:16] dbl001 commented on #2299
I update numpy to 1.92 in the virtualenv.  Same thing:’

clang: error: invalid deployment target for -stdlib=libc++ (requires OS X 10.7 or later)

David-Laxers-MacBook-Pro:~ davidlaxer$ cd nupic
David-Laxers-MacBook-Pro:nupic davidlaxer$ sudo CC=clang CXX=clang++ ARCHFLAGS="-arch x86_64" python setup.py install --user
Password:
Target nupic.core package already exists at /Users/davidlaxer/nupic/ex

[2015-07-10 21:20] akhilaananthram opened #2312 "Move PyRegion and py_support extensions from nupic to nupic.core"
This is part of a larger plan to move all the C++ from nupic to nupic.core. https://github.com/numenta/nupic/issues/2303

[2015-07-14 17:34] scottpurdy commented on #2242
@jaredweiss fyi

[2015-07-14 18:03] chetan51 opened #2314 "TemporalMemory.getCellIndex doesn't work correctly when running through OPF"
When running the TM through the OPF, the function `getCellIndex` doesn't work correctly; there are errors stating that the `idx` property can't be accessed.

[2015-07-14 18:09] chetan51 opened #2316 "Remove unused synapses in Temporal Memory"
Over time, the TM builds up many synapses with permanence 0. These can be deleted for cleanliness and performance.

relates to numenta/nupic.core#495

[2015-07-14 18:21] chetan51 opened #2318 "Add large hotgym dataset for profiling and testing"
The hotgym dataset in the one_gym example is pretty small. It would be nice to also have a larger dataset in there for profiling and testing.

[2015-07-14 20:38] #2314 closed

[2015-07-16 21:43] scottpurdy opened #2322 "Create OPF regression test"
We should have a test to ensure that any changes to OPF results are intentional. This can be a simple test that runs hotgym and enforces that the error metric matches. If it fails then the expected result must be explicitly updated to match the new result.

[2015-07-16 22:00] #2318 closed

[2015-07-16 23:26] jaredweiss opened #2325 "Unregister existing pyRegions"
Python counterpart to [nupic.core #494](https://github.com/numenta/nupic.core/issues/494).
Existing pyRegions (whether custom or built-in) should be able to be unregistered to avoid naming conflicts when registering custom regions.

[2015-07-17 00:17] #2316 closed

[2015-07-17 17:20] scottpurdy opened #2328 "Make sure prediction results match on different platforms"
This PR is failing due to differences in prediction results on hotgym on local OS X and Travis:
https://github.com/numenta/nupic/pull/2323

We need to fix this.

[2015-07-17 22:30] jaredweiss opened #2329 "Move registerBuildInRegion call in nupic.engine.__init__ to global scope"
`registerBuildInRegion` needs to be run before any of the methods in `nupic.engine.__init__` are run. Otherwise, if `registerPyRegion` or `unregisterPyRegion` is run before a network is initialized (as would happen if loading a serialized network with regions that conflict with the built ins), `registerBuildInRegion` would either break or not have the proper region in it's list of regions.

[2015-07-18 13:54] krosty4782 commented on #2061
Had the same problem; = "export MACOSX_DEPLOYMENT_TARGET=10.10" fidex it.
Thanks

[2015-07-20 07:40] SaganBolliger commented on #2087
Looks like this has been fixed. https://github.com/numenta/nupic/blob/master/pylintrc#L262

[2015-07-20 16:41] #2325 closed

[2015-07-21 17:39] BoltzmannBrain opened #2335 "FileRecordStream with multiple categories"
Currently FileRecordStream only accepts one category label per data instance; [spec is here](https://github.com/numenta/nupic/blob/master/nupic/data/file_record_stream.py#L132). We would like the functionality for multiple category labels per row; i.e. multiple columns labeled with `C`.

[2015-07-21 20:57] #2329 closed

[2015-07-22 05:13] rhyolight commented on #1888
Not fixed. At all.

[2015-07-22 16:31] #2312 closed

[2015-07-22 17:14] #2212 closed

[2015-07-25 00:29] marionleborgne opened #2340 "compute() function not implemented in CLAClassifierRegion.py"
The `compute` [1] function is not implemented. Consequently - after creating a Network instance with a CLAClassifierRegion - `network.run()` won't feed data to the CLAClassifier correctly, and we have to use the `customComputeFunction` [2] in an outer loop [3].

[1] https://github.com/numenta/nupic/blob/master/nupic/regions/CLAClassifierRegion.py#L222-L232
[2] https://github.com/numenta/nupic/blob

[2015-07-25 01:11] marionleborgne opened #2341 "not possible to compute and get predictedActiveCells with TM `tm_py` implementation"
I am using the network API and `temporalMemoryRegion.setParameter("computePredictedActiveCellIndices", True)` [1] fails when using the `tm_py` TM implementation. [2]

See stacktrace [3]

But then, even after bypassing this parameter - so that I enforce the computation of predictedActiveCells - the computation of predictiveActiveCells still fails. See stacktrace [4]

So I ended up having to get the

[2015-07-25 01:23] marionleborgne opened #2342 "temporalMemoryRegion.getOutputData("anomalyScore") is always 0"
I am always getting anomaly scored of 0 when using `temporalMemoryRegion.getOutputData("anomalyScore")` [1]. I do have bursting columns though, especially at the beginning, before the TM is able to predict anything. Is `getOutputData("anomalyScore")` not working?

---
[1] https://github.com/numenta/nupic.research/blob/ab3bc24e1523d604723bb872ff2e6ac2b0dc8f53/classification/classify_active_cells.py

[2015-07-27 18:52] scottpurdy commented on #1360
All of the algorithm components are fixed size resources. But this corresponds to the maximum size. They will take up less space initially. But they do have a maximum size. Does that differ from your understanding, @breznak

[2015-07-27 20:52] scottpurdy opened #2347 "Connections class cannot be pickled"
The `SynapseData` namedtuple cannot be pickled.

[2015-07-27 23:41] rhyolight opened #2349 "Update to new Travis-CI container-based infrastructure"
http://docs.travis-ci.com/user/migrating-from-legacy/

Depends on #2350.

[2015-07-27 23:45] rhyolight opened #2350 "Docker builds failing since July 22 2015"
https://registry.hub.docker.com/u/numenta/nupic/builds_history/15031/

/CC @allanino @oxtopus

[2015-07-28 00:25] #2347 closed

[2015-07-28 00:27] chetan51 opened #2351 "Add new metric: NRMSE"
This will be useful when comparing NuPIC against other algorithms.

[2015-07-28 00:58] scottpurdy opened #2353 "Make nupic a namespace package"
Making nupic a namespace package will enable other projects to extend nupic. One example is nupic.vision, where we have moved the vision-related code. This setup enables NuPIC users that don't need vision-related code to have a smaller install with fewer dependencies while still giving the vision-related code nice import paths.

[2015-07-28 01:03] rhyolight commented on #2353
:+1:

[2015-07-28 04:43] rhyolight opened #2355 "Missing numpy array object header (C++)"
This is causing problems for Ubuntu, but strangely not on Travis-CI. It is, however, causing docker failures as shown [here](https://registry.hub.docker.com/u/numenta/nupic/build_id/3974/code/b2kw7xyldssjs4xfnvtxbfk/). I can replicate this error on the Ubuntu box I normally build NuPIC with the exact same error when running `python setup.py install --user`.

[code]

[2015-07-28 04:49] rhyolight commented on #2355
This seems to have started happening on July 22, but I'm trying to identify the exact commit. My guess is that it was a `nupic.core` change that caused the problem.

[2015-07-28 04:49] rhyolight commented on #2350
This is caused by #2355.

[2015-07-28 09:22] breznak commented on #2355
hmm.. I can't (fortunately) replicate on my box (U 14.04), using `python setup.py build & develop` from locally built `nupic.core`. Could be a packaging problem?

[2015-07-28 09:43] breznak commented on #1360
@scottpurdy yes, I think that's what I mean :)
`maxSegmentsPerCell = 0, ...` aka. "non fixed-sized" = less space initially, segments grow with time as needed &&
max limit is UInt, compared to given limit with fixed-sized.

[2015-07-28 09:50] breznak commented on #2087
yep, fixed. Thanks for notice @SaganBolliger ! Closing.

[2015-07-28 09:50] #2087 closed

[2015-07-28 10:24] rcrowder commented on #2355
I was broken by this after updating my NuPIC TM bindings branch last week. Recent changes to move Py CPP stuff into the core affected all this (PyArray.ccp, etc.).  It should be ok, when NuPIC has caught up with latest core SHA.
We now seem to have a CPP Core library reliant on Python and NumPy installation? Although it did  confirm the hard-limit of 40 minutes per build on AppVeyor (NumPy install

[2015-07-28 10:36] rcrowder commented on #2350
See https://github.com/numenta/nupic/issues/2355#issuecomment-125545140

[2015-07-28 11:36] breznak opened #2356 "Investigate Cython as a new build extension"
I know Numenta was running NuPIC with `cython` as an interpreter in the past, what is your current experience with it, @rhyolight @oxtopus ?

I tried a simple demo in https://github.com/numenta/nupic/compare/master...breznak:cythonize?expand=1
In some cases (SP) it was even slower than pure PY, somewhere slightly faster (ScalarEncoder), and way slower than orig C++.

I would still consider `cython

[2015-07-28 12:00] rcrowder commented on #2356
@breznak C run-time library incompatibilities are likely to still exist, as they do with NuPIC currently. I've been looking at CPython 3.5, but aware of issues relating to a move to 3.x Scott and I are due to discuss NuPIC Windows port this week, a tricky task that may not be possible until 3.x move.

https://www.python.org/downloads/release/python-350a1/

[2015-07-28 16:16] scottpurdy commented on #1360
So we have three options:

1. Require the caller to specify the max segments per cell
2. Set a default fixed value for max segments per cell
3. Set a default unbounded value for max segments per cell

I don't see a use case for the unbounded option. Perhaps @chetan51 can weigh in on 1 vs 2?

[2015-07-28 16:21] rhyolight commented on #2356
:confounded:

[2015-07-28 17:20] rhyolight commented on #2355
This is also failing internal pipelines, but with a different error (@jcasner):

[code]

![screen shot 2015-07-28 at 10 17 57 am](https://cloud.githubusercontent.com/assets/15566/8938219/37d16d7e-3512-11e5-84ac-0d9a29a90f5b.png)

[2015-07-28 17:23] rhyolight commented on #2355
@rcorder said:

Everything is caught up as of yesterday, but no luck with a passing build.

[2015-07-28 18:07] rhyolight commented on #2355
My Ubuntu environment is old (needs gcc 4.8), so I'm updating to Ubuntu 14.04 right now. Once complete, I should have an environment where I can identify the breaking change.

[2015-07-28 18:26] rhyolight commented on #2322
@scottpurdy There is a similar test at https://github.com/numenta/nupic.regression/blob/master/tests/anomaly/one_gym/hotgym_anomaly_test.py can you use it?

[2015-07-28 19:04] scottpurdy commented on #2322
@rhyolight - No, that test will only catch a very narrow set of problems that cause anomaly scores to never drop to reasonable levels. We need some blocking test that prevents people from making a change that affects prediction/anomaly results at all unless they explicitly intend to. I often ask people that submit PRs to run hotgym and validate the results don't change but I don't want to have to

[2015-07-28 19:36] breznak commented on #2322
trust them ;)

:+1: although the other issue - with results varying from machine to
machine- will become a trouble. At least we'll resolve it faster :P

[2015-07-28 20:08] rhyolight commented on #2340
@scottpurdy How important is this issue?

[2015-07-28 20:08] rhyolight commented on #2341
@chetan51 Did you see this? Thoughts?

[2015-07-28 20:55] chetan51 commented on #2341
We can try implementing the method `getActiveState` in the `TPShim` class, getting the active cells from the TP and returning them as a numpy array.

[2015-07-28 20:58] chetan51 commented on #1360
I would prefer setting a default fixed value, and letting the caller override it (like we do with all other parameters). I wouldn't mind having an unbounded value (like 0), but that is not implemented currently.

[2015-07-28 21:46] brahmbhattspandan opened #2357 "Pip install failing on MacOSX"
Installing NUPIC using PIP does not seem to work on MacOSX.
Using the command $pip install nupic gives an error as follow,

![screen shot 2015-07-28 at 5 45 09 pm](https://cloud.githubusercontent.com/assets/11262471/8944760/70bb3c76-3550-11e5-9767-44d44c9e424d.png)

Also the docker build is not working, but there is already an open issue for that.

[2015-07-28 21:55] scottpurdy commented on #2322
Actually this should address the deviation from machine to machine if we assert that the prediction results are identical. That is actually how we found out that the hotgym metric results locally on OS X are not the same as on Travis right now. @tomsilver is in the process of debugging this.

[2015-07-28 21:58] scottpurdy opened #2358 "Bug: Hotgym metric results differ on Travis and on OS X"
While resolving #2322 we discovered that the metric results vary from OS X to Travis. We need to track down the cause of this and fix it.

[2015-07-28 21:58] scottpurdy commented on #2358
@tomsilver is investigating

[2015-07-28 22:02] scottpurdy commented on #2328
Oops, tracking at #2358

[2015-07-28 22:02] #2328 closed

[2015-07-28 22:05] scottpurdy commented on #2340
I'd say fairly high. It falls in line with the roadmap priorities around flexible network API. That said, it is more of a code hygiene issue than functionality so may still be a P3. But we should tackle it in the near term.

[2015-07-28 22:12] chetan51 commented on #1360
Actually, unless there's a valid use case for an unbounded model, we shouldn't need to implement it.

[2015-07-28 22:13] chetan51 commented on #1360
This issue is about the old temporal memory (TP.py). We should be using the new temporal memory moving forward, which specifies a default value of max segments per cell, and allows the caller to override it.

[2015-07-28 22:36] #2322 closed

[2015-07-28 22:51] #2353 closed

[2015-07-28 23:11] rhyolight commented on #2355
This is happening because `numpy` needs to be explicitly installed. You can see that Travis-CI is not failing because of this change:

https://github.com/numenta/nupic/commit/c5e1259d5c4dc4b955f71700694ec37255e90646#diff-fdac4aa350975855602432f52f20f6cdR44

So I'm updating the Docker build to install Numpy, and @jcasner is going to update the Grok builds.

[2015-07-28 23:11] #2355 closed

[2015-07-28 23:29] rhyolight commented on #2357
Yes, I think this is a temporary problem happening because of pipeline issues. Please standby and I'll lte you know when you can retry.

[2015-07-28 23:30] brahmbhattspandan commented on #2357
Sure. Thanks.

[2015-07-28 23:34] rhyolight commented on #2357
@brahmbhattspandan In the meantime, you can compile from source? https://github.com/numenta/nupic/wiki/Running-NuPIC-on-OS-X

[2015-07-29 00:53] rhyolight commented on #2350
Watching https://registry.hub.docker.com/u/numenta/nupic/build_id/3974/code/bqbfs265bzzwwhzwaptca9y/ for results...

[2015-07-29 04:02] rhyolight commented on #2350
@oxtopus @allanino Can either of you tell me why [this is showing a "Build Error"](https://registry.hub.docker.com/u/numenta/nupic/build_id/3974/code/bqbfs265bzzwwhzwaptca9y/) cause I can't see any errors in the output.

[2015-07-29 15:52] rhyolight commented on #2350
Oh:

    Error pushing to registry: Server error: 502 trying head request for numenta/nupic - sha256:b5fee3b077924662569a2196169132eb6d67aae161b79e94c7faad1bb7e33dfb

[2015-07-29 15:52] rhyolight commented on #2350
Maybe I'll try another build...

[2015-07-29 16:18] rhyolight commented on #2350
We have docker builds again! Looks like the previous error was a fluke. Restarting the job worked.

[2015-07-29 16:18] #2350 closed

[2015-07-29 16:19] rhyolight commented on #2357
Depends on #2349.

[2015-07-29 16:39] rhyolight commented on #2357
Oh yeah you can try the Docker installation now, it should be working.

[2015-07-29 17:45] brahmbhattspandan commented on #2357
Its OS X Yosemite v 10.10.4

[2015-07-29 21:51] rhyolight commented on #2349
I had to resort to live testing of the `before_deploy.sh` script, so I'm iterating on it and waiting for builds.

[2015-07-29 21:57] #1360 closed

[2015-07-29 22:41] rhyolight opened #2361 "Performance regression for single-order sequence"
NuPIC used to be 100% correct at predicting cellular automata within a 500-element window after 581 rows of data. Now it is only 98.8% correct.

See failure at: https://travis-ci.org/numenta/nupic.regression/builds/73279926

[2015-07-29 22:42] rhyolight commented on #2361
I will try to find out which SHA this started, then I'll probably need to defer to @scottpurdy for analysis.

[2015-07-29 23:02] rhyolight commented on #2349
Works!

[2015-07-29 23:02] #2349 closed

[2015-07-30 01:14] scottpurdy commented on #2361
I think we can update the test since there have been a couple known changes since this test was last run. Here is one case that caused changes: #1972

[2015-07-30 13:19] david-ragazzi commented on #2356
These days I'm making several benchmarkings to test some proposals to improve nupic (OO approach, alternative compilers, etc). One of this is test an old proposal related to use `pypy` as main compiler instead CPython. The fact that I get (very) excellent performance results to a (very) low price: only 1 or 2 lines in SpatialPooler need be refactored due to a numpy function not ported to pypy (yet

[2015-07-30 18:14] BoltzmannBrain opened #2364 "RecordStreamIface support for "list" field type"
This is needed for multi-category classification (this is a subtask of #2335) and will be useful for the pass through encoders.

[2015-07-30 18:14] BoltzmannBrain opened #2365 "Extend the RecordStreamIface "category" special flag to support both "int" and "list" field types"
And make the corresponding network changes. This is a subtask of #2335.

[2015-07-30 18:14] BoltzmannBrain opened #2366 "Update the KNNClassifier to accept multiple input categories"
Enable the KNNClassifier for multi-label classification. This is a subtask of #2335.

[2015-07-30 18:15] BoltzmannBrain commented on #2335
Because we'd like to allow variable number of categories across records in a data file -- i.e. some records can have 1 category, others may have 4, etc. -- we'll stick to a single categories column. This issue then is to allow multiple categories to be specified by a list, requiring the following:
- [ ] record stream support for "list" field type: #2364
- [ ] extending the "category" special flag

[2015-07-31 16:00] jaredweiss opened #2369 "Remove empty "constraints" parameters from specs"
See https://github.com/numenta/nupic/blob/master/nupic/regions/SPRegion.py#L163 for an example.

(Make sure the nupic.core is at least at this https://github.com/numenta/nupic.core/commit/6485cd327fbdcf3bb6d15260468ff5e1da5f9753)

[2015-07-31 16:12] scottpurdy commented on #2356
@david-ragazzi - Do you have an issue for tracking the pypy effort? It would be great to see the SP benchmark and results you describe (comparison of Python, Pypy, and C++) but this issue is for Cython (alternative to SWIG).

[2015-07-31 16:16] scottpurdy commented on #2356
@breznak - The primary reason for SWIG is to make it easy to support other languages in the future. That said, I'd be curious to know if Cython provides some other benefits. When you say speed ups from Cython, are you talking about its ability to translate Python to C code? I believe that requires the code to be written specifically for Cython (with type hints).

[2015-07-31 17:46] #2351 closed

[2015-07-31 18:42] #2364 closed

[2015-07-31 18:51] david-ragazzi commented on #1728
Good news: Newer versions of PyPy has provided better compatibility with existent python base codes. So these days I decided test pypy and fortunatelly I got (very) excellent performance results to a (very) low price: only 1 or 2 lines in SpatialPooler need be refactored due to a numpy function not ported to pypy (yet). I still didn't test TemporalMemory with pypy but I'm pretty sure that probably

[2015-07-31 18:52] david-ragazzi commented on #2356
I re-open this: https://github.com/numenta/nupic/issues/1728

[2015-08-03 10:21] jgab3103 commented on #2061
This drove me completely crazy too and sure enough this fix worked! Thanks guys...

[2015-08-03 16:08] #2365 closed

[2015-08-03 23:31] #2366 closed

[2015-08-03 23:33] BoltzmannBrain commented on #2335
Resolved w/ PRs #2367, #2368, and #2370.

[2015-08-03 23:33] #2335 closed

[2015-08-04 14:38] rhyolight opened #2374 "Some files still have old copyright headers"
[code]

[2015-08-04 17:22] #2374 closed

[2015-08-05 01:18] brahmbhattspandan commented on #2357
@rhyolight  Docker is working perfectly.

[2015-08-05 15:17] rcrowder commented on #2356
For reference;
https://github.com/cython/cython/wiki/CythonExtensionsOnWindows
http://stackoverflow.com/questions/3047542/building-lxml-for-python-2-7-on-windows?lq=1
(potential to link to older CRT?)

[2015-08-05 22:40] scottpurdy opened #2378 "Allow NuPIC to be installed under Python 2.7 or 3"
Allow NuPIC to be installed under Python 2.7 or 3.X.

[2015-08-06 16:48] oxtopus opened #2381 "Remove tweepy dependency"
tweepy doesn't appear to be used anywhere in nupic, but has entries in `DEPENDENCIES.md` and `requirements.txt`:

[code]

[2015-08-06 20:14] mihail911 commented on #1753
Some suggested high-level milestones to help organize our efforts:

- [ ] Separate swarming code into the core Hypersearch files and the NuPIC-specific client. Though we are particularly interested in the NuPIC-specific client, the Hypersearch API should be defined in such a way that a wide variety of clients can make use of the library in domain-specific ways.
- [ ] Define the Hypersearch API
- [

[2015-08-06 21:26] scottpurdy commented on #1753
@oxtopus - does that sound good to you?

@mihail911 - When we create the issue for separating the code into pure-hypersaerch an NuPIC client, we should be explicitly about what can import from where.

[2015-08-07 15:51] rhyolight commented on #2361
I've updated it.

[2015-08-07 15:51] #2361 closed

[2015-08-07 16:18] rhyolight commented on #2061
Added this to the [Build FAQ](https://github.com/numenta/nupic/wiki/Build-and-Installation-FAQ#clang-error-invalid-deployment-target).

[2015-08-07 16:42] rhyolight commented on #2381
![1201133266390](https://cloud.githubusercontent.com/assets/15566/9140807/a4937c8a-3ce8-11e5-9450-33e8bebefc24.jpg)

[2015-08-07 17:02] #2381 closed

[2015-08-07 17:43] cogmission opened #2387 "temporal_memory.py learnOnSegments method doc incomplete"
Trivial but should be complete for peeps trying to learn.

    @param prevMatchingSegments         (set)         Indices of segments with

[Line no. 367](https://github.com/numenta/nupic/blob/master/nupic/research/temporal_memory.py#L367) - Sentence ends there. Me thinks the author got distracted?

[2015-08-07 18:03] scottpurdy opened #2388 "add support for monitor mixins to write charts to file instead of open new window"
The mixins currently open matplotlib chart windows but this isn't always desired and doesn't work when running inside a GUI application. The mixins should support an option for writing the output to a file instead of opening the charts in a window.

[2015-08-07 18:36] cogmission opened #2389 "TM.learnOnSegments: Create activeSynapses Set only when needed"
Simple oversight...

[code]

In the code above, "activeSynapses" is only used when "isPredictedInactiveCell" is true, therefore its creation should happen inside the if statement like this:

[code]

This would protect against creation of unused sets.

[2015-08-07 19:33] rhyolight commented on #2389
@chetan51 please investigate?

[2015-08-07 21:49] oxtopus commented on #1753
LGTM.  However, more emphasis needs to be made on the separation of the nupic-specific client.  There will be some client code that remains in nupic to implement nupic-specific swarming on top of the hypersearch framework.  I don't think there's an explicit callout to that.

[2015-08-07 22:42] mihail911 opened #2390 "Error Codes"
Migrate Hypersearch specific error codes outside of nupic into Hypersearch.

[2015-08-07 22:44] mihail911 opened #2391 "Hypersearch Decoupling Milestone 1: Separate swarming code into core Hypersearch files and NuPIC-specific Client"
The Hypersearch API should be defined in such a way that a wide variety of clients can make use of the library in domain-specific ways (e.g. a NuPIC specific client, etc. ) The NuPIC-client will continue to reside within NuPIC, making API calls as appropriate from the hypersearch framework. Hypersearch should not depend at all on anything outside of hypersearch ( besides the standard library). The

[2015-08-07 22:46] mihail911 opened #2392 "Utils"
Migrate 'clippedObj' function into Hypersearch utils.

[2015-08-07 22:57] #2390 closed

[2015-08-07 22:58] mihail911 opened #2393 "Hypersearch Decoupling Milestone 2: Define the Hypersearch API"
Define a reasonable interface for the Hypersearch framework.

[2015-08-07 22:59] mihail911 opened #2394 "Hypersearch Decoupling Milestone 3: Migrate Hypersearch API to new design"
Migrate the existing code in swarming/hyperseach to fit into the design outlined at #2393

[2015-08-07 23:01] mihail911 opened #2395 "Hypersearch Decoupling Milestone 4: Deploy Hypersearch to its own PyPI project and include in NuPIC requirement.txt"

[2015-08-07 23:02] mihail911 opened #2396 "Hypersearch Decoupling Milestone 5: Move Hypersearch out of NuPIC into stand-alone reo"
Migrate Hypersearch completely out of NuPIC repo.

[2015-08-08 17:30] cogmission opened #2398 "temporal_memory_test.py: Wrong variable name"
Line 367: "activeSynapsesForSegment" should be changed to "activeCells"

Normally I wouldn't quibble but when the method changed its prototype to take a different argument, the argument type changed drastically, from a mapping of synapses to a "Set" of Cells. While the argument is the same (an empty Set), the name should change to align with what the argument was changed to instead of a totally di

[2015-08-10 16:56] rhyolight opened #2399 "Update all GPL codebases to AGPL"
cc @jcasner

Here are all the PRs that need to be merged at the same time.

* * *

- [x] [numenta.org](https://github.com/numenta/numenta.org/pull/225) ✔︎
- [x] [numenta.com](https://github.com/GrokSolutions/numenta.com/pull/248) (private) ✔︎
- [x] [numenta-apps](https://github.com/numenta/numenta-apps/pull/196) ✔︎
- [x] [nupic](https://github.com/numenta/nupic/pull/2402) ✔︎
- [x] [nupic.core](htt

[2015-08-10 17:28] rhyolight opened #2401 "Update license from GPLv3 to AGPLv3"
Simply swap out the license file.

[2015-08-10 19:16] chetan51 commented on #2389
Thanks @cogmission, this looks like a simple optimization that can be done.

[2015-08-10 19:21] mihail911 opened #2403 "Dict Utils"
Add dict utils to hypersearch specific utils file and modify dependencies accordingly

[2015-08-10 19:45] #2388 closed

[2015-08-10 19:47] #2392 closed

[2015-08-10 20:35] rhyolight commented on #2391
@mihail911 Updated issue description with [proper subtask formatting](https://github.com/numenta/nupic/wiki/Roadmap#proper-sub-task-formatting).

[2015-08-10 21:13] marionleborgne opened #2405 "unable to get predictedActiveCells output after enabling computePredictedActiveCellIndices"
I am using the `tm_py` implementation of the TM. I need to access the output `predictedActiveCells`. When I set the parameter `computePredictedActiveCellIndices` to `True` I get the following error:

[code]

[2015-08-10 21:19] marionleborgne commented on #2405
@chetan51 FYI, this blocks https://github.com/numenta/nupic.research/pull/257. Thanks!

[2015-08-10 21:21] chetan51 commented on #2405
Duplicate of https://github.com/numenta/nupic/issues/2341.

[2015-08-10 21:21] #2405 closed

[2015-08-10 22:55] marionleborgne commented on #2341
As a workaround, to get the `tm_py` to work, I replaced [1] by [2] in `TPRegion.py`

[1] original code https://github.com/numenta/nupic/blob/master/nupic/regions/TPRegion.py#L523-L533
[code]

[2] workaround
[code]

[2015-08-10 23:45] chetan51 commented on #2341
@marionleborgne Try putting the following function in the `TPShim` class:

	def getActiveState(self):
	  activeState = numpy.zeros(self.numberOfCells())
	  for c in self.activeCells:
	  	activeState[i] = 1
	  return activeState

And similar for `getPredictedState()`.

[2015-08-11 16:15] cogmission opened #2410 "temporal_memory: reset() method needs to reset matching cells and matching segments too."
The reset() method currently looks like this:

[code]

It should be changed to include **"matchingCells"** and **"matchingSegments"** like this:

[code]

The reason for this is that they are passed into both the "activateCorrectlyPredictiveCells()" and "learnOnSegments" methods which process those lists and update state based on that processing.

Seen here in their respective order:

temporal_memo

[2015-08-11 16:17] cogmission commented on #2410
@chetan51 @rhyolight Since this wasn't caught by either unit tests or integration tests - it indicates that the tests need to be enhanced also...

[2015-08-11 16:51] marionleborgne commented on #2341
@chetan51 Thanks! it worked (with a few minor tweaks). Here is what I added in `TPShim`:

[code]

[2015-08-11 16:58] #2303 closed

[2015-08-11 18:28] #2341 closed

[2015-08-11 18:54] rhyolight opened #2413 "Master build deployment failure, missing "nupic.bindings""
See: https://travis-ci.org/numenta/nupic/jobs/75138342#L6712

[code]

CC @akhilaananthram @scottpurdy

[2015-08-11 18:57] breznak commented on #1728
wow @david-ragazzi ! could you share some (performance) results and possibly a branch to try? ;)

[2015-08-11 19:23] breznak commented on #2413
@rhyolight maybe the tarball is not published yet? (or it's another error :/ )
I confirm these:

* `CC=gcc-4.8 CXX=g++-4.8 python setup.py install` :
[code]
--and it does not exist. (ok, this seems to be the problem with the deployment)

* `CC=gcc-4.8 CXX=g++-4.8 python setup.py --nupic-core-dir=/home/mmm/devel/nupic/nupic.core/build/release/ build`
runs OK

* `CC=gcc-4.8 CXX=g++-4.8 python setup.

[2015-08-11 19:47] chetan51 commented on #2410
@cogmission Good catch!
@ywcui1990 Can you take a look at this since you added those properties?

[2015-08-11 19:53] akhilaananthram commented on #2413
The tarball was published for that run.  For some reason even though the egg file for nupic.bindings  is in the tarball and the path is added to the requirements, it still says no distribution is found.

[2015-08-11 20:00] cogmission commented on #2410
@chetan51 Thanks! Do you think you guys will be adding to the unit and integration tests also?

[2015-08-11 20:01] breznak commented on #2413
egg file for nupic.bindings is in the tarball

Hi,
what about the local build of nupic.core? (when I don't want to use the
online binary)

[2015-08-11 20:04] breznak commented on #2413
is the tarball really published?
`wget
https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic.core/nupic_core-4e477ac3599e9e79200a9c760686569d30491b63-linux64.tar.gz`
fails here

[2015-08-11 20:07] rhyolight commented on #2413
There was a problem with the last `nupic.core` deployment in this build. See full logs at https://s3.amazonaws.com/archive.travis-ci.org/jobs/75138729/log.txt:

[code]

This needs its own ticket in nupic.core....

[2015-08-11 20:08] akhilaananthram commented on #2413
I think this is the tarball it downloads:
https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic.core/nupic_core-82b9a97937b17d9a2c32e9d89bca6e1fe1eea923-linux64.tar.gz

When you want to use a local build of nupic.core, you run the setup.py in nupic.core and then pass the release directory made by cmake to nupic.  Its similar to before except you run a setup in nupic.core as well.

[2015-08-11 20:09] chetan51 commented on #2410
@cogmission Yes, I agree we should.

[2015-08-11 20:15] breznak commented on #2413
for some reason the `python setup.py install` tries to download
`4e477ac3599e9e79200a9c760686569d30491b63-linux64.tar.gz` and not the file
you mention (?)

[2015-08-11 21:10] #2403 closed

[2015-08-11 21:27] mihail911 opened #2416 "Move InferenceElement, InferenceType, and ModelResult"
Make new experimentutils.py and temporarily duplicate above modules from nupic.frameworks.opf to remove this dependency within swarming on nupic

[2015-08-11 21:32] scottpurdy commented on #856
@mihail911 - Did you have a fix for this?

[2015-08-11 21:47] vitaly-krugl commented on #856
![screen shot 2015-08-11 at 2 32 58 pm](https://cloud.githubusercontent.com/assets/1441066/9211451/2c23744c-4037-11e5-961c-8f46b617a10a.png)

Looking at the screen capture of of searching the repo for "first_order_0.csv",  it looks like `first_order_0.csv` is generated by the make_datasets.py script, which is invoked by opf_experiment_results_test.py here: https://github.com/numenta/nupic/blob/fea

[2015-08-11 22:01] vitaly-krugl opened #2418 "opf_experiment_results_test.py fails with python: can't open file .../makeDatasets.py"
When running `$NUPIC/scripts/run_nupic_tests -i `, I get this failure on my MacBookPro OS X Yosemite, python 2.7.6:

[code]

However, when I run the script opf_experiment_results_test.py, then it succeeds.

[2015-08-11 22:03] akhilaananthram commented on #2413
Where is that? I didn't see it.

[2015-08-11 22:17] rhyolight commented on #856
This has always annoyed me!

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Tue, Aug 11, 2015 at 2:47 PM, vitaly-krugl <notifications@github.com>
wrote:

[2015-08-11 22:21] vitaly-krugl commented on #2418
Issue went away after `git clean -fdx`

[2015-08-11 22:21] #2418 closed

[2015-08-11 22:28] mihail911 commented on #856
Yes, I have noticed this as well. I was working on a fix last week before I got sidetracked with other stuff. The lines that @vitaly-krugl referenced make a system call to make_datasets.py which regenerates the first_order_0.csv file every time those tests are run. Given that the values generated in the file are not done deterministically, it makes sense that there would be runs where a different

[2015-08-11 23:27] mihail911 opened #2421 "Migrate Sorted JSON Dump function"
The 'sortedJSONDumpS' function is only used within swarming, so it should be moved out of nupic and into the appropriate dir.

[2015-08-12 08:56] breznak commented on #1315
Closing as resolved. Nupic.core is no longer compiled during nupic build process.

[2015-08-12 08:56] #1315 closed

[2015-08-12 16:28] scottpurdy commented on #2242
replaced by numenta/nupic.core#545

[2015-08-12 16:44] rhyolight commented on #2242
@scottpurdy so should we close this issue?

[2015-08-12 16:50] #2242 closed

[2015-08-12 17:19] #2421 closed

[2015-08-12 18:53] scottpurdy opened #2423 "Move TestNode to nupic.core"
See partner issue numenta/nupic.core#537

[2015-08-12 19:15] mihail911 opened #2424 "JSON Helpers"
Move 'validate', 'ValidationError', and 'loadSONValueFromFile' from nupic.data.jsonhelpers into swarming.hypersearch.utils to clear this dependency on NuPIC code

[2015-08-12 21:56] #2424 closed

[2015-08-12 22:54] mihail911 opened #2426 "Resolve Swarming ExtendedLogger Dependency On NuPIC"
Move ExtendedLogger module from outside swarming into swarming, since the rest of NuPIC has no dependency on ExtendedLogger.

[2015-08-12 22:57] rhyolight commented on #2426
@mihail911 Can you come up with a better name for this issue? Ideally, it should be something communicating the main idea of the work needing to be done. Not just a subject, but an action that needs to be taken, or a bug that needs to be fixed. Thank you.

[2015-08-12 22:59] mihail911 commented on #2426
@rhyolight For sure

[2015-08-12 23:05] rhyolight commented on #2399
@jcasner As @oxtopus [noted](https://github.com/numenta/numenta-apps/pull/196#issuecomment-130470605), I'm going to have to update all these PRs with changes to the copyright headers. I don't have time to do this before I take PTO, so I'll do it on Monday.

[2015-08-12 23:06] rhyolight commented on #2426
:+1: Thanks!

[2015-08-13 00:12] mihail911 opened #2428 "Resolve matchPatterns Swarming Dependency"
Remove the swarming dependency on 'matchPatterns' within NuPIC.

[2015-08-13 01:45] mihail911 opened #2430 "Remove object_json dependency"
The object_json.py utilities are only used within swarming so we should migrate that module into swarming

[2015-08-13 02:19] vitaly-krugl opened #2433 "Break out dict-record encoding logic from nupic.data.record_stream.RecordStreamIface"
Presently, if one's app doesn't need the complexities of defining a custom record stream class, there is no clean way to reuse `RecordStreamIface`'s non-trivial logic for encoding an input metric as a dict expected by an OPF model.

[2015-08-13 14:30] jaredweiss opened #2434 "Can't find nupic.bindings when building nupic.core from source"
Renaming the `nupiccore` requirement to `nupic.bindings` has broken the ability to build nupic with a local version of nupic.core.

`ARCHFLAGS="-arch x86_64" python setup.py develop --user --nupic-core-dir="../core/build/release"`

`ARCHFLAGS="-arch x86_64" python setup.py develop --user` still works fine for me

[code]

[2015-08-13 14:36] jaredweiss commented on #2434
Update:

Looked into it a bit more, found the `setup.py` in nupic.core but having issues running it. Instructions should be added to either the readme in nupic or nupic.core

[2015-08-13 16:09] jaredweiss commented on #2434
Further update:

I'm able to get nupic.core building with the following command:
[code]

This should be mentioned somewhere in the nupic.core readme. Closing in favor of an issue in [nupic.core#547](https://github.com/numenta/nupic.core/issues/547)

[2015-08-13 16:09] #2434 closed

[2015-08-13 21:11] oxtopus opened #2436 "nupic tests fail due to "ImportError: No module named hypersearch.utils""
I just updated to latest nupic and nupic.core and I get the following error when I try to run tests:

[code]

[2015-08-13 21:28] oxtopus commented on #2436
Maybe not an issue.  I fixed it locally by explicitly uninstalling and reinstalling nupic.

[2015-08-13 21:28] #2436 closed

[2015-08-13 23:01] jcasner commented on #2399
@scottpurdy can you run your magic header update script to insert `Affero` into the header text in all these repos?  Might be the most efficient approach...

[2015-08-14 17:23] chetan51 opened #2438 "Allow predictedSegmentDecrement for TemporalMemory to be set through the OPF"
If you use the OPF with `temporalImp='tp_py'`, you can't set the parameter `predictedSegmentDecrement` through the OPF.

[2015-08-15 21:09] tomoprime commented on #2357
I also tried installing with pip on Yosemite with no success. I get no matching bindings errors nupic.bindings==0.1.0

I even went as far as:
Toms-MacBook-Pro:~ Tom$ brew install automake libtool cmake
Warning: automake-1.15 already installed
Warning: libtool-2.4.6 already installed
Warning: cmake-3.3.0 already installed
Toms-MacBook-Pro:~ Tom$ sudo easy_install pip
Password:
Searching for pip
Rea

[2015-08-15 21:43] tomoprime commented on #2357
Note I patched my SSL issue but I still get "No matching distribution found for nupic.bindings==0.1.0"

Toms-MacBook-Pro:~ Tom$ pip install nupic --upgrade --allow-external nupic.bindings
Requirement already up-to-date: nupic in /Library/Python/2.7/site-packages/nupic-0.2.7.dev0-py2.7.egg
Collecting asteval==0.9.1 (from nupic)
  Using cached asteval-0.9.1.tar.gz
Collecting coverage==3.7.1 (from nu

[2015-08-17 17:43] rhyolight commented on #2399
@jcasner @scottpurdy No worries, I got this. magic headers scripts are a dime a dozen. ;)

[2015-08-17 18:04] scottpurdy opened #2440 "Fixed fast_temporal_memory cellsForColumn calculation"

[2015-08-17 18:04] #2440 closed

[2015-08-17 18:31] rhyolight commented on #2399
@jcasner @oxtopus @scottpurdy I believe that all the PRs above now contain the required copyright header changes, so we are set to pull the trigger.

[2015-08-17 19:00] #2413 closed

[2015-08-17 19:46] rhyolight commented on #2357
Let's see what happens when https://github.com/numenta/nupic/pull/2435 runs...

[2015-08-17 19:49] rhyolight commented on #2357
@brahmbhattspandan @tomoprime This problem is not going to clear up until we have a NuPIC 0.2.7 release.

[2015-08-17 22:57] tomoprime commented on #2413
Guys don't forget to avoid hardcoding paths:
# setup.py about line:282
 if getPlatformInfo()[0] == "darwin":
      nupicCoreLocalDirToUnpack = "/Users/travis/build/numenta/nupic.core/bindings/py/dist"
    elif getPlatformInfo()[0] == "linux":
      nupicCoreLocalDirToUnpack = "/home/travis/build/numenta/nupic.core/bindings/py/dist"

[2015-08-17 23:19] rhyolight commented on #2413
@tomoprime Good catch there. @akhilaananthram You should be able to sub `TRAVIS_BUILD_DIR` for the first part of those paths.

[2015-08-17 23:23] akhilaananthram commented on #2413
Isn't that only be set for builds on travis? This path is the folder structure inside of the zip that is uploaded to s3 by travis.  setup.py should be able to download that even when not on travis.  We could change that path in nupic.core though so it isn't so long and platform dependent.

[2015-08-17 23:26] rhyolight commented on #2413
Aha, that makes sense, @akhilaananthram. Carry on, no change necessary.

[2015-08-17 23:28] tomoprime commented on #2413
yeah it looks like it's empty anyway...

Toms-MacBook-Pro:~ Tom$ ls nupic/extensions/core/build/release/Users/travis/build/numenta/nupic.core/bindings/py
Toms-MacBook-Pro:~ Tom$

[2015-08-17 23:33] akhilaananthram commented on #2413
yup. its a bunch of empty directories.  We can make that change to nupic.core at some point

[2015-08-17 23:37] tomoprime commented on #2413
Ok... I ran the unit tests I get an error looks related to nupic.bindings.proto...
Toms-MacBook-Pro:nupic Tom$ $NUPIC/scripts/run_nupic_tests -u --coverage
===================================================== test session starts ======================================================
platform darwin -- Python 2.7.10 -- pytest-2.4.2 -- /usr/bin/python
plugins: xdist, cov
collecting 665 items / 1 er

[2015-08-17 23:40] tomoprime commented on #2413
Note a couple of days ago, Apple pushed out a Mac OS X 10.5.5 update which also upgrades Python to 2.7.10...

[2015-08-18 00:25] scottpurdy opened #2442 "Pylint broken"
Running pylint causes the following error:

[code]

[2015-08-18 19:36] rhyolight commented on #2399
@jcasner @scottpurdy I am going to merge all the PRs that update the licenses along with the code, saving the websites (numenta.org / .com) for last. Once the `nupic.core` build produces binaries and the autmated PR appears and runs to sync projects, I'll merge it as well. Then I will cut a release.

There are going to be a lot of builds running today. Prepare for a long build queue.

[2015-08-18 19:37] #2401 closed

[2015-08-18 19:44] rhyolight commented on #2399
All PRs are merged except for the websites. Now I wait for builds to run.

[2015-08-18 20:38] #2442 closed

[2015-08-18 23:49] scottpurdy opened #2446 "Remove outdated pylint plugin for executable scripts"
Part of #2119

[2015-08-19 01:36] rhyolight opened #2448 "Invalid license string for Pypi in setup.py"

[2015-08-19 01:38] #2446 closed

[2015-08-19 01:40] #2448 closed

[2015-08-19 03:02] wuxianliang commented on #2357
"no match nupic.bindings == 0.10" does not appear when I upgrade to 0.2.7. But it appears when I upgrade to 0.2.8.
[code]

[2015-08-19 16:57] rhyolight commented on #2357
I am aware of this problem and @akhilaananthram and I are working on it today. Thank you for the report.

[2015-08-19 18:56] chetan51 opened #2452 "Change term `predictedColumns` to `predictedActiveColumns` in the TemporalMemory"
If we change `predictedColumns` to `predictedActiveColumns` in the TemporalMemory implementation, everything would become fully consistent:

predictive = something that has become depolarized in the current timestep
predicted = something that became depolarized in the last timestep
(therefore) prevPredictive == predicted

[2015-08-19 22:30] rhyolight opened #2460 "Use latest nupic.bindings version from nupic.core"

[2015-08-19 23:25] #2452 closed

[2015-08-20 10:00] DefinitlyEvil opened #2461 "HTTP 404 when downloading nupic"
It returned 404 when I running:
`pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic/releases/nupic-0.2.10-cp27-none-linux_x86_64.whl`

[2015-08-20 15:20] rhyolight commented on #2461
Try this:

    pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic/releases/nupic-0.2.10-py2-none-any.whl

[2015-08-20 15:25] rhyolight opened #2462 "Update location of NuPIC Linux wheel on S3 in readme"
The file naming pattern for linux wheels we're putting on S3 for every release has somehow changed. It used to be `nupic-X.Y.Z-cp27-none-linux_x86_64.whl`, but has just changed to `nupic-X.Y.Z-cp27-none-any.whl` after recent changes to build pipelines.

I suggest we investigate why this occurred within our pipelines, but for now we need to update the README with `pip` commands that work on Linus.

[2015-08-20 15:25] rhyolight commented on #2462
cc @akhilaananthram

[2015-08-20 15:27] #2461 closed

[2015-08-20 15:27] #2462 closed

[2015-08-20 15:59] DefinitlyEvil commented on #2461
Okay. ;)

[2015-08-20 18:50] #2416 closed

[2015-08-20 20:22] tomsilver opened #2467 "RandomProto capnp import failure in hotgym_regression_test.py"
With latest nupic and nupic.core, when I run $NUPIC/scripts/run_nupic_tests --all --coverage, I get an import error:

[code]

cc @scottpurdy

[2015-08-21 12:21] wishingwei opened #2470 "fail to install the setup.py"
fail to install the setup.py   by    ''python setup.py install''

Here is the wrong message,
SystemError: Cannot compile 'Python.h'. Perhaps you need to install python-dev|python-devel.

But I do successfully install all the dependencies mentioned in the wiki,

[2015-08-21 13:13] rcrowder commented on #2452
@chetan51 Is it worth taking this across to the C++ now? Or wait for other changes first?

[2015-08-21 13:51] wishingwei commented on #2470
python
Python 2.7.6 (default, Jun 22 2015, 17:58:13)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

[2015-08-21 16:25] rhyolight commented on #2470
I have some questions.

1. What flavor / version of Linux are you running?
1. How do you know that python development headers are installed properly? How did you install `python-dev`/`python-devel`?
1. What version of NuPIC are you running? (see the `VERSION` file)

[2015-08-21 16:50] oxtopus opened #2471 "CoordinateEncoderTest.testEncodeRelativePositionsAndRadii test failure"
I'm encountering the following test failure on my mac laptop:

[code]

nupic state:

[code]

nupic.core state:

[code]

[2015-08-21 16:59] rhyolight commented on #2471
@oxtopus This test ran and passed for me locally for head of master.

[2015-08-21 17:07] passiweinberger opened #2473 "Wrong pytest requirement version"
As filed in the mailing list we need the version 2.5.1 but only instal 2.4.2

[2015-08-21 17:08] passiweinberger commented on #2473
#2472

[2015-08-21 17:21] #2399 closed

[2015-08-21 18:08] chetan51 commented on #2452
@rcrowder It can be taken across now, it's a small documentation-related change anyway.

[2015-08-21 18:36] rhyolight commented on #2467
[Here's a similar report](http://lists.numenta.org/pipermail/nupic_lists.numenta.org/2015-August/011538.html). Related to https://github.com/jparyani/pycapnp/issues/62 ?

[2015-08-21 19:29] rcrowder commented on #2452
@chetan51 A minor change for anyone. I've been meaning to see if anything other than orphan decay needs syncing.

[2015-08-21 20:23] #2430 closed

[2015-08-21 20:23] #2426 closed

[2015-08-21 21:28] rhyolight opened #2474 "Remove release deployment to S3 for Linux builds"
Now that all the C++ is moved to `nupic.core`, we are no longer building platform-specific wheels for the `nupic` module. The logic that uploads wheels to S3 for linux platforms can be removed, and the S3 bucket emptied.

Also, the README needs to be updated to reflect this.

[2015-08-21 21:39] #2473 closed

[2015-08-22 00:12] wishingwei commented on #2470
1. Ubuntu 14.04 （64-bit）
2. Just run the  "sudo apt-get install python-dev" , now it tells that the  python-dev is the latest version;
    for the Ubuntu  is  a chinese version, and I will not paste the log here.
3. Nupic version: 0.2.12.dev0

[2015-08-22 00:14] wishingwei commented on #2470
1.Ubuntu 14.04 （64-bit）
2.Just run the "sudo apt-get install python-dev" , now it tells that the python-dev is the latest version;
 for the Ubuntu is a chinese version, and I will not paste the log here.
3.Nupic version: 0.2.12.dev0

[2015-08-22 00:21] wishingwei commented on #2470
1.Ubuntu 14.04.3 LTS \n \l
 2.Just run the "sudo apt-get install python-dev" , now it tells that the python-dev is the latest version;
 for the Ubuntu is a chinese version, and I will not paste the log here.
 3.Nupic version: 0.2.12.dev0

[2015-08-22 04:32] wishingwei commented on #2470
I just made another try, and finally succeed in installation!
Thanks for help ~@rhyolight

[2015-08-22 08:35] #2470 closed

[2015-08-23 17:09] cogmission opened #2478 "Test H10 in TM integration test is invalid"
There is an error in the loop on the second trial which caused the output to have the desired stats. The test fails when the loop is corrected.

Secondly, the setting of "predictedSegmentDecrement" to 0.004 has no effect when the loop is corrected - indicating that there may need to be some algorithm enhancement in order to make the parameter have the desired effect. (Other than lowering the perma

[2015-08-24 14:15] cogmission opened #2479 "TM: Synapse Creation on every permanence adjustment"
Not sure about what is going on with Python but I noticed something that could have tremendous memory pressure and performance impact if I'm right about what I'm seeing...?

In connections.py https://github.com/numenta/nupic/blob/master/nupic/research/connections.py#L194

[code]

Every time the permanence is adjusted on a Synapse, a new SynapseData object is created?

(the line starting with: "new

[2015-08-24 17:35] #2257 closed

[2015-08-24 18:29] oxtopus commented on #2479
The current state of the code is slightly different from what you have quoted:

From https://github.com/numenta/nupic/blob/master/nupic/research/connections.py#L194

[code]

The `SynapseData()` implementation is relatively simple -- just a container for some attrs and a custom `__eq__()` implementation.  The code as it currently is is readable, and I'm guessing that the overhead of creating a new

[2015-08-24 18:31] oxtopus commented on #2479
re:

On that note, it might be worth considering use of `namedtuple`, since we're treating it like an immutable object, and it would have the `__eq__` implementation built-in.

Less code to maintain, with the same performance characteristics.

[2015-08-24 18:37] cogmission commented on #2479
Keep in mind this is called potentially 10 thousand times per TM compute()
cycle ? :-) (Called 700 thousand times in a 100 calls with only 4 cells in
my test)

As you say we should probably profile it.

On Mon, Aug 24, 2015 at 1:29 PM, Austin Marshall <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM

[2015-08-24 18:40] cogmission commented on #2479
I wish I understood Python more so I could be of some use, but this value
is only accessed by one thread so it really doesn't add anything to make it
immutable. And with 32 cells this is going to get called millions of times
per compute() cycle... Especially with a long running process... Everything
is about updating permanences and checking them in this code.... :-)

On Mon, Aug 24, 2015 at 1:32

[2015-08-24 19:09] breznak commented on #2471
yep, I encounter it on linux too

[2015-08-24 20:56] jcasner commented on #2471
From talking to @chetan51 it seems like this may be an issue with Random.cpp not generating values in a deterministic format.  @rhyolight this is impacting @oxtopus on Mac OS X and our Jenkins server (Centos 6.5).  However, neither Chetan nor I can reproduce on our Mac OS X machines.  Both Jenkins and Austin get one set of overlap values and both Chetan and I get a different set (see below).  This

[2015-08-24 20:58] chetan51 commented on #2471
We should try printing the inputs to the `Random` class in `coordinate.py`, and comparing the values on different machines. If the inputs are identical, then we can compare the outputs of `Random` in `coordinate.py`, and thus isolate the issue to the `Random` class.

[2015-08-24 21:24] chetan51 commented on #2479
I agree with @oxtopus's analysis. We can profile it, but I'm not too concerned.

[2015-08-24 21:25] chetan51 commented on #2479
Oops, accidentally closed.

[2015-08-24 21:25] chetan51 commented on #2479
The next step on this issue is to profile the impact of that function. Anyone can do this.

[2015-08-24 21:39] cogmission commented on #2479
:+1: for profiling. It's so weird that this isn't a concern. If I did this in Java, it would be a red herring the size of Cincinnati ! :-) Creating a new object 100's of thousands of times per execution as opposed to merely mutating a permanence setting would be ridiculous in Java. I don't understand why allocating the variable so you can mutate is any worse (and potentially so much better perform

[2015-08-24 21:55] ywcui1990 opened #2480 "Implement negative log-likelihood as an optional error metric"
@chetan51  @subutai
All the existing error metrics consider only the single best prediction from the CLAModel. In scenarios where multiple predictions are possible, it is more appropriate to use the negative log-likelihood as the error metrics. Given the predicted probability of all possible outcomes, likelihood is the predicted probability of the actual outcome. The log-likelihood is an additive

[2015-08-24 22:00] #2340 closed

[2015-08-24 22:07] chetan51 opened #2481 "Improve documentation on predictedSegmentDecrement parameter in TM"
Incorporate Subutai's email in the documentation for TM:

[2015-08-24 22:18] cogmission opened #2483 "Destroy Segment on its Last Synapse Deletion"
Currently the synapses are "culled" when their permanences are decremented below a known setting so that the HTM can adapt to a totally new set of inputs and readjust itself. When the last Synapse is destroyed, the Segment should be deleted also in order to increase performance and memory associated with the obsolete Segment. There are loops which are governed by the number of segments on a cell w

[2015-08-24 22:34] #2481 closed

[2015-08-24 22:47] oxtopus commented on #2479
Consider this example:

[code]

`obj = MutableObject("Foo", "Bar")` translates to the following python byte code:

[code]

Meanwhile, `obj.mutate("FOO", "BAR")`, which mutates the existing instance, translates to this:

[code]

Alternatively, if you were to access the attrs directly and assign values externally (e.g. `obj.foo = "FOO"; obj.bar = "BAR"`):

[code]

Then, compare the bytecode for `Mut

[2015-08-25 01:31] cogmission commented on #2479
Austin, again thank you for going through all of this trouble explaining this to me. I'm not sure its worth it :-P

However I'm still not sure we're comparing the difference between calling a method that **does this inside** - not a comparison between a method call and an object creation?

Effectively comparing this:

[code]

...to this:

[code]

Calling those two methods can't be equivalent and t

[2015-08-25 02:02] oxtopus commented on #2479
To be clear, the equivalent of:

[code]

Would be more like:

[code]

Compared to creating a new instance, that's 3x additional lookup in `self._synapses` that wouldn't happen if you just created a new instance.  Otherwise, the attr lookup for `segment`, `presynapticCell`, `permanence` and assignment are equivalent to `SynapseData.__init__()`.

You don't have to take my word for it, though.  Feel

[2015-08-25 03:23] sato-cloudian opened #2484 "test fails on Ubuntu 12.04 & 14.04.3"
On Ubuntu 14.04.3, unit, integration, and swarming tests fail. Their logs are available [here](https://gist.github.com/sato-cloudian/3f37b39b7cb59a2017bf).

My environment(Ubuntu 14.04.3 Desktop fresh install).

[code]
The following commands were executed for installation. No errors occurred.

[code]

[2015-08-25 03:37] cogmission commented on #2479
I believe you would only need to set the permanence? The segment and presynapticCell reference would only happen the first time it was called. Those don't ever change. A Synapse is always going to be on the same segment, and it's always going to connect to the same presynapticCell. So you only have one lookup. And why is that a "lookup"? Why wouldn't that be a direct dereferencing of an array loca

[2015-08-25 11:37] rcrowder commented on #1786
Need to tidy this up, now that the Core has https://github.com/numenta/nupic.core/issues/553

[2015-08-25 13:53] breznak commented on #2471
Ok, here's my output from an affected machine:
https://gist.github.com/breznak/c266dd48ec093e5a5fd6

Obtained from:
[code]

And I ran only the following tests (deleted the others):
[code]

[2015-08-25 15:31] rhyolight commented on #2470
Great! Thanks for the bug report.

[2015-08-25 15:34] rhyolight commented on #2478
@chetan51 Can you confirm? Should be a quick fix.

[2015-08-25 15:44] cogmission commented on #2478
Actually I spent three days trying to get that setting to lower the predicted inactive columns - it doesn't work! I had to set it to >0.5 to see significant changes in both the Python and Java. This is a value that ranges from 0.0 - 1.0 and where a setting of 0.004 is supposed to make a difference (according to the test and Subutai's explanation)

It doesn't work... It may result in the eventual c

[2015-08-25 16:13] rhyolight commented on #2484
Thanks for the bug report.

The unit test error is:

[code]

Which looks like the error reported in https://github.com/numenta/nupic/issues/2113.

The swarming tests failed because you don't have MySQL running (see https://github.com/numenta/nupic/wiki/Running-Swarms#prerequisites)

And the integration tests seem to be running the swarming tests also, which is why they are failing. I think `-i` ru

[2015-08-25 16:24] rhyolight opened #2485 "Review installation instructions for local builds of nupic.core / nupic"
Make sure they work, are up to date, relevant, etc.

[2015-08-25 16:48] rhyolight commented on #1786
Indeed. I'll take a pass at it today.

[2015-08-25 16:51] rhyolight commented on #2471
We've had some problems since introducing `nupic.bindings` with different errors coming up when some people install from the binary `nupic.bindings` wheel file on pypi. This doesn't happen if you build from source code.

Could be our build methods affecting this? Someone could try to see if there is a difference when building from source vs just running `pip install nupic`.

[2015-08-25 16:53] rhyolight commented on #2478
Oh, sorry. I thought this fix was as easy as changing `_` to `i`.

[2015-08-25 16:58] jcasner commented on #2471
@rhyolight the Jenkins build is using nupic.bindings built from source; it's on Centos so it cannot use the wheel file on pypi.

[2015-08-25 17:08] rhyolight commented on #2471
@jcasner That's actually kindof a relief.

[2015-08-25 17:10] breznak commented on #2471
there is a difference when building from source vs just running pip install
nupic.

I've tried both binary and source, same err.

[2015-08-25 17:18] cogmission commented on #2478
That actually makes the test **do** what it was intended to do - which then
also **breaks** the test and exposes the failure of that parameter to have
the desired effect :-(

On Tue, Aug 25, 2015 at 11:53 AM, Matthew Taylor <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/nu

[2015-08-25 17:36] chetan51 commented on #2478
This was @ywcui1990's test, assigning to him.

[2015-08-25 18:20] ywcui1990 commented on #2478
Sorry about the bug. I will take a look at it.

[2015-08-25 18:22] rhyolight commented on #1888
Closing this, because once `nupic.core` works on Windows, this is trivial.

[2015-08-25 18:22] #1888 closed

[2015-08-25 18:27] rhyolight opened #2488 "Appveyor build configured to download nupic.bindings from S3"
The C++ extension exists in `nupic.bindings`, a pip package that should exist on S3. This can be installed with `pip install <URI to binary file>`.

Depends on https://github.com/numenta/nupic.core/issues/570.

[2015-08-25 18:30] rhyolight commented on #1786
@rcrowder How does this newly organized super issue work?

[2015-08-25 19:23] rhyolight commented on #2081
What's the status of this ticket, @breznak ?

[2015-08-25 20:03] chetan51 commented on #2471
Thanks @breznak. Here is the output from my (unaffected) machine:

https://gist.github.com/chetan51/81a5849081b260c11b24

coordinate_test.py:102: FutureWarning: comparison to `None` will result in an elementwise object comparison in the future.
  newPosition = initPosition if dPosition == None else (
..
----------------------------------------------------------------------
Ran 2 tests in 0.281s

O

[2015-08-25 20:54] jcasner commented on #2264
+1 on the second point especially.  I consider it a pretty serious bug that `run_nupic_tests` exits on the first failure of a test instead of running to completion.  In addition to the documentation issue that exists here, the option to enable `failfast` defaults to true but is set to `store_true`, so there's no way to set it to be false:
https://github.com/numenta/nupic/blob/master/scripts/run_nu

[2015-08-25 20:56] chetan51 opened #2492 "Allow specifying MonitoredTemporalMemory as TM implementation through OPF"
Should be able to set `temporalImp='monitored_tm_py'` through the OPF.

[2015-08-25 21:07] jcasner commented on #2471
@chetan51 @breznak @oxtopus because of part 2 of #2264 there are other tests failing that I wasn't even aware were failing.  Note the failures in TestNupicRandom.  Thanks for catching this @subutai! Full output is available here:

[code]

CC @rhyolight

[2015-08-25 21:24] mihail911 opened #2494 "Implement HyperSearchState Interface"
Implement a module for storing the state of hypersearch runs (abstract class to be subclassed)

[2015-08-25 21:39] subutai commented on #2471
I get almost exactly the same failures. Mine says ```8 failed, 813 passed```

I am using the latest from NuPIC (8b300a82) along with the associated test nupic.core commitish: 57a614d73e6

[2015-08-25 21:45] chetan51 opened #2496 "Make TemporalMemory more readable"
Merge `compute` and `computeFn`, and clean up anything else that might be confusing.

[2015-08-25 22:31] rhyolight commented on #2485
Wait until https://github.com/numenta/nupic/pull/2489 is merged.

[2015-08-25 22:35] chetan51 commented on #2471
@breznak What version of nupic are you running?

[2015-08-25 22:50] rhyolight opened #2499 "Improve Readability of Python algorithms"
This is a super issue for any initiatives that can improve the readability of our HTM implementation in Python (NuPIC).

* * *

- [ ] [Make TemporalMemory more readable](https://github.com/numenta/nupic/issues/2496)

[2015-08-25 22:53] rhyolight commented on #2471
I'm going to re-open until someone tests this.

[2015-08-26 00:11] jcasner commented on #2471
Thanks @rhyolight - this got closed by accident - these tests are definitely still failing

[2015-08-26 00:12] jcasner commented on #2264
Re-opened until the first point is addressed

[2015-08-26 00:53] chetan51 commented on #2471
I think these failures are caused by an issue in nupic's `Random`, especially since its tests are failing (and Coordinate encoder uses it).

[2015-08-26 01:45] sato-cloudian commented on #2484
These are the commands I ran.

[code]

MySQL server was running, but I set my own password for root. By resetting empty, now I was able to move forward. But got another error. Please check the update log on the gist.

[2015-08-26 01:46] david-ragazzi commented on #2496
Is this PR only focused in compute* functions and minor changes? Was OO fully discarded for Connections even proved that it makes the code more readable?

[2015-08-26 05:23] scottpurdy commented on #2467
@rhyolight - I was *finally* able to reproduce locally by doing a regular install of nupic.bindings and nupic (NOT `python setup.py develop`). And the issue then still seems limited to when tests are run under `py.test` (regardless of whether it is in `--boxed` mode). But if I run the file directly then it passes.

[2015-08-26 06:53] breznak commented on #2471
Just retested on latest master of nupic and .core. And I could confirm the

tests/unit/nupic/math/nupic_random_test.py failing.

[2015-08-26 07:34] breznak commented on #2148
Almost solved at last! Did what Matt said, rebuilt capnp from the Readme in nupic.core, all its checks pass, rebuilt all nupic and I don't get stuck anymore! :yellow_heart:
However, the new libs differ from upstream (mine built with clang, not sure if that matters or not):
[code]
What do I do about that now? I don't want to keep out of tree library builds. Or should I send the files to you to veri

[2015-08-26 07:41] breznak commented on #2148
@scottpurdy are the Duplicate ID KjExceptions related to https://github.com/jparyani/pycapnp/issues/62#issuecomment-134833958 ? But I get it with "develop" too.

[2015-08-26 08:32] cogmission commented on #2478
@ywcui1990 No problem, everybody has over sights. I'm mostly concerned about the desired effect of this parameter (predictedSegmentDecrement) not having any linear regulatory effect on the predicted inactive columns count? This is the real problem... Because that's what the test, tests :-)

[2015-08-26 12:05] breznak commented on #2150
@chetan51 I've implemented the caching (cache (input,bitvector output) pairs) with very good results!
I'm wondering if this could be generalized and moved all this logic to `base` encoder, so we could get the gains through all encoders?
Anyway, this issue is addressed by the PR above already.

[2015-08-26 15:31] rhyolight commented on #2264
Just a note, guys... it would have been better to actually break this into two issues, so that #2493 could fix one of them without closing this issue.

[2015-08-26 15:52] rhyolight commented on #2484
Ok, will try to replicate on a VM.

[2015-08-26 16:05] rhyolight commented on #2496
Yes, this PR is only for this one aspect of TM functions.

#1903 is still a valid issue and ready for work, if you want to try it. I'm not sure what the consensus was for the `Layer` class, but I remember that it was dropped from the proposal at some point.

[2015-08-26 16:09] rhyolight opened #2502 "NuPIC build cannot find py_region_test"
As of https://github.com/numenta/nupic/pull/2500, NuPIC builds are failing with the latest `nupic.core`. See https://github.com/numenta/nupic.core/compare/57a614d73e65aa4fa2e7d249185069b519311b09...fc056adc2e7139cc5e9218145e7472b7cca3f1b0 for the complete `nupic.core` diff.

All Travis builds are failing with the same error:

    ./ci/travis/script-run-tests.sh: line 28: /home/travis/build/numenta

[2015-08-26 16:11] rhyolight commented on #2467
What test runner is used when ` $NUPIC/scripts/run_nupic_tests` is run? Isn't that the one we should be concerned about?

[2015-08-26 16:22] scottpurdy commented on #2467
I believe it uses py.test but I validated the issue exists in both py.test and nosetests.

[2015-08-26 16:56] rhyolight commented on #2484
All unit tests pass for me on Ubuntu 12, but I get 4 integration test failures. These need to be investigated. We are having some other problems with our builds right now, and this could be a symptom. I will keep you updated on what we find.

[2015-08-26 16:59] rhyolight opened #2503 "Clean up NuPIC builds and test indiscrepancies"
Even though Travis-CI builds against `master` seem to be passing, we have several problems.

* * *

- [ ] [RandomProto capnp import failure in hotgym_regression_test.py ](https://github.com/numenta/nupic/issues/2467)
- [ ] [Test H10 in TM integration test is invalid](https://github.com/numenta/nupic/issues/2478)
- [ ] [NuPIC build cannot find py_region_test](https://github.com/numenta/nupic/issues

[2015-08-26 17:26] rhyolight opened #2504 "Remove build dependency on darwin64, linux64 repos"
Completely remove all dependencies within our build systems for https://github.com/numenta/nupic-linux64 and https://github.com/numenta/nupic-darwin64

[2015-08-26 17:32] rhyolight opened #2505 "Reduce the Travis-CI log output to < 10,000 lines"
10K is too many lines. We need to update the build to show less stuff, otherwise when we review build logs, we always need to download the raw logs, which are not as pretty and easy to reference.

[2015-08-26 20:24] rhyolight commented on #2503
@scottpurdy @jcasner This super ticket represents all the issues I think are important to get our NuPIC builds back on track. Let me know if you think I've missed any?

[2015-08-26 20:27] breznak opened #2506 "Python 3.x support"
reference for @oxtopus PR: #2377 where he already did lot of work!

- [ ] translation with python `2to3` tool
- [ ] use `python -3` to hint incompatible parts for 2to3

[2015-08-26 20:32] breznak commented on #2506
ups, I've missed https://github.com/numenta/nupic/issues/2378 already

[2015-08-26 21:16] jcasner commented on #2484
I am able to reproduce on Centos 6.5:
[code]

[2015-08-26 23:08] #2478 closed

[2015-08-27 10:19] breznak opened #2509 "Travis CI builds failing"
for example in : https://travis-ci.org/numenta/nupic/jobs/77421268

[2015-08-27 10:27] breznak commented on #2509
@rhyolight see https://github.com/travis-ci/travis-ci/issues/1705 for https://travis-ci.org/numenta/nupic/jobs/77421268#L316

[2015-08-27 11:12] breznak commented on #2504
are those repos abandoned then, or still useful? Maybe we could keep some exotic instead - like solaris, arm*, linux32,.. which need some tweaking on the user's side. And then remove their includes/dependencies from `external/`

[2015-08-27 19:12] #2438 closed

[2015-08-27 19:13] #2492 closed

[2015-08-27 20:19] rhyolight opened #2511 "Switch to capnp absolute imports to match nupic.core changes"
Re https://github.com/numenta/nupic.core/issues/578

[2015-08-27 20:23] #2505 closed

[2015-08-27 20:23] #2509 closed

[2015-08-27 20:30] rcrowder commented on #2506
@breznak No, this issue is good. And ties in with https://github.com/numenta/nupic.core/issues/567 where this work is due to occur first.

[2015-08-27 23:10] #2496 closed

[2015-08-28 00:30] cogmission opened #2512 "TemporalMemory "predictedSegmentDecrement" Documentation"
@rhyolight @chetan51 @subutai @scottpurdy

The documentation of "predictedSegmentDecrement" on line:
https://github.com/numenta/nupic/blob/master/nupic/research/temporal_memory.py#L68

...must be changed to reflect new findings by @ywcui1990 regarding the magnitude of the setting. "0.0004" at 2% of the column-level sparsity was found to be ineffective...

[code]

Should be changed.

Please see: ht

[2015-08-28 03:03] breznak commented on #2148
Closing as the capnp rebuild magically fixed that.

[2015-08-28 03:03] #2148 closed

[2015-08-28 03:54] breznak commented on #2264
Addressing the timeout feature:
I thought the unittests use `pytest` ? but the timeout plugin I found does not seem to work. Please review my code: https://github.com/numenta/nupic/compare/numenta:master...breznak:unittest_timeout?expand=1
pytest-timeout: https://pypi.python.org/pypi/pytest-timeout/0.5

[2015-08-28 15:52] rhyolight commented on #2504
We are still using them in Travis-CI, but I believe they cause too much confusion amongst people trying to install. It is easier to just define the system requirements and make people figure out how to install them.

I agree that it makes sense to maintain repos like these for more exotic environments like linux32 and solaris.

[2015-08-28 16:05] rhyolight commented on #2512
Good catch, @cogmission. @ywcui1990 can you do this?

[2015-08-28 16:11] cogmission commented on #2512
@rhyolight @subutai @ywcui1990 Possibly not just change the numbers to make it work but resolve the differences in the theory behind why @subutai proposed this formula for estimating this setting?

[2015-08-28 16:29] subutai commented on #2512
OK. Please see my comment in #2507. That particular piece of code in #2507 is a small unit test designed to test something specific and test it quickly. It should not dictate our defaults.

I just spoke with @ywcui1990 and we agreed on the overall logic as stated in the existing comment above. He will reply with more details.

[2015-08-28 17:23] ywcui1990 commented on #2512
@cogmission As Subutai said, the parameter I used in #2507 is specific to that unit test.  In fact, the DEFAULT_TM_PARAMS in extensive_temporal_memory_test.py is quite different from the default parameter of TM.
![image](https://cloud.githubusercontent.com/assets/5067931/9552189/06cbe922-4d6b-11e5-9e8b-2a84a52c08e6.png)

There are several notable differences
initialPermanence is set larger than co

[2015-08-28 17:39] cogmission commented on #2512
Awesome explanation! Thanks!

(all is right with @cogmission's world again) :-)  :+1:

[2015-08-28 17:56] rhyolight commented on #2512
Thanks, everyone.

[2015-08-28 18:27] oxtopus opened #2516 "Random tests differ between nupic and nupic.core"
Compare https://github.com/numenta/nupic/blob/master/tests/unit/nupic/math/nupic_random_test.py#L76-L77 to https://github.com/numenta/nupic.core/blob/master/src/test/unit/utils/RandomTest.cpp#L378-L379

The two tests use the same seed, but assert on different results.  This is causing tests to fail on my machine.

[code]

[2015-08-28 18:57] oxtopus opened #2517 "Travis-CI not properly testing specified nupic.core version"
See https://travis-ci.org/numenta/nupic/builds/77699965, which was green.  The PR for which updates nupic.core commit to "e6bf5fd85d955ba9500ced8b011d1416856c2894" (see https://github.com/numenta/nupic/compare/core-update-e6bf5fd85d955ba9500ced8b011d1416856c2894).  However, the nupic installation downloads and installs an older version of nupic.core -- 57a614d73e65aa4fa2e7d249185069b519311b09 in t

[2015-08-28 19:00] scottpurdy commented on #2517
This should be addressed by #2489 by using the `--no-index` option when installing nupic.bindings. So the build will fail rather than fall back to PyPI.

[2015-08-28 23:19] chetan51 commented on #2150
@breznak Great! If you can make it a generalized decorator, then we can reuse it across encoders.

[2015-08-31 06:32] wuxianliang opened #2520 "Can issues of installation on OS X be fixed recently?"
I have read the passed issues. I have installed nupic.core from Github and
[code]
It still report
[code]
[code]

If I change to install nupic from Gtihub, then it report
[code]

Can you feel my pain?

[2015-08-31 16:37] #2511 closed

[2015-08-31 16:37] #2516 closed

[2015-08-31 16:37] #2517 closed

[2015-08-31 16:48] scottpurdy commented on #2484
Duplicates #2113

[2015-08-31 16:48] #2484 closed

[2015-08-31 19:01] rhyolight opened #2522 "Add Anaconda support"
This means:

- [ ] Create a conda recipe http://conda.pydata.org/docs/building/recipe.html
- [ ] Manually deploy conda package(s) for future CI builds
- [ ] Create Travis-CI build option for Anaconda for OS X
- [ ] Create Travis-CI build option for Anaconda for Linux
- [ ] Update builds to deploy on release to anaconda.com

[2015-08-31 20:41] rhyolight opened #2523 "Make it clear in the README that we do not support Anaconda out of the box"

[2015-08-31 20:44] rhyolight opened #2525 "NuPIC Docker container doesn't include MySQL"
We should include mysql so users can swarm. The container should have all the dependencies necessary to run all aspects of NuPIC.

[2015-08-31 20:44] rhyolight commented on #2525
cc @oxtopus @allanino

[2015-08-31 20:57] #2480 closed

[2015-08-31 21:07] oxtopus commented on #2525
I disagree.  The official mysql images on the docker hub (https://hub.docker.com/_/mysql/) are quite nice, well documented, and easy to bring online.  Meanwhile, bundling a mysql server into nupic a nupic image violates the convention of single-responsibility per-container and would add significant overhead to support a feature that is rarely used.

I'd rather do one, or both of the following:

1.

[2015-08-31 21:29] oxtopus commented on #2523
Why not? :confused:

[2015-08-31 21:33] oxtopus opened #2527 "Instructions for running a swarm with Docker"
The stock nupic Dockerfile and official nupic image at https://hub.docker.com/r/numenta/nupic/ does not include mysql and will not run a swarm as-is.  However, the official mysql image should be suitable for running a swarm in docker containers in conjunction with the official nupic image.  Please include some documentation with an example for configuring a running container to use a separate mysq

[2015-08-31 21:34] oxtopus opened #2528 "Add separate Dockerfile to support swarming"
This would be similar in spirit to the official rabbitmq images in which you can specify "-management" suffix to the image tag that enables the management console for the given version (see https://github.com/docker-library/rabbitmq/blob/bb91e64b5664a4ab5cd681b7501a2830edbe9ddf/management/Dockerfile and https://hub.docker.com/_/rabbitmq/ for details). In our case, we'd add a new Dockerfile that bu

[2015-08-31 21:35] oxtopus commented on #2525
Closing in favor of #2527 and #2528

[2015-08-31 21:35] #2525 closed

[2015-08-31 21:40] scottpurdy commented on #2467
This looks specific to relative imports. Closing this and tracking duplicate id issue in #2113

[2015-08-31 21:49] jcasner commented on #2523
:-1:

[2015-08-31 21:51] jcasner commented on #2522
I would argue that we don't need to be able to run `conda install nupic` to be able to claim support for anaconda.  Those are nice to haves, not critical features.

[2015-08-31 21:53] rhyolight commented on #2522
Fair enough. Instead of this:

- [ ] Create a conda recipe http://conda.pydata.org/docs/building/recipe.html
- [ ] Manually deploy conda package(s) for future CI builds
- [ ] Update builds to deploy on release to anaconda.com

I've updated to this:

- [ ] Update wiki with instructions for Anaconda setup

[2015-08-31 21:54] rhyolight opened #2529 "Update wiki with instructions for Anaconda setup"
Create a new wiki at https://github.com/numenta/nupic/wiki/Anaconda that explains what we do on CentOS to set up Anaconda python.

[2015-08-31 21:55] rhyolight commented on #2529
@jcasner I've assigned this to @unixorn.

[2015-08-31 22:18] rhyolight commented on #2523
Replaced by https://github.com/numenta/nupic/issues/2529

[2015-08-31 22:18] #2523 closed

[2015-08-31 22:41] oxtopus commented on #2527
@rhyolight I'm going to work on a proper writeup and maybe an instructional video, but the following comprises the necessary steps:

### Run MySQL container:

[code]

### Run nupic container

[code]

### Run a swarm

From inside the container, execute the following command to verify that it works:

[code]

[2015-09-01 00:46] oxtopus commented on #2527
See detailed instructions at https://github.com/numenta/nupic/wiki/Running-Swarms#running-a-swarm-with-docker

[2015-09-01 00:46] #2527 closed

[2015-09-01 08:08] rcrowder commented on #2522
Bear in mind that packages such as Anaconda (http://docs.continuum.io/anaconda/pkg-docs) currently bundle up-to Python 3.4. We require 3.5 for the NuPIC C++ extensions. Fingers crossed  Continuum add 3.5 support in the next few months.
Once we have 3.5 support, we could try 3.4. It would require all of NuPIC core and external libraries to be rebuilt specially (Z, Apr, etc.). Something I'm doing fo

[2015-09-01 16:43] rhyolight commented on #2527
:clap:

[2015-09-01 16:45] rhyolight commented on #2528
cc @allanino

[2015-09-01 17:24] rhyolight commented on #2520
@wuxianliang Sorry, but we are experiencing some problems with the 0.2.12 build. See http://lists.numenta.org/pipermail/nupic_lists.numenta.org/2015-August/011562.html for context.

Also, if you are using OS X, you should not be using the `https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic/30f23b47197ab8bfd6fcba27c7b4d72a2ad0ca57/nupic-0.2.12.dev0-py2-none-any.whl` path to inst

[2015-09-01 18:23] allanino commented on #2528
Hey @rhyolight, I agree with the creation of a new image for this and I can even give this a try. I'll have some free time by tomorrow.

[2015-09-01 18:35] rhyolight commented on #2528
That sounds great, @allanino. Much appreciated.

[2015-09-02 02:26] wuxianliang commented on #2520
@rhyolight  There is another person http://autovimana.com/ who paid on upwork.com to solve this problem. I leaned from him that "reinstall OS X" works. Yes, I have reinstalled. It works!
It seems that we have to keep system python unchanged to install nupic.
There are duplicate issues on installation, so I close this one.  Thank you for response.

[2015-09-02 02:26] #2520 closed

[2015-09-02 08:38] breznak opened #2536 "stricter API through interfaces"
Discuss on: http://lists.numenta.org/pipermail/nupic-hackers_lists.numenta.org/2015-September/004179.html

Goal: create interfaces for common functionality, thus enforcing same "API" calls (method name, params) and allow inheritance and polymorphism be used in code.

TODO: ongoing effort, please help suggest places where this could be used.

Issues:
- [ ] here

[2015-09-02 08:51] breznak opened #2537 "Interface for learnable code"
See parent: #2536

All classes that have a `learn` boolean should inherit from this.

Provided calls:

[code]

Use-case: reduce code duplication, nicer :), programmatically decide which code is "static"=non-learnig:
`if (not isinstance(A, Learnable)) or A.getDisabled(): doCaching()` , see https://github.com/numenta/nupic/pull/2501#issuecomment-136973745

Classes in question: some encoders (Adaptiv

[2015-09-02 09:17] breznak commented on #2536
Some thought on `multiple inheritance`: https://stackoverflow.com/questions/3277367/how-does-pythons-super-work-with-multiple-inheritance
We should be fine, just keep the interfaces distinguishable by arguments.

[2015-09-02 09:19] breznak opened #2538 "Serializable interface/abstract class"
Functionality: common logic for serialization, will hold the includes, allow easily override serialization for the whole project (eg turn it off for some fork of nupic,...)

API:

[code]

Classes: all that support, or should, serialization. Example: `MyClass: super(MyClass, self).__init__(type='off')`

[2015-09-02 09:57] breznak opened #2539 "Compute interface"
Functionality: unify all that process bottom-up input (`compute()`, `encode()`), allow to change type of buffers passed around, in future place to handle multi-threading

Classes: Encoder, SP, TP, TM, Anomaly, ..?

API:
[code]

Idea 2: computable for only stackable (can be interchanged) objects, input & output is a SDR, improve compute type
[code]

[2015-09-02 10:39] breznak opened #2540 "Better documentation for Coordinate encoder - radius and SDRs"
I'd like to know better documentation of `radius` param in CoordinateEncoder,
https://github.com/numenta/nupic/blob/master/nupic/encoders/coordinate.py#L104
esp. its relation to "similarity/overlap" and performance, see

from https://github.com/numenta/nupic/pull/2501#issuecomment-136948362

The other thing is its "SDR" output - what is the quality of such a SDR? The theory says it's possible to m

[2015-09-02 10:40] breznak commented on #2540
CC @rhyolight @chetan51

[2015-09-02 11:28] breznak commented on #2081
@rhyolight I don't have much time to look at it now, will try to review it.

[2015-09-02 11:30] breznak commented on #1903
what is the status of this? I'd like to see the change for "python-only" Nupic.

[2015-09-02 15:49] rhyolight commented on #2536
@scottpurdy Please confirm this approach is acceptable.

[2015-09-02 15:52] rhyolight commented on #1903
@breznak said:

@scottpurdy said _"I suppose first step is to benchmark the impacted SP functions so see what the difference is and we can go from there. I'd like to review the performance benchmarks."_ So I suppose that is the first work to be done?

I don't think anyone has actually started working on this yet.

[2015-09-02 15:54] cogmission commented on #2536
Encodable?

[2015-09-02 15:57] breznak commented on #2536
I'd like to squeeze that in `Computable`: https://github.com/numenta/nupic/issues/2539

[2015-09-02 16:11] scottpurdy commented on #2538
This would be different for the current/old serialization and the new capnp serialization. It could actually be really nice for capnp serialization with the following:

[code]

And the base class could provide `readFromFile` and `writeToFile` to avoid code duplication.

The current serialization is a little more complicated. In Python it would need `__getstate__`, `__setstate__`, `serializeExtraDa

[2015-09-02 16:13] scottpurdy commented on #2536
@breznak - In the sub-issues please include the proposed class name for the interface class.

[2015-09-02 16:20] cogmission commented on #2536
I thought that too. Are the return types and method signatures to be uniform amongst interface methods? This is why I considered Encodable over Computable - where Encodables return SDRs, and Computables return "Inferences or inference constructs"? Just a thought...

[2015-09-02 16:20] breznak commented on #2536
interface class.

ok, I'd call them like the links here suggest - `<functionality>-able`, so
we can write `class SpatialPooler(Computable, Learnable, Serializable): `,
I;m not too keen on the names though, if there's a better python
convention.

[2015-09-02 16:34] breznak commented on #2539
(@cogmission let's move the discussion here)

I think they should, but let's see how much ground we can cover with it.

In my example I call "Encodables+Computables' "="Computables (any input, any output)" and what produces a SDR is (strict signatures) `StackableComputable`

I did not consider a special case for Inferences etc, could they be controlled only over a setter/getter for "mode"? Like `o

[2015-09-02 16:47] scottpurdy commented on #2537
@subutai - What are your thoughts on this interface? Should it include `resetLearning()`?

[2015-09-02 16:50] breznak commented on #2537
Another question, should we use binary `getLearning() and
getDisabledLearning()`, or trinary `getLearning() # On/Off,Pruned` ?

[2015-09-02 16:52] cogmission commented on #2539
I'm thinking if we employ stronger typing such as returning Inference objects instead of Tuples or returning Encodings instead if Tuples, we can have more uniform interfaces for algorithm types?

Sent from my iPhone

[2015-09-02 17:03] cogmission commented on #2539
As discussed here: [1]

If we have the major methods return values as opposed to the "C" style of
passing in a data structure to populate, we can return uniform Objects
instead of complex Tuples that vary widely according the methods being
called.

I think Scott also suggested a link [2] which discusses some of this [3]

1.
http://lists.numenta.org/pipermail/nupic-hackers_lists.numenta.org/2015-Au

[2015-09-02 17:05] cogmission commented on #2539
Also this style of treatment will be more enforceable across different
languages...

On Wed, Sep 2, 2015 at 12:03 PM, cogmission (David Ray) <
cognitionmission@gmail.com> wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/numenta/htm.java>

d.ray@cortical.io
http://cortical.io

[2015-09-02 17:50] oxtopus opened #2542 "Fixup assert usage in SpatialPooler"
`assert` is used in SpatialPooler constructor to validate user input.  `assert`'s are ignored when python interpreter is invoked with `-O` argument.  Meanwhile, it's generally bad practice to use `assert` for user input.  Instead, `assert` should be used to validate internal contracts to indicate that the code did something unexpected, independent of user input.

[2015-09-02 18:08] breznak opened #2543 "binary install fails: export NUPIC_CORE_RELEASE"
`pip install nupic` on ubuntu is failing:

[code]

* Exception: Must provide path to nupic core release. export NUPIC_CORE_RELEASE=<path>
* also, I had to manually pip install numpy (nupic.bindings did not pull it in)

[2015-09-02 18:47] scottpurdy commented on #2537
`getLearning()` should definitely be binary

[2015-09-02 18:49] rhyolight commented on #2537
YES

[2015-09-02 18:50] breznak commented on #2053
@rhyolight I've just setup a Windows (Server 2012) instance on GCE for debugging the Win install, I can share keys with some users if you need.

[2015-09-02 19:04] allanino commented on #2528
I already have a working image!

The question is: where to put the Dockerfile?

I think the cleaner solution is to create it's own repository and use Docker Hub "Repository Links" feature to trigger its building on updates from `numenta/nupic`. Otherwise we would have to put it somewhere in `numenta/nupic`.

[2015-09-02 20:21] #2542 closed

[2015-09-02 20:36] subutai commented on #2537
What would this function do? Is this something to be called when a reset signal is encountered?

[2015-09-02 20:39] scottpurdy commented on #2537
@subutai - yes, but I don't know if that has a consistent meaning so perhaps should be left out.

[2015-09-02 20:43] subutai commented on #2537
OK that makes sense. I think most of our algorithms would derive meaning from reset.

About the interface proposal in general:

Should these just be incorporated into a generic algorithms base class? Are there any algorithms that do not have a learn parameter? It seems like just about all of ours do.

I wouldn't apply this to Regions right now. Regions have their own conventions. Let's just stick

[2015-09-02 20:52] breznak commented on #2537
Are there any algorithms that do not have a learn parameter? It seems like
just about all of ours do.

For example some encoders (Scalar,..), Anomaly class (but not
AnomalyLikelihood),...

[2015-09-02 21:15] chetan51 commented on #2540
Details on how the encoder works: https://www.youtube.com/watch?v=KxxHo-FtKRo

[2015-09-02 23:45] breznak commented on #2537
:+1:

Also, should this imply removal of the learn flag from respective methods and using setLearn() only?

[2015-09-03 11:36] RDaneelOlivav opened #2545 "fieldType List Not supported in swarming?"
Are lists still not supported?
Does anyone know a workaround?

[code]

Is this wrong in a .json file?

[2015-09-03 19:09] chetan51 opened #2546 "Restore Connections parameter to every function in temporal memory"
It was removed in commit fefc9916e854a1d13ede712384ee1dd93110180a to simplify the TM code, but it is needed if we want to have multiple types of dendrites, like we do in nupic.research's GeneralTemporalMemory. This keeps the code flexible and functional, so it's worth the slight readability hit.

[2015-09-03 19:14] cogmission commented on #2546
Super Magnificent Ultra Fantastic Plus One! :-)

:+1:

On Thu, Sep 3, 2015 at 2:09 PM, Chetan Surpur <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/numenta/htm.java>

d.ray@cortical.io
http://cortical.io

[2015-09-03 20:01] subutai commented on #2537
Ah that actually brings up an issue with this proposal. We don't have a stored learn flag in many of our algorithms. Instead it is just passed into compute, and can change arbitrary from call to call. This is true for SP, TP, etc.  This proposal would change that and add a learn state that is stored with each instance.

[2015-09-03 20:08] cogmission commented on #2537
Seems a stored state could limit flexibility?

On Thu, Sep 3, 2015 at 3:01 PM, Subutai Ahmad <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/numenta/htm.java>

d.ray@cortical.io
http://cortical.io

[2015-09-03 20:16] subutai opened #2548 "Change hello_tp.py to use temporal_memory.py"
The file `examples/tp/hello_tp.py` is for newbies who want to learn about temporal memory. It currently uses `TP10X2`. This issue is to port the file over to use the newer and easier to understand TemporalMemory.  The language in the file should also be updated to use the term "Temporal Memory" as it still refers to the older terminology "temporal pooler".

Specifically:

* Change name of file to

[2015-09-03 20:23] subutai opened #2549 "Get rid of old experiments from examples directory"
There are a bunch of very confusing directories in `examples/opf/experiments` and `prediction/experiments`. They use old style OPF experiment running, are not well documented, and are pretty confusing. However some of them are still used in valid tests.

This issue is to move these experiment directories out of examples into a test-specific directory (maybe `tests/integration/nupic/data`?). We can

[2015-09-03 20:38] rhyolight commented on #2053
@breznak Wow, thanks. Perhaps @rcrowder, @scottpurdy, or @oxtopus are interested in the keys?

[2015-09-03 20:49] rhyolight commented on #2538
On Wed, Sep 2, 2015 at 9:11 AM, Scott Purdy <notifications@github.com>
wrote:

Agreed.

[2015-09-03 20:50] rhyolight commented on #2543
I just released late last night. Can you try again now?

[2015-09-03 23:57] #2546 closed

[2015-09-04 11:20] breznak commented on #2537
stored learn flag in many of our algorithms. Instead it is just passed into
compute, and can change arbitrary from call to call. This is true for SP,
TP, etc. This proposal would change that and add a learn state that is
stored with each instance.

That is true, but I don't feel storing the learn state would be wrong - if
you wanted learning on/off, you'd expect to have the same after a load from

[2015-09-04 11:38] cogmission commented on #2537
Have we pretty much decided that all algorithms will contain state? I know I've been arguing against this because I view the algorithms like a mutator method that operates on some data and returns a result, and thus the same instance can be used (simultaneously) by different threads and different HTM structures.

[2015-09-04 11:55] breznak commented on #2537
Do you advocate for functional programming? I wouldn't mind but all (but
TM) algs include state, so we are pretty far from it.

[2015-09-04 12:09] cogmission commented on #2537
Deciding to go functional is a pretty big step. Putting big steps in front of us might serve to nullify our forward momentum - so I don't really have an opinion right now about that.

I was mostly concerned with the direction any publicly declared interfaces would be heading in. Right now, I agree with what you said about being able to accomplish the same thing with set/get as having a boolean "is

[2015-09-04 12:51] breznak commented on #2053
Invitation sent, mail me for logins if you want.

[2015-09-04 17:31] rhyolight commented on #1479
@scottpurdy ping

[2015-09-04 17:46] rhyolight commented on #2357
@brahmbhattspandan @wuxianliang @tomoprime Yesterday we released [NuPIC 0.3.0](https://github.com/numenta/nupic/releases/tag/0.3.0), which hopefully fixed these installation problems. Please try the following for a binary installation on OS X:

    pip install nupic

And this for Linux:

    pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic.core/releases/nupic.bind

[2015-09-04 17:49] scottpurdy commented on #1479
@rhyolight What is the action item for me?

[2015-09-04 17:55] rhyolight opened #2551 "README is missing nupic.bindings installation step for Linux"

[2015-09-04 18:09] subutai commented on #2537
True.  I don't have a strong point of view - just wanted to mention that difference.

That would be the smaller change and has less impact, but I am also ok with your proposal.

[2015-09-04 18:10] subutai commented on #2537
I think that is still an open discussion. Currently they do contain state and this proposal would not change that either way. So I think the "should algorithms contain state?" discussion is out of scope for this issue.

[2015-09-04 18:10] rhyolight commented on #1863
Now that some of the build changes have settled, I would really like to readdress this issue. It is the only issue keeping https://github.com/numenta/nupic/issues/1862 from being closed.

[2015-09-04 18:23] rhyolight commented on #2502
Seems to be fixed.

[2015-09-04 18:23] #2502 closed

[2015-09-04 18:24] rhyolight commented on #2504
I think I can update the Travis-CI builds myself...

[2015-09-04 18:31] #2551 closed

[2015-09-04 18:38] rhyolight commented on #1479
@scottpurdy Remove the AdaptiveScalarEncoder? I figured you weren't done, since you assigned to yourself and did all but one task.

[2015-09-04 19:37] scottpurdy commented on #1479
@rhyolight Right, yes that is still remaining. I'll want to check with people to make sure the alternatives are sufficient. Not a priority right now.

[2015-09-04 20:28] rhyolight commented on #2522
No, this is an issue across operating systems. I've received bug reports about Anaconda intermittently for the past two years. Perhaps all we need to do is prove it works in CI for OS X and Linux for now.

[2015-09-04 20:30] rhyolight opened #2553 "Create Travis-CI build option for Anaconda for OS X"
http://conda.pydata.org/docs/travis.html

[2015-09-04 20:30] rhyolight opened #2554 "Create Travis-CI build option for Anaconda for Linux"

[2015-09-04 21:36] #2460 closed

[2015-09-05 05:10] passiweinberger commented on #2554
I am running nupic on Anaconda (Ubuntu  14.04 LTS) and did the normal compilation. It all worked for me. I cannot talk about the pip install but I'll give it a try if it helps.
I think if the path variables are set up properly an anaconda python shouldn't behave much differnently to a 'normal' one..
I can reinstall and share the console outp if it helps? :)

[2015-09-05 06:19] rcrowder commented on #2053
Ah-ha I was wondering what this invite was :) I've been relocating away
from London over the last few days. Last week I activated my year trial
with AWS. Interested to see this develop and help out, and if required open
up my new aws account too?
Good job Mark, invitation has been accepted.

On Fri, Sep 4, 2015 at 1:51 PM, breznak <notifications@github.com> wrote:

[2015-09-05 13:23] bkremnev commented on #740
It's 2015 and vagrant method still not working. Whats up with that? Was this project abandoned?

[2015-09-05 14:38] rhyolight commented on #740
Sorry, but we diverted support from vagrant to docker. https://github.com/numenta/nupic/wiki/Install-NuPIC-using-Docker

[2015-09-05 14:47] cogmission commented on #2537
Though consideration of the direction we're headed regarding state could bear upon the decision regarding method signatures? If we're pulling state out then keeping the learn Boolean in the signature makes more sense because we won't have set/get methods for it?

[2015-09-05 16:17] bkremnev commented on #740
Thanks for quick replay. I was able to install NuPIC using docker but I suggest you to remove information  about vagrant method so people like me won't waste time on it.

[2015-09-05 17:12] rhyolight commented on #740
Good point, thanks.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Sat, Sep 5, 2015 at 9:17 AM, bkremnev <notifications@github.com> wrote:

[2015-09-05 17:15] rhyolight commented on #740
https://github.com/numenta/nupic/wiki/Running-Nupic-in-a-Virtual-Machine/_compare/4e0ba7f7b261bdfa808d9a89a352386bc5bf5487...494170d5c7068fb223fcf9a6c998af09eca1ea3d

[2015-09-05 17:15] #740 closed

[2015-09-05 18:18] earthgecko commented on #1734
Just thought I would update this with some additional info, earlier today I installed via pip fine on Ubuntu 14.04 LTS

[code]

[code]

However with Ubuntu 12.04 LTS the same fails, the all the deps c++, python-devel and python-setuptools are available (both machines have the same puppet build, just different OS versions

[code]

The failure is:

[code]

[2015-09-05 19:21] scottpurdy commented on #2537
Thinking about his a bit more I am inclined to leave learning as a compute parameter. If we don't need to store state then we shouldn't. If we go that route then we don't need this interface, right? Seems simpler.

[2015-09-05 21:01] rhyolight commented on #1734
You are installing an on version. We just released 0.3.0 a couple days ago. You should be able to install on Linux with these two lines:

pip install https://s3-us-west-2.amazonaws.com/artifacts.numenta.org/numenta/nupic.core/releases/nupic.bindings/nupic.bindings-0.1.5-cp27-none-linux_x86_64.whl

pip install nupic

Sent from my MegaPhone

[2015-09-06 12:58] earthgecko commented on #1734
Thanks Matthew - although I did not win there were on Ubuntu 12.04 as there were a number of failure vectors, pip version, gcc-4.8 issues around pycapnp.

I bit the bullet and did an upgrade to Ubuntu 14.04.3 and 0.3.0 as above worked, with one caveat, required ```sudo -H ``` on the pip nupic.bindings command on my set up.  So the upgrade resolved all the 12.04 issues, after all if you cannot inst

[2015-09-08 05:10] rhyolight opened #2555 "nupic.__version__ missing"
The imported `nupic` module in python used to have a `__version__` attribute. This was assumed to be a part of the public API, so `nupic.studio` depends on it. At some point in the last few months, this attribute has gone missing.

[code]

Because of `module 'nupic' from '/Users/mtaylor/Library/Python/2.7/lib/python/site-packages/nupic.bindings-0.1.5-py2.7-macosx-10.9-intel.egg/nupic/__init__.pyc'

[2015-09-08 06:39] passiweinberger commented on #2555
https://github.com/numenta/nupic/blob/master/setup.py#L34
the version file exsists. Hm :/

Only as of: http://stackoverflow.com/a/7071358
We may change that procedure? But the poposed rexeg way is more expensive so hm :$

[2015-09-08 14:45] scottpurdy opened #2556 "Fix Duplicate ID issues"
This is a super issue to track the various pycapnp Duplicate ID exceptions.

Here are the known causes:

- Executing code while in the root of the repo can cause imports of the local source files rather than the installed files.

Next step is is re-enable pycapnp and address any instances of the duplicate id exception. Hopefully we can identify a cause behind each of the cases reported below.

Her

[2015-09-08 14:53] scottpurdy commented on #2555
@rhyolight - This was an intentional change. The issue is that `nupic` is a namespace package so we can't put anything in `nupic/__init__.py`. @oxtopus - Do you know any way around this?

[2015-09-08 15:03] oxtopus commented on #2555
:-1:

There is no official API for tracking versions, and if `nupic.__version__` is/was part of any official public API, it's not documented anywhere.  A better, and arguably more correct, way to track versions is using the native setuptools utilities, defining the version in the call to `setup()` (see https://github.com/numenta/nupic/blob/master/setup.py#L73).  This is the mechanism used by `pip`

[2015-09-08 15:43] rhyolight commented on #2555
Thanks for jumping on this, guys. You've convinced me this was not a P1 bug.

[2015-09-08 15:43] #2555 closed

[2015-09-08 16:35] rhyolight commented on #2545
@scottpurdy I'm not familiar with the list input type. What is your input on this?

[2015-09-08 16:43] rhyolight commented on #1734
Great, although hopefully instead of using `sudo` you can use the `--user` option with pip to install in a non-system location?

[2015-09-08 16:55] scottpurdy commented on #2545
The list type was a recent addition. It is implemented specifically for category fields. These are used by the classifier and not included in the encoded representation. I could see this being extended for inclusion in encodings. Someone could revert this PR and clean up the code to work with the list type:

https://github.com/numenta/nupic/pull/1481

[2015-09-08 21:13] chetan51 commented on #2556
@scottpurdy How do we re-enable pycapnp?

[2015-09-08 21:26] scottpurdy commented on #2556
@chetan just install it (0.5.5 was last version we used). The imports in nupic catch ImportError when attempting to `import capnp`

[2015-09-08 21:28] chetan51 commented on #2556
You mean locally? I thought when you said "re-enable pycapnp" you meant in our continuous testing system.

[2015-09-08 21:35] scottpurdy commented on #2556
Well for CI like travis you'd put it in the requirements.txt for nupic. We need to look at the various duplicate id reports and see if we can reproduce any before merging pycapnp back in.

[2015-09-11 03:36] rhyolight commented on #2554
@passiweinberger Do you want to try adding a new Anaconda element to the build matrix?

- http://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix
- http://conda.pydata.org/docs/travis.html

You could test it al out in your PR. Travis-CI runs against every pull request.

[2015-09-11 03:39] rhyolight commented on #2537
Ok, who's got the ball on this issue? I think we're ready to assign it and start work?

[2015-09-11 04:34] rhyolight commented on #2545
@RDaneelOlivav Before we create a ticket for new work to add back a VectorEncoder, I want to make sure it will solve your problem. Can you describe the data you are trying to use with NuPIC?

[2015-09-11 07:13] passiweinberger commented on #2554
If it's not too urgent I will :)
Just very busy atm so can take some time till I get to do it...?

[2015-09-11 14:30] rhyolight commented on #2554
No problem, it is not urgent.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Fri, Sep 11, 2015 at 12:13 AM, Pascal Weinberger <
notifications@github.com> wrote:

[2015-09-11 23:51] scottpurdy opened #2560 "Remove PCANode"
It isn't used anywhere and doesn't have any working tests.

[2015-09-12 01:11] #2560 closed

[2015-09-13 10:27] viveklife2003 opened #2563 "Failing database connection for ~/examples/swarm/test_db.py"
Hi,

I am new to nupic. Just installed nupic on my mac.

Before cloning, i have created folder called "nupic" in my user folder and then cloned nupic source code from github. So cloning created another "nupic" folder under my "nupic" folder.

Hence i have set set environment variable $NUPIC as /users/username/nupic/nupic.

I am able to import nupic successfully but unable to run below two commands

[2015-09-13 11:21] cogmission commented on #2563
Try using the outer NuPIC dir?

[2015-09-13 12:21] viveklife2003 commented on #2563
No it is still not working. Getting same error.

[2015-09-13 12:22] viveklife2003 commented on #2563
I have already tried and it is still not working.

Sent from my iPhone

[2015-09-13 12:25] loretoparisi commented on #2543
I have tried to install nupic and I have the same issue on the latest package

[code]

[2015-09-13 14:06] rhyolight commented on #2563
What was the output when you ran "python setup.py install"?

Sent from my MegaPhone

[2015-09-13 14:09] rhyolight commented on #2543
I don't understand how this could be happening unless you still have an old version of NuPIC bindings installed on your system. Can you try running the uninstall command several times ?

[2015-09-13 17:26] codedhard commented on #2543
tar zxf nupic.bindings-0.1.5.tar.gz
cd nupic.bindings-0.1.5
sudo python setup.py install

Then try installing nupic.

[2015-09-13 19:45] viveklife2003 commented on #2563
i ran again below commands

cd $NUPIC
python setup.py install

and hot below results.

Using /usr/local/lib/python2.7/site-packages
Finished processing dependencies for nupic==0.3.1.dev0

Using /usr/local/lib/python2.7/site-packages
Finished processing dependencies for nupic==0.3.1.dev0

[2015-09-13 20:01] viveklife2003 commented on #2563
Below is entire output after running below commands
cd $NUPIC
python setup.py install

Output
Requirement already satisfied (use --upgrade to upgrade): nupic in /usr/local/lib/python2.7/site-packages/nupic-0.3.1.dev0-py2.7.egg
Requirement already satisfied (use --upgrade to upgrade): asteval==0.9.1 in /usr/local/lib/python2.7/site-packages (from nupic)
Requirement already satisfied (use --upgrade

[2015-09-13 20:22] viveklife2003 commented on #2563
Hi Matt, I am getting same error when i run some existing examples in nupic folder.

For eg.

python $NUPIC/examples/opf/clients/hotgym/prediction/one_gym/swarm.py

then it throws an below error.

Traceback (most recent call last):
  File "swarm.py", line 33, in <module>
    from nupic.swarming import permutations_runner
ImportError: No module named swarming

[2015-09-13 21:13] cogmission commented on #2563
$NUPIC should= /Users/username/nupic

Whatever else may be wrong, this is a must... (I'm pretty sure. I've always had it set like this)

[2015-09-13 23:11] viveklife2003 commented on #2563
David,

I am not sure if it is going to matter or not, weather you are setting up
$NUPIC = /Users/username/nupic

or
$NUPIC = /Users/username/nupic/nupic

All what matter that your environment variable should point to folder where you have all the source files ( for eg. setup.py etc ). Please correct me if I am wrong.

Below is reason why i kept $NUPIC = /Users/username/nupic/nupic

I have set var

[2015-09-13 23:36] loretoparisi commented on #2543
Trying several times I came out with

[code]
and the same error again.

[2015-09-13 23:43] loretoparisi commented on #2543
@codedhard If I try to install nupic.bindings before nupic I get

[code]
and then

[code]

where ```/Library/Python/2.7/site-packages/``` are supposed to go Python packages.
Is there a circular dependency between ```nupic``` and ```nupic.bindings``` somewhere?

[2015-09-13 23:52] cogmission commented on #2563
Ah, I see. From now on, you can just clone items from github without creating a "holding" directory because the repo will be downloaded and put into a dir with the repo name (as yours did). But yeah, I see what you're saying and I agree they are functional equivalents.

[2015-09-14 00:17] viveklife2003 commented on #2563
Do you have any idea why my imports are failing?

[2015-09-14 00:55] codedhard commented on #2543
@loretoparisi
I was wrong.

Download from https://github.com/numenta/nupic  zip archive.

unzip nupic-master
cd nupic-master
sudo python setup.py install

[2015-09-14 01:00] rhyolight commented on #2563
Vivek,

You installation certainly seems like it worked. Let's try something very
simple. First of all, move away from your nupic directory, so "cd ~" so you
are outside nupic.

Then run the following commands and paste the output:

Thanks,

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Sun, Sep 13, 2015 at 5:17 PM, Vivek Shukla <notifications@github.com>
wrote:

[2015-09-14 01:02] rhyolight commented on #2543
@breznak Is this still failing for you, too?

[2015-09-14 01:04] rhyolight commented on #2543
Guys, you should not need to manually install `nupic.bindings` if you are building from source. The nupic build process will install it for you. So, hopefully all you need is to run `python setup.py install [--user]` from the nupic checkout directory.

If you are installing from binary on Linux, you need to manually install the `nupic.bindings` binary like this:

    pip install https://s3-us-west

[2015-09-14 02:17] viveklife2003 commented on #2563
Matt,

As suggested, i have run below commands from my home directory ( i.e. from outside nupic directory )
and following are the output of the command

PHXC02Q40EGG8WL:~ vserrk$ which python
/usr/local/bin/python
PHXC02Q40EGG8WL:~ vserrk$ python --version
Python 2.7.10
PHXC02Q40EGG8WL:~ vserrk$ python -c "import nupic;print nupic"
<module 'nupic' (built-in)>
PHXC02Q40EGG8WL:~ vserrk$

But if i ru

[2015-09-14 02:34] viveklife2003 commented on #2563
I also noticed  from python terminal, below command works

<module 'nupic' (built-in)>

but from same terminal, below commands doesn't works

  File "<stdin>", line 1
    python -c "import nupic;print nupic"
                                       ^
SyntaxError: invalid syntax.

[2015-09-14 11:20] loretoparisi commented on #2543
@codedhard thank you, I have installed compiling from the sources!!!

[code]

@rhyolight no way to install from pip, but at least now I can work :+1:

Thanks a lot.

[2015-09-14 16:46] rhyolight commented on #2543
@loretoparisi Ok, great! Thank you for the reports.

[2015-09-14 16:46] rhyolight commented on #2543
@codedhard And thanks for your help, too. :smile:

[2015-09-14 17:03] RDaneelOlivav commented on #2545
Sure ;).
Tha data that I am trying to use is a FFT ( Fast Fourier Transfrom) of people speaking with various entonations in different languages

[2015-09-14 17:36] viveklife2003 commented on #2563
Hi Matt,

can you please tell me what could be the issue and solution to fix it.

[2015-09-14 19:35] rcrowder opened #2565 "Pattern and Sequence machines shift to using nupic::Random"
Currently the Pattern and Sequence machines in NuPIC use NumPy rand. This issue is to move the two machines across to use NuPIC Random.

[2015-09-14 19:55] cogmission commented on #2565
Back in August of last year there was an effort to keep random number generator implementations close to the Mersenne Twister which is the default for C and python - custom implementations will only serve to distance porting people interested from getting the same results why even go that direction; why do we need a custom RMG implementation?

[2015-09-14 20:55] rhyolight commented on #2563
@viveklife2003 One problem you are having can be explained because you are trying to run shell commands in a python terminal. The following commands are shell commands:
- `which python`
- `python --version`
- `python -c "import nupic;print nupic"`

These will only execute properly in a shell like bash or zsh, **not** in the python interpreter.

I am most interested in the output of running `python

[2015-09-14 22:35] viveklife2003 commented on #2563
Here is the output

As suggested, i have run below commands from my home directory ( i.e. from outside nupic directory which is "/Users/username")
and following are the output of the command

PHXC02Q40EGG8WL:~ vserrk$ which python
/usr/local/bin/python
PHXC02Q40EGG8WL:~ vserrk$ python --version
Python 2.7.10
PHXC02Q40EGG8WL:~ vserrk$ python -c "import nupic;print nupic"

[2015-09-14 22:38] oxtopus opened #2567 "monitor mixin class prints to stdout"
I unexpectedly encountered the following text in a file in which I'd directed the output of a utility script to a file:

[code]

The output was intended to be csv, but because matplotlib was not installed, it had this incompatible text at the head.

[2015-09-14 22:52] viveklife2003 commented on #2563
Matt below is output

Which python
/usr/local/bin/python

python --version
Python 2.7.10

Python -c "import nupic:print nupic"
<module 'nupic' (built-in)

Sent from my iPhone

[2015-09-14 23:27] subutai opened #2569 "Remove nupic/research and move algorithm code to nupic/algorithms"
It is very confusing to have both nupic/research and nupic/algorithms, both of which contain algorithms. We currently import many algorithms from nupic.research instead of nupic.algorithms  It is even more confusing given that we have a nupic.research repository which is yet another thing.

This issue is to move algorithm code from nupic/research to nupic/algorithms, and to delete nupic/research a

[2015-09-15 01:10] #2567 closed

[2015-09-15 02:05] felippemr opened #2570 "Error installing nupic on OSX yosemite(10.10.4)"
Hello Guys!

I am trying to install nupic by pip( pip install nupic) but I get this error:

raise Exception("Must provide path to nupic core release. export NUPIC_CORE_RELEASE=<path>")

Exception: Must provide path to nupic core release. export NUPIC_CORE_RELEASE=<path>

Can you please help?

[2015-09-15 02:38] viveklife2003 commented on #2563
Hi Matt,

Please help me to resolve this issue. Want to dive more into nupic But I have blocked because of this.

I was thinking to go through the some sample example but this error is not allowing me to work further .

Sent from my iPhone

[2015-09-15 14:19] rhyolight commented on #2563
@viveklife2003 You said when you ran `python -c "import nupic:print nupic"` you got this as your console output:

    <module 'nupic' (built-in)

But that looks incomplete. Is there any more output? @oxtopus what does "(built-in)" mean? I've not seen that before.

[2015-09-15 14:30] rhyolight commented on #2545
I don't think this is the right approach, because the context of the individual frequency band counts is lots when `[15, 5, 3]` is squeezed into `1553`. For instance, if `3` changed to `30`, the number goes from 1553 to 15530, which represents a huge distance from 1553, when actually two of the values didn't change. The nature of SDRs means that your data will be misrepresented here.

Because I've

[2015-09-15 14:34] rhyolight commented on #2545
I think they typical way to go about this is to create a model with one field for each frequency band. I believe I tried this at first in `nupic.critic`, but I didn't know which band should be the "predicted field". So I just created one model for each band, only using that band's data and getting anomalies from each model only for the frequency band it was observing.

[2015-09-15 14:38] metaml opened #2571 "null-pointer exception in htm.java in version 0.6.1"
This is bug is reproducible by modifying a two coupled hard-coded values in NetworkTest.java:

* in line 220 of NetworkTest.java, change to "i.getRecordNum() == 82"
* in line 237 of NetworkTest.java, change to "assertEquals(83, lines.size());"

For consistency sake, the 2 lines were modified, if it works, the tests will just pass but the null-pointer exceptions will fire somewhere before the line

[2015-09-15 14:43] cogmission commented on #2571
@metaml Hi There! :-)

This should be filed agains the htm.java repo, not NuPIC - I know you didn't know... its ok, you should go [here](https://github.com/numenta/htm.java) and file it and close this one...

Thanks for engaging though! :-)

[2015-09-15 14:54] viveklife2003 commented on #2563
Yes this is what I have received .

Can you explain what need to be done to fix it.

Sent from my iPhone

[2015-09-15 15:16] oxtopus commented on #2563
@rhyolight That message is what you see when `import nupic` imports the namespace package.  `import nupic` is no longer sufficient to determine whether or not `nupic` proper is installed since, technically, you can have `nupic.bindings` without `nupic` proper.

[2015-09-15 15:45] viveklife2003 commented on #2563
Matt/Austin - Then what could be other work around to determine it.

Sent from my iPhone

[2015-09-15 15:50] codedhard commented on #2563
Do you have folder nupic in /usr/local/lib/python2.7/site-packages/
If so delete it.
Then try "import nupic"

[2015-09-15 16:18] felippemr commented on #2570
I tried to install by vagrant and got the same error:

      raise Exception("Must provide path to nupic core release. export NUPIC_CORE_RELEASE=<path>")
    Exception: Must provide path to nupic core release. export NUPIC_CORE_RELEASE=<path>

    ----------------------------------------
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-18qhAN/nupic.bindings
The command

[2015-09-15 16:20] felippemr commented on #2570
I tried to build the project from source and got the same error.

[2015-09-15 17:09] RDaneelOlivav commented on #2545
I see the point there @rhyolight, it changes too much. This morning I've been experimenting with multiencoders, that would give that effect too? I'm giving in the "fieldEncodings" one for each frequency batch and it will output a sigle SDR with all those combined.

What I don't really understand with doing multiple models is that you just see anomalies in the prediction of each frequency batch alo

[2015-09-15 17:54] oxtopus commented on #2563
I recommend `python -c 'import pkg_resources; nupic=pkg_resources.get_distribution("nupic"); print nupic.project_name, nupic.version, nupic.location'`.  For example, on my system:

[code]

[2015-09-15 17:57] viveklife2003 commented on #2563
@codedhard, @rhyolight , @oxtopus - I am getting same output even after deleting "nupic" folder from "/usr/local/lib/python2.7/site-packages/". There are some more folders but i have deleted just "nupic" folder from "/usr/local/lib/python2.7/site-packages/".

After deletion. i ran again (python -c "import nupic;print nupic" ) from home directory of my terminal ( i.e. "/Users/username". I have got

[2015-09-15 18:32] felippemr commented on #2543
When I try to install I still get the error:
Exception: Must provide path to nupic core release. export NUPIC_CORE_RELEASE=<path>

[2015-09-15 18:52] viveklife2003 commented on #2563
@oxtopus - I  have tried your recommendation too i.e. python -c 'import pkg_resources; nupic=pkg_resources.get_distribution("nupic"); print nupic.project_name, nupic.version, nupic.location'

Below is output for above command-
nupic 0.3.1.dev0 /Users/vshuk11/nupic/nupic

[2015-09-15 20:15] rhyolight commented on #2563
@viveklife2003 I have no idea what is going wrong. It looks like your installation was successful. You are able to import and inspect the `nupic` python module.

When you run the following command from the command line, what happens?

    python -c "from nupic.support.configuration import Configuration"

I would expect you to get the same error that you reported above when you ran `python ~/exampl

[2015-09-15 20:24] viveklife2003 commented on #2563
Yes @rhyolight am getting same error. I am really not sure what is happening? I want to go through some examples and also want to do some POC my project requirement but since it is not working am not able to do anything.

Below is the output after running (python -c "from nupic.support.configuration import Configuration")

ImportError: No module named support.configuration.

[2015-09-15 20:28] rcrowder commented on #2543
I face the same error when trying to convince NuPIC setup.py to download a custom NuPIC.Core repo. I always thought it maybe down to the execfile used to call the second setup.py in bindings. The environment it exec's the bindings/py/setup.py file looks quite empty. For me, to move forward I had to modify the setup to use ```nupicCoreReleaseDir = PY_BINDINGS + '/../..'```, but that is overly compl

[2015-09-15 20:32] viveklife2003 commented on #2563
@rhyolight - I really want to get this issue resolved. I will need your help, i have lot of dependencies for my projects. My POC will help my team to decide if we can use nupic to fulfill our projects requirements.

Do you want me to re install python or nupic again.
If so, what can be the best way to uninstall and install nupic so that it will work.  Not sure if this error is coming because of an

[2015-09-15 21:48] oxtopus opened #2572 "KNN*ClassifierRegion.py files should use nupic.bindings.math.Random"
This ought to be part of a bigger initiative to standardize on a single random number generator implementation.

[2015-09-15 21:49] rhyolight commented on #2563
@viveklife2003 what operating system are you using?

[2015-09-15 21:51] rhyolight commented on #2563
@viveklife2003 Let's try a binary installation.

First uninstall nupic entirely by running the following commands several times:

    pip uninstall nupic -y
    pip uninstall nupic.bindings -y

Now just run `pip install nupic` from any directory. If you have a permission problem, run `pip install nupic --user`.

The method you were using was installing from source code. This method will fetch the

[2015-09-15 22:40] rhyolight commented on #2565
@cogmission Yes, but it [looks like it was changed back in CoordinateEncoder](https://github.com/numenta/nupic/issues/1205#issuecomment-91409742)?

@scottpurdy @oxtopus What is our stance on this now?

[2015-09-15 22:53] oxtopus commented on #2565
We should consistently use the same RNG implementation across the board, regardless.  I support this change.

[2015-09-15 23:41] viveklife2003 commented on #2563
@rhyolight - I am able to uninstall it using above commands from my home directory (i.e. "/Users/vshuk11"), Below is output after running it for several times.

    PHXC02Q40EGG8WL:~ vshuk11$ pip uninstall nupic.bindings -y
Cannot uninstall requirement nupic.bindings, not installed

But re-installation doesnt works for me. I have tried to install it from my home folder(i.e."/Users/vshuk11")
Below

[2015-09-16 00:00] viveklife2003 commented on #2563
Matt - my operating system is OS X Yosemite. Version 10.10.5

Sent from my iPhone

[2015-09-16 01:05] rhyolight commented on #2563
@viveklife2003 Another idea. Run this command in your shell, which will display the `MACOSX_DEPLOYMENT_TARGET` environment variable

    echo $MACOSX_DEPLOYMENT_TARGET

It should be `10.10` for you. If it is not, run this command, which will set the environment variable in your local shell.

    export MACOSX_DEPLOYMENT_TARGET=10.10

Finally, [repeat the unintall / install as I instructed above](h

[2015-09-16 02:03] viveklife2003 commented on #2563
@rhyolight -- I tried all the ways. I have set the environment variable too using below command in my local shell.
    export  $MACOSX_DEPLOYMENT_TARGET

then i tried to install it again from my home directory, and am getting same error as above ( i.e Could not find the versions that satisfies the requirement from nupic. No matching distribution found fro nupic).

Also I tried to set below path in

[2015-09-16 05:42] scottpurdy opened #2574 "Create DataSource interface for RecordSensor"
The RecordSensor requires a "dataSource" attribute that has certain methods but this isn't well defined or documented. We should create a base class that defines the interface.

[2015-09-16 06:19] viveklife2003 commented on #2563
@rhyolight -  I think it worked now except for one thing. Before re installing nupic from binary, I ran

    brew update
    brew doctor
    brew install automake libtool cmake
    sudo easy_install pip

and then I ran

    pip install nupic

It worked now. I am able to import below command from terminal

    import nupic
    from nupic.support.configuration import Configuration

but it fails on b

[2015-09-16 06:32] oxtopus commented on #2563
That sort of error occurs when using the binary installation of nupic (such as what would be installed via `pip install nupic`) with the brew version of python.  The two aren't binary-compatible.

If you're going to use brew for python, then I'd recommend building nupic from source so that it links in the proper python lib.

[2015-09-16 07:07] viveklife2003 commented on #2563
@oxtopus so do i need to again uninstall nupic  or i have to just build the existing source code which is there on my local machine. I have installed nupic using OS X binary through below commands.

    pip install nupic

I went through this way because earlier i installed nupic through git hub source code using below command which doesnt work for me and i was getting import failure for some packa

[2015-09-16 13:30] allanino commented on #2528
Hey @rhyolight, you might have missed my previous comment.

[2015-09-16 14:28] rhyolight commented on #2528
I think I'd rather have a `Dockerfile-complete` in this repo than have to manage another repo. Can we try that for now? We can always extract to another repo if it confuses people.

[2015-09-16 14:43] allanino commented on #2528
Sure! I'll create a PR.

[2015-09-16 16:39] rhyolight commented on #2563
Here is how I switch from brew python to system python:

    brew uninstall python
    sudo easy_install pip

But you will have to reinstall nupic again, now that you're using system python.

[2015-09-16 21:44] viveklife2003 commented on #2563
@rhyolight - Thank a lot for your help.  It worked after installing it again from source code without brew using below command.

    python setup.py install.

Before that I also tried to install it through OS X binary after uninstalling brew, but then it didn't worked through that way. I was getting same error.

Now am getting connection issues from MYSQL( I am new to MYSQL )
But I not able to run

[2015-09-16 22:32] scottpurdy commented on #2565
`nupic::Random` should be the only RNG we use right now. I'd be fine switching to something that has implementations in different languages that yield identical results but we don't have that right now. C++ stdlibs and Python `random` both have mersenne twister implementations but I don't think they get the same results given the same seed.

[2015-09-16 23:59] viveklife2003 commented on #2563
@rhyolight - To follow it up again, I uninstalled mysql from mac and installed it again, so what i did ( since it is fresh installation, I believe mysql should have default user as "root" and passwd as "")

    1. I installed mysql from mysql-5.6.26-osx10.9-x86_64.dmg
    2. pip install MySQL-python

I reverted all my changes frpm "~/examples/swarm/nupic-default.xml" and took a fresh copy of sourc

[2015-09-17 00:30] rhyolight commented on #2563
Are you sure your mysql database is running? Can you run `mysql` to get
shell access to it?

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Wed, Sep 16, 2015 at 4:59 PM, Vivek Shukla <notifications@github.com>
wrote:

[2015-09-17 00:37] viveklife2003 commented on #2563
Yes it is running.Here is terminal output for "mysql"

    PHXC02Q40EGG8WL:~ vshuk11$ mysql
    Welcome to the MySQL monitor.  Commands end with ; or \g.
    Your MySQL connection id is 356
    Server version: 5.6.26 MySQL Community Server (GPL)

    Copyright (c) 2000, 2015, Oracle and/or its affiliates. All rights reserved.

    Oracle is a registered trademark of Oracle Corporation and/or its

[2015-09-17 00:47] viveklife2003 commented on #2563
Other than above mrsql information, do i need to create any extra environment variable which is specific to this example ( i.e. /$NUPIC/examples/swarm/test_db.py ).

[2015-09-17 02:09] viveklife2003 commented on #2563
@rhyolight @oxtopus -- I am really not understanding from where it is picking up below credential ( usename - "vshuk11" and password - "mypasswd") in error log. My nupic-default.xml has username as "root" and password is "".
To make it double sure, i changed my password for user root as blank(i.e. ""). I ran below commands to set new password for user root

    cd /usr/local/mysql/bin/
    ./mysql

[2015-09-17 02:35] rhyolight commented on #2563
Did you create a nupic-site.xml file? That overrides nupic-default.xml.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Wed, Sep 16, 2015 at 7:09 PM, Vivek Shukla <notifications@github.com>
wrote:

[2015-09-17 02:46] viveklife2003 commented on #2563
@rhyolight - this afternoon, by mistake duplicate file for nupic-default.xml got created in "$NUPIC/nupic/support/" folder but i deleted right away.

I am not aware of nupic-site.xml file. In which, folder I will find this file? Since am very new to nupic as well as mysql, am really not aware of many configurational settings .Is there any work around to resolve this mysql database issue. Want to m

[2015-09-17 03:42] rhyolight commented on #2563
Because when you run `test_db.py` you get the following:

[code]

There must be somewhere in your configuration where that user and passwd are being set. You can tell what files you've touched by running `git status`. The only place that user and passwd should be stored is in `nupic/support/nupic-default.xml` or `nupic/support/nupic-site.xml` (if you provide it). I don't know how else NuPIC would

[2015-09-17 06:41] viveklife2003 commented on #2563
@rhyolight @oxtopus - I have reinstalled nupic from github source code to avoid any more confusion. But still when am running test_db.py am getting same error with but with root credentials. Can you suggest me now what could be the issue. Just to repeat, for installing mysql on mac, i have followed below two steps.

    1. I installed mysql from mysql-5.6.26-osx10.9-x86_64.dmg
    2. pip install M

[2015-09-17 14:34] oxtopus commented on #2563
You can also override configuration directives using environment variables, leaving the .xml configuration schema alone.  The table below shows the relevant environment variables you can set, and the nupic configuration directives that they override.

|ENV var|nupic configuration directive|
|---|---|
|`NTA_CONF_PROP_nupic_cluster_database_passwd`|`nupic.cluster.database.passwd`|
|`NTA_CONF_PROP_nu

[2015-09-17 15:02] viveklife2003 commented on #2563
Austin - now I have already uninstalled everything and reinstalled nupic to remove this override issue.

But with new install also it is failing for default user "root" and default password which is empty.

MySQL is running on my OS X Yosemite but I don't know why nupic is not able to connect with MySQL .

Now I am not changing any config files also, trying to use all default configuration.

Is th

[2015-09-17 15:37] rhyolight commented on #2563
@viveklife2003 I'm sorry you are still having trouble, but we have helped you all we can. You seem to have something misconfigured with either you local MySQL configuration or NuPIC configuration. There is a lot of advice of how to try to fix this in our comments above. I do not believe this is a NuPIC problem. Your problem is unfortunate, but we can only spend so much time trying to debug situati

[2015-09-17 15:37] #2563 closed

[2015-09-17 16:20] rhyolight commented on #2569
@subutai Is this an easy enough refactoring that a non-algorithms programmer could do it?

[2015-09-17 16:23] rhyolight commented on #2571
Replaced by https://github.com/numenta/htm.java/issues/316

[2015-09-17 16:23] #2571 closed

[2015-09-17 16:28] rhyolight commented on #2570
Sorry about the delay on this, @felippemr. This error generally occurs because there is an older (bad) version of NuPIC installed on your system. Try this:

    pip uninstall nupic -y
    pip uninstall nupic.bindings -y

Run those commands until it says `Cannot uninstall requirement nupic, not installed`. This should remove the old version of NuPIC (if there was one).

Then you can either install

[2015-09-17 16:39] rhyolight commented on #2545
I don't know much about the MultiEncoder, so I just [asked some questions](http://lists.numenta.org/pipermail/nupic_lists.numenta.org/2015-September/011708.html) about it.

From your description of what you want above, you probably need hierarchy, which we are not quite working on yet. The research focus is sensorimotor, feedback, and 3rd generation temporal pooling, which will help enable hierarc

[2015-09-17 16:41] rhyolight commented on #2545
@RDaneelOlivav All that being said, I don't think that this issue definition will actually get you what you want, so I will close it out. Please keep an eye out for future work that will enable a hierarchy. We are all looking forward to it.

[2015-09-17 16:41] #2545 closed

[2015-09-17 16:43] rhyolight commented on #2543
@breznak Can you try to uninstall NuPIC entirely and reinstall from latest source? I don't think this error should be happening unless there is an old version on your system. But I'm still getting reports of it so I just want to make sure it is not something more sinister.

[2015-09-17 16:44] rhyolight commented on #2572
If we use `nupic.bindings.math.Random`, how is @cogmission going to use the same generator in HTM.java?

[2015-09-17 16:47] #2528 closed

[2015-09-17 17:58] felippemr commented on #2570
@rhyolight the error persists...

When I run `:

[2015-09-17 18:02] felippemr commented on #2570
@rhyolight I did exactly what you wrote but the problem persists(I tried to install from binary).

FYI when I run ```pip freeze``` it prints:
numpy==1.9.2
urllib3==1.12
wsgiref==0.1.2

[2015-09-17 18:07] rhyolight commented on #2570
There has **got** to be some remnant of an older NuPIC installation left over on your system somewhere. The error `Exception: Must provide path to nupic core release. export NUPIC_CORE_RELEASE=` is not generated by our current codebase (post 0.3.0).

Please run the following command from anywhere so we can try to identify what version of NuPIC you are running and where it is installed:

    python

[2015-09-17 18:21] rcrowder commented on #2565
I'm just tracking down why I now face SparseMatrix and OPF failures with this branch. Possibly bad 0.5.1 bindings... Once tests passing locally will get a new PR ready.

[2015-09-17 18:28] felippemr commented on #2570
When I run ```python -c 'import pkg_resources; nupic=pkg_resources.get_distribution("nupic"); print nupic.project_name, nupic.version, nupic.location'```

I get:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Users/felippe.gestec/.virtualenvs/heimdall/lib/python2.7/site-packages/pkg_resources.py", line 346, in get_distribution
    if isinstance(dist,Requirement)

[2015-09-17 18:29] rhyolight commented on #2570
pkg_resources.DistributionNotFound: nupic

Looks like NuPIC is no longer installed. Can you reinstall it?

[2015-09-17 18:31] felippemr commented on #2570
I tried and the full log is here:

[code]

[2015-09-17 18:59] rhyolight commented on #2570
I think I know what is going on here. This is happening to several people in different ways, but it always boils down to a the same `NUPIC_CORE_RELEASE` exception.

Our last releases, 0.2.6 & 0.2.7, produced bad binary files for `nupic.bindings` on pypi. I believe that fixed this problem in the source code, but we never bumped the `nupic.bindings` version for a re-release on pypi. So people have a

[2015-09-17 19:02] rhyolight commented on #2570
I believe this is the same core issue as #2543, so I am going to close as a duplicate. Let's continue our conversation there.

[2015-09-17 19:02] #2570 closed

[2015-09-17 19:03] felippemr commented on #2570
Thank you!

[2015-09-17 19:03] rhyolight commented on #2543
@breznak I think I know what might be the problem here, see https://github.com/numenta/nupic/issues/2570#issuecomment-141189212. We'll continue the discussion here if you have any input.

[2015-09-17 23:44] rhyolight commented on #2543
@felippemr We just releases NuPIC 0.3.1. Can you please try to uninstall and reinstall for an upgrade [per these instructions](http://lists.numenta.org/pipermail/nupic_lists.numenta.org/2015-September/011719.html)? Thanks.

[2015-09-18 14:38] oxtopus opened #2580 "Unable to run unit tests"
After updating to latest (#2576), I'm no longer able to run the unit tests giving the following errors:

[code]

See [full output here](https://gist.github.com/rhyolight/f6ba2138cab9894780e6).

[2015-09-18 14:51] oxtopus commented on #2580
I don't think the namespace package convention is working in latest.

[2015-09-18 14:51] rhyolight opened #2581 "hot gym prediction example has bad print format statement"
there's a bug in line 119 in run.py in that tutorial, it needs a % instead of , for formatting (from @JonnoFTW)

[2015-09-18 15:02] oxtopus commented on #2580
Doesn't appear to be a problem if I install with `pip`, however, `pip -e` doesn't work, so that leaves me without a developer option, requiring a full reinstall when I need to make any changes.

FYI @chetan51

[2015-09-18 15:03] rhyolight commented on #2580
I installed with `python setup.py install` and it works for me.

[2015-09-18 15:04] rhyolight commented on #2580
@oxtopus I get the same errors as you when I install with `python setup.py develop`.

[2015-09-18 15:17] rcrowder commented on #2580
Not tried develop route yet. The pip install of the bindings wheel into Ubuntu 14.04 LTS VM, followed by pip install nupic works with the ```./scripts/run_nupic_tests -u``` and the ```py.test tests/unit``` producing same passing results.

[2015-09-18 15:17] #2581 closed

[2015-09-18 21:13] rhyolight commented on #2543
I will likely close this issue if I don't hear back from @breznak or @felippemr by Tuesday.